<label ng-show="formField.field.label" dynamic-content="formField.field.label | html"></label>
<label ng-show="formField.field.description" dynamic-content="formField.field.description | html"></label>
<div class="bordered">
    <div class="form-group" ng-repeat="singleAttribute in formField.singleAttributes track by $index">
        <input type="radio" id="attribute_{{formField.attributeType.name}}_{{$index}}" name="{{formField.attributeType.name}}" ng-value="{{singleAttribute[formField.attributeType.attributeTypeId]}}" ng-model="formField.responses.singleAttributes[formField.attributeType.attributeTypeId]" />
        <label for="attribute_{{formField.attributeType.name}}_{{$index}}">
            {{singleAttribute[formField.attributeType.attributeTypeId].attribute.name}} {{singleAttribute[formField.attributeType.attributeTypeId].attribute.description}}
        </label>
    </div>
</div>
<br>