<!--Documentation: http://msdn.microsoft.com/en-us/library/ff660914%28v=pandp.20%29.aspx -->
<scheduledDataUnity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="Crossroads.ScheduledDataUpdate" />
  <assembly name="crds-angular" />
  <container>
    <register type="Crossroads.ScheduledDataUpdate.Program" />
  </container>
</scheduledDataUnity>