<div ng-if="!request.allowAccess && request.viewReady" class="alert alert-danger" role="alert">
  <div dynamic-content="$root.MESSAGES.mptool_invalid_access.content | html"></div>
</div>

<div ng-if="request.allowAccess">
  <preloader full-screen="true" ng-show="!request.viewReady"> </preloader>
  <div ng-if="request.viewReady"  class="col-md-6 col-md-offset-3"> 
    <h1> Childcare Request </h1>
    <form name="request.childcareRequestForm" novalidate ng-submit="request.submit()">

      <div class="form-group" ng-class="{'has-error': request.validateField('congregation')}">
      	<label class="control-label required" for="congregation">Site</label>
      	<select name="congregation" 
                class="form-control"
                ng-options="congregation.dp_RecordName for congregation in request.congregations track by congregation.dp_RecordID" 
                ng-model="request.choosenCongregation"
                required 
                ng-change="request.getGroups()">
          <option value=""> -- Choose your Site -- </option>
      	</select>
        <ng-messages for="request.childcareRequestForm.congregation.$error" ng-if="request.validateField('congregation')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group" ng-class="{'has-error': request.validateField('ministry')}">
      	<label class="control-label required" for="ministry">Ministry</label>
      	<select name="ministry"
                class="form-control"
                ng-model="request.choosenMinistry"
                required
                ng-change="request.getGroups()"
                ng-options="ministry.dp_RecordName for ministry in request.ministries track by ministry.dp_RecordID">
          <option value=""> -- Choose your Ministry -- </option>
      	</select>
        <ng-messages for="request.childcareRequestForm.ministry.$error" ng-if="request.validateField('ministry')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group" ng-class="{'has-error': request.validateField('ministry')}" ng-show="request.showGroups()">
      	<label class="control-label required" for="group">Group</label>
      	<select class="form-control" 
                name="group"
                ng-model="request.choosenGroup"
                required
                ng-options="ministry.dp_RecordName for ministry in request.ministries track by ministry.dp_RecordID" >
          <option value=""> -- Choose your Group -- </option>
      	</select>
      </div>

      <div class="form-group col-sm-6">
      	<date-range start-date="request.startDate" end-date="request.endDate" min-date="request.minDate">Date Range</date-range>
      </div>
      <div class="form-group col-sm-6">
      	<label class="control-label required" for="frequency">Frequency</label>
      	<input type="text" name="frequency"/>
      </div>
      <div class="form-group col-sm-6">
      	<label class="control-label required" for="preferredTime">Preferred Time</label>
      	<select type="text" name="preferredTime">
      		<option>Now till Later</option>
      		<option>Then till Later</option>
      	</select>
      </div>
      <div class="form-group col-sm-6">
      	<label class="control-label required" for="childrenAttending">Estimated # of Children</label>
      	<input type="text" name="childrenAttending"/>
      </div>
      <div class="form-group col-sm-6">
      	<label class="control-label" for="notes">Notes</label>
      	<textarea name="notes"/>
      </div>
      <div class="form-group">
      	<input class="btn btn-primary btn-sm" type="submit" value="submit">
      </div>
    </form>
  </div>
</div>
