<div class="group">
  <div class="images">
    <img src="https://www.crossroads.net/proxy/gateway/api/image/profile/{{member.contactId}}" alt="" ng-repeat="member in group.members"  ng-if="group.isHost === true">
    <img src="https://www.crossroads.net/proxy/gateway/api/image/profile/{{group.host.contactId}}" alt=""  ng-if="group.isHost === false">
  </div>
  <div class="description">
    <p>A co-ed group meeting on Mondays at 7:00pm</p>
    <p>This group meets at <a href="#">{{group.addressLine1}}, {{group.postalCode}}</a></p>
    <a class="select btn btn-primary" ng-if="group.isHost === true" href="/brave/dashboard/group/{{group.id}}">Select</a>
    <a href="mailto:{{group.host.email}}" ng-if="group.isHost === false">Email your host {{group.host.firstName}} {{group.host.lastName}}</a>
  </div>
</div>
