<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <p>Age Range</p>
        <div class="checkbox" ng-repeat="ageRange in groupSearchFilter.ageRanges" >
            <label for="ageRange-{{ageRange-attributeId}}">
                <input ng-model="ageRange.selected"
                       type="checkbox"
                       ng-value="ageRange.attributeId"
                       id="ageRange-{{ageRange-attributeId}}" />
                {{ageRange.name}}
            </label>
        </div>
    </div>
</div>
<div>
    <button type='button' class='btn btn-primary' ng-click="groupSearchFilter.applyFilters()">Update Filter</button>
</div>

