.pending-delete {
  color: grey; 
  border-color: grey;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.group-participants {
  padding-right: 0px;
  display: flex;
  flex-wrap: wrap;

  group-detail-participant-card {
    width: 31%;
    margin: 1%;

    .group-participant {
      height: 50px;
      padding-left: 7%;
      padding-right: 7%;
      padding-bottom: 7%;

      .group-participant-name {
        font-weight: 400;
        line-height: 1.625;
        font-size: 1em;
        margin-top: 16px;

        span {
          font-weight: 400;
        }
      }

      .group-participant-leader {
        font-weight: 700;
        line-height: 1.625;
        font-size: 1em;
        margin-top: 16px;

        span {
          font-weight: 700;
        }
      }

      .group-participant-image {
        border: 1px solid black;
      }

      svg {
        margin-top: 15px;
        width: 15px;
        height: 15px;
      }
    }

    .group-participant:nth-child(3n) {
      margin-right: 0;
    }

    .group-participant:nth-child(3n+1) {
      margin-left: 0;
    }
  }
}
