.my-groups-links {
  padding-left: 2%;
  margin-left: -65px;

  a {
    border-radius: 3px;
  }
}

.my-groups {
  padding-right: 0px;
  display: flex;
  flex-wrap: wrap;

  group-card {
    width: 45%;
    margin: 1%;

    .group-detail {
      height: 375px;
      background-color: #d9d9d9;
      border-style: solid;
      border-width: thin;
      padding-left: 7%;
      padding-right: 7%;
      padding-bottom: 7%;

      .group-title {
        font-weight: 500;
        color: #222222;
        line-height: 1.22222222;
        font-size: 19px;
        margin-top: 16px;

        span {
          font-weight: 300;
        }
      }

      .group-details {
        height: 83%;
      }

      .group-buttons {
        margin-top: 9px;

        button {
          width: 175px;
        }
      }
    }

    .group-detail:nth-of-type(2n) {
      margin-right: 0;
    }

    .group-detail:nth-of-type(2n+1) {
      margin-left: 0;
    }

    .group-action {
      height: 375px;

      div.group-pad {
        background-color: #fff;
        height: 5%;
      }

      div.group-panel {
        height: 47.5%;
        text-align: center;
        border-style: solid;
        border-width: thin;
        background-color: #d9d9d9;
        cursor: pointer;

        svg {
          margin-top: 13px;
          width: 66px;
          height: 66px;
        }

        .group-title {
          font-weight: 500;
          color: #222222;
          line-height: 1.22222222;
          font-size: 19px;
          margin-top: 10%;
        }
      }
    }

    .group-action:nth-of-type(2n) {
      margin-right: 0;
    }

    .group-action:nth-of-type(2n+1) {
      margin-left: 0;
    }
  }
}
