.my-group-card-round-plus {
  background: $brand-primary;
  border-radius: 50%;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  @extend .center-block;
}

.my-groups {
  display: flex;
  flex-wrap: wrap;

  group-card {
    width: 40%;
    margin: 1%;

    .group-details {
      height: 275px;
      max-height: 275px;
      background-color: #d9d9d9;
      border-style: solid;
      border-width: thin;
      padding-left: 2%;
      padding-right: 2%;
      padding-bottom: 2%;

      .group-title {
        font-weight: 500;
        color: #222222;
        line-height: 1.22222222;
        font-size: 19px;
        margin-top: 16px;

        span {
          font-weight: 300;
        }
      }
    }

    .group-details:nth-of-type(2n) {
      margin-right: 0;
    }

    .group-details:nth-of-type(2n+1) {
      margin-left: 0;
    }

    .group-action {
      height: 275px;
      max-height: 275px;

      .group-pad {
        background-color: #fff;
        height: 10%;
      }

      .group-panel {
        height: 45%;
        text-align: center;
        border-style: solid;
        border-width: thin;
        background-color: #d9d9d9;

        svg {
          width: 60px;
          height: 60px;
        }

        .group-title {
          font-weight: 500;
          color: #222222;
          line-height: 1.22222222;
          font-size: 19px;
          margin-top: 16px;
        }
      }
    }

    .group-action:nth-of-type(2n) {
      margin-right: 0;
    }

    .group-action:nth-of-type(2n+1) {
      margin-left: 0;
    }
  }
}
