<preloader full-screen='false' ng-show='!$ctrl.viewReady'> </preloader>
<div ng-if="$ctrl.viewReady">
  <go-volunteer-project-card project="$ctrl.project"></go-volunteer-project-card>

  <h3>My Team</h3>

  <div class="text-center">

    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile Phone</th>
          <th>Adults</th>
          <th>Children</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in $ctrl.participants">
          <td >{{row.name}}</td>
          <td>{{row.email}}</td>
          <td>{{row.phone}}</td>
          <td class="text-right">{{row.adults}}</td>
          <td class="text-right">{{row.children}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <h4 class="flush-top">
      <strong>Total Participants (including you):</strong> {{ $ctrl.totalParticipants() }}
    </h4>

    <h5>
      <a href="" ng-click="$ctrl.getExport()">Download Team Spreadsheet</a>
    </h5>

  </div>
</div>
