<div class="group">
  <header>
    <div class="media">
      <div class="media-left">
        <img class="media-object img-circle" ng-src="{{profileImage}}" alt="Profile Photo" err-src="{{defaultImage}}"/>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{person.firstName}} {{person.lastName[0]}}.</h4>
        <ul class="list-unstyled">
          <li ng-bind-html="getGroupType()"></li>
          <li ng-bind-html="getGroupTime()"></li>
          <li ng-bind-html="getGroupDistance()"></li>
        </ul>
      </div>
    </div>
  </header>

  <div>
    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <ul class="list-unstyled">
      <li ng-repeat="affinity in getGroupAffinities()">
        <svg ng-if="affinity.indexOf('Kids')!==-1" viewBox="0 0 20 28" class="icon icon-child"><use xlink:href="#child"></use></svg>
        <svg ng-if="affinity.indexOf('cat')!==-1||affinity.indexOf('dog')!==-1" viewBox="0 0 26 28" class="icon icon-paw"><use xlink:href="#paw"></use></svg>
        {{affinity}}
      </li>
    </ul>
  </div>
</div>
