<preloader full-screen='false' ng-show='!invoice.viewReady'> </preloader>
<section class="row" ng-show='invoice.viewReady'>
  <div class="col-sm-10 col-sm-offset-1" >
    <h1 id="InvoiceHeader" class="page-header">{{invoice.invoicesService.invoiceDetails.product.productName}} Invoice Payment</h1>
    <div class="push-top row">
      <div ng-if="invoice.alreadyPaid">
        <div dynamic-content="$root.MESSAGES.invoiceAlreadyPaid.content | html"></div>
      </div>
      <div ng-if="!invoice.alreadyPaid">
        <crds-embed
          href="{{invoice.url}}"
          frameborder="0"
          class="invoice-payment-widget"
          scrolling="no"> </crds-embed>
      </div>
    </div>
  </div>
</section>
