  <div class="row">
  
  <div ng-if="countdownHome.isCountdown" class="col-sm-50 type-color-grey h4">
    <a href="/live-v1/stream">Watch</a> a live stream of our next service in
    <ul class="list-inline">
      <li><strong>{{ countdownHome.countdown.days }}</strong> <small>days</small></li>
      <li class="vr"></li>
      <li><strong>{{ countdownHome.countdown.hours }}</strong> <small>hours</small></li>
      <li class="vr"></li>
      <li><strong>{{ countdownHome.countdown.minutes }}</strong> <small>min</small></li>
      <li class="vr"></li>
      <li><strong>{{ countdownHome.countdown.seconds }}</strong> <small>sec</small></li>
    </ul>
    <a href="#" class="btn btn-sm btn-primary" ng-click="countdownHome.openReminder()">Remind Me</a>
  </div>


  <div ng-if="countdownHome.isBroadcasting" class="col-sm-12 type-color-grey h4">
    Live stream in progress... <a class="btn btn-primary" href="/live-v1/stream">Watch Now</a>
  </div>

  
  <streaming-reminder></streaming-reminder>

  </div> <!-- row -->
