<div class="group-details" ng-if="groupCard.detail">
  <div class="group-title">Group Name
    <span ng-if="groupCard.group.leader">(Leader)</span>
    <span ng-if="!groupCard.group.leader">(Participant)</span>
  </div>
  <div>{{ groupCard.group.name }}</div>

  <div class="group-title">Group Focus</div>
  <div>{{ groupCard.group.focus }}</div>

  <div class="group-title">Meeting Time</div>
  <div>{{ groupCard.group.time }}</div>

  <div class="group-title">Meeting Location</div>
  <div>{{ groupCard.group.location }}</div>

  <div class="group-buttons" ng-if="!groupCard.group.leader">
    &nbsp;<!-- This is just for looks if not a leader -->
  </div>

  <div class="group-buttons">
    <button>
    <svg viewBox="0 0 32 32" class="icon eye2">
      <use xlink:href="/icons/cr.svg#eye2"></use>
    </svg>
      View Group Details
    </button>
    <button ng-if="groupCard.group.leader">
    <svg viewBox="0 0 32 32" class="icon icon-mail5">
      <use xlink:href="#mail5"></use>
    </svg>
      Email Group
    </button>
  </div>

  <div class="group-buttons">
    <button ng-if="groupCard.group.leader">
      <svg viewBox="0 0 32 32" class="icon icon-pencil4">
        <use xlink:href="#pencil4"></use>
      </svg>
      Edit Group Details
    </button>
    <button ng-if="groupCard.group.leader">
      <svg viewBox="0 0 32 32" class="icon icon-user6">
        <use xlink:href="#user6"></use>
      </svg>
      View Invites
    </button>
  </div>
</div>

<div class="group-action" ng-if="!groupCard.detail">
  <div class="group-panel">
    <div class="group-title">Find Another Group</div>
    <div>
      <svg viewBox="0 0 32 32" class="icon search3">
        <use xlink:href="#search3"></use>
      </svg>
    </div>
  </div>

  <div class="group-pad"></div>

  <div class="group-panel">
    <div class="group-title">Lead a Group</div>
    <div>
      <svg viewBox="0 0 32 32" class="icon plus4">
          <use xlink:href="#plus4"></use>
      </svg>
    </div>
  </div>
</div>
