<div class="group-card-panel panel panel-default is-flex flex-col flex-grow" ng-class="{ 'group-leader': groupCard.group.isLeader() }">
  <div class="panel-heading">
      <h3 class="panel-title">
        {{ groupCard.group.groupName }}
        <span class="label label-primary pull-right">{{ groupCard.group.role() }}</span>
      </h3>
  </div>
  <div class="group-card-body panel-body flex-grow">
    <div>Category</div>
    <div>{{ groupCard.group.categoriesToString() }}</div>

    <label>Meeting Time</label>
    <div>{{ groupCard.group.meetingTimeFrequency }}</div>

    <label>Meeting Location</label>
    <div>{{ groupCard.group.meetingLocation() }}</div>

    <div class="group-card-buttons push-half-top">
      <div class="row text-center">

        <div class="col-md-6 col-sm-12">
          <button type='button' class="btn btn-primary btn-block push-half-top" ui-sref='grouptool.detail({groupId: groupCard.group.groupId})'>
            <svg viewBox="0 0 32 32" class="icon icon-eye2">
              <use xlink:href="#eye2"></use>
            </svg>
            View Details
          </button>
        </div>

        <div class="col-md-6 col-sm-12">
          <button ng-if="groupCard.group.isLeader()" class="btn btn-standard btn-block push-half-top">
            <svg viewBox="0 0 32 32" class="icon icon-mail5">
              <use xlink:href="#mail5"></use>
            </svg>
            Email Group
          </button>
        </div>

        <div class="col-md-6 col-sm-12">
          <button ng-if="groupCard.group.isLeader()" class="btn btn-standard btn-block push-half-top">
            <svg viewBox="0 0 32 32" class="icon icon-pencil4">
              <use xlink:href="#pencil4"></use>
            </svg>
            Edit Group
          </button>
        </div>

        <div class="col-md-6 col-sm-12">
          <button ng-if="groupCard.group.isLeader()" class="btn btn-standard btn-block push-half-top">
            <svg viewBox="0 0 32 32" class="icon icon-user6">
              <use xlink:href="#user6"></use>
            </svg>
            View Invites
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
