<preloader full-screen='false' ng-if="!groupDetailRequests.ready && groupDetailRequests.currentView = 'List'"> </preloader>

<div ng-if='groupDetailRequests.listView() && groupDetailRequests.ready'>
  <div class="table-responsive">
    <table class="table group-requests-list">
      <thead>
        <th class='col-md-1'></th>
        <th class='col-md-2'>Name</th>
        <th class='col-md-2'>Request Type</th>
        <th class='col-md-2'>Email Address</th>
        <th class='col-md-2'>Request Date</th>
        <th class='col-md-3'></th>
      </thead>
      <tbody>
        <tr ng-repeat='inquiry in groupDetailRequests.inquired track by $index'>
          <td>
            <img class='img-responsive imgix-fluid requestor-image' ng-src='{{inquiry.imageUrl}}' err-src='{{inquiry.defaultProfileImageUrl}}'>
          </td>
          <td>
            {{inquiry.recipientName()}}
          </td>
          <td>
            Requested to Join
          </td>
          <td>
            {{inquiry.emailAddress}}
          </td>
          <td>
            {{inquiry.requestDate | date: 'MM/dd/yyyy'}}
          </td>
          <td>
            <button type='button' class='btn btn-standard' ng-click="groupDetailRequests.deny(inquiry)">Deny</button>
            <button type='button' class='btn btn-primary' ng-click="groupDetailRequests.approve(inquiry)">Approve</button>
          </td>
        </tr>
        <tr ng-repeat='invite in groupDetailRequests.invited track by $index'>
          <td>
            <img class='img-responsive imgix-fluid requestor-image' ng-src='{{invite.imageUrl}}'>
          </td>
          <td>
            {{invite.recipientName}}
          </td>
          <td>
            Invite Sent
          </td>
          <td>
            {{invite.emailAddress}}
          </td>
          <td>
            {{invite.requestDate | date: 'MM/dd/yyyy'}}
          </td>
          <td>
            &nbsp;
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='row'>&nbsp;</div>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-sm-12'>
        <p class='text-center'><button type='button' class='btn btn-primary' ng-click="groupDetailRequests.setView('Invite', false)">Invite Someone</button></p>
      </div>
    </div>
  </div>
</div>

<div class='container-fluid' ng-if='groupDetailRequests.approveView()'>
  <group-message person="groupDetailRequests.selectedInquiry"
    normal-loading-text="Approve"
    loading-loading-text="Approving..."
    header="Approve Participant - {{ groupDetailRequests.selectedInquiry.recipientName() }}"
    sub-header-text="groupToolApproveInquirySubheaderText"
    email-template-text="groupToolApproveInquiryEmailTemplateText"
    cancel-action="groupDetailRequests.cancel(person)"
    submit-action="groupDetailRequests.submitApprove(person)"
    processing="groupDetailRequests.processing"
    ></group-message>
</div>

<div class='container-fluid' ng-if='groupDetailRequests.denyView()'>
  <group-message person="groupDetailRequests.selectedInquiry"
    normal-loading-text="Deny"
    loading-loading-text="Denying..."
    header="Deny Participant - {{ groupDetailRequests.selectedInquiry.recipientName() }}"
    sub-header-text="groupToolDenyInquirySubheaderText"
    email-template-text="groupToolDenyInquiryEmailTemplateText"
    cancel-action="groupDetailRequests.cancel(person)"
    submit-action="groupDetailRequests.submitDeny(person)"
    processing="groupDetailRequests.processing"
    ></group-message>
</div>

<div class='container-fluid' ng-if='groupDetailRequests.inviteView()'>
  <group-detail-invite on-update="groupDetailRequests.setView(newView, refresh)" group-id="groupDetailRequests.groupId"></group-detail-invite>
</div>
