<div ng-if='groupDetailRequests.currentView === "List"'>
  <div class="table-responsive">
    <table class="table group-requests-list">
      <thead>
        <th class='col-md-1'></th>
        <th class='col-md-2'>Name</th>
        <th class='col-md-2'>Request</th>
        <th class='col-md-2'>Email Address</th>
        <th class='col-md-2'>Request Date</th>
        <th class='col-md-3'></th>
      </thead>
      <tbody>
        <tr ng-repeat='inquiry in groupDetailRequests.getInquiring() track by $index'>
          <td>
            <img class='img-responsive imgix-fluid requestor-image' ng-src='{{inquiry.imageUrl}}' err-src='{{inquiry.defaultProfileImageUrl}}'>
          </td>
          <td>
            {{inquiry.recipientName()}}
          </td>
          <td>
            Requested to Join
          </td>
          <td>
            {{inquiry.emailAddress}}
          </td>
          <td>
            {{inquiry.requestDate | date: 'MM/dd/yyyy'}}
          </td>
          <td>
            <button type='button' class='btn btn-primary'>Approve</button>
            <button type='button' class='btn btn-primary'>Deny</button>
          </td>
        </tr>
        <tr ng-repeat='invite in groupDetailRequests.invited track by $index'>
          <td>
            <img class='img-responsive imgix-fluid requestor-image' ng-src={{invite.defaultProfileImageUrl}}'>
          </td>
          <td>
            {{invite.recipientName}}
          </td>
          <td>
            Invite Sent
          </td>
          <td>
            {{invite.emailAddress}}
          </td>
          <td>
            {{invite.requestDate | date: 'MM/dd/yyyy'}}
          </td>
          <td>
            &nbsp;
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='row'>&nbsp;</div>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-sm-12'>
        <p class='text-center'><button type='button' class='btn btn-primary' ng-click='groupDetailRequests.beginInvitation()'>Invite Someone</button></p>
      </div>
    </div>
  </div>
</div>
<!--
This will be Done Later not executing these flows as part of this story.


<div class='container-fluid' ng-if='groupDetailRequests.currentView === "Approve"'>
  <form>
    <div class='row'>
      <div class='col-md-6 col-md-offset-3'>

        <div class='row'>
          <div class='col-md-12'>
            <h4>Approve Participant - {{groupDetailRequests.currentRequest.name}}</h4>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-12'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>

        <div class='row'>&nbsp;</div>

        <div class='row'>
          <div class='col-md-12'>
            <div class='form-group'>
              <label for='emailMessage' class='wide-label'>Message</label>
              <textarea type='textarea' rows='8' class='form-control' name='emailMessage' ng-model='groupDetailRequests.currentRequest.message'></textarea>
            </div>
          </div>
        </div>
        <div class='row'>&nbsp;</div>

        <div class='row'>
          <div class='col-md-12'>
            <p class='text-center'>
              <a type='button' class='btn btn-primary' href='#' ng-click='groupDetailRequests.setView("List")'>Cancel</a>
              <a type='button' class='btn btn-primary' href='#' ng-click='groupDetailRequests.approveRequest(groupDetailRequests.currentRequest)'>Send</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class='container-fluid' ng-if='groupDetailRequests.currentView === "Deny"'>
  <form>
    <div class='row'>
      <div class='col-md-6 col-md-offset-3'>

        <div class='row'>
          <div class='col-md-12'>
            <h4>Deny Participant - {{groupDetailRequests.currentRequest.name}}</h4>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-12'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>

        <div class='row'>&nbsp;</div>

        <div class='row'>
          <div class='col-md-12'>
            <div class='form-group'>
              <label for='emailMessage' class='wide-label'>Message</label>
              <textarea type='textarea' rows='8' class='form-control' name='emailMessage' ng-model='groupDetailRequests.currentRequest.message'></textarea>
            </div>
          </div>
        </div>

        <div class='row'>&nbsp;</div>

        <div class='row'>
          <div class='col-md-12'>
            <p class='text-center'>
              <a type='button' class='btn btn-primary' href='#' ng-click='groupDetailRequests.setView("List")'>Cancel</a>
              <a type='button' class='btn btn-primary' href='#' ng-click='groupDetailRequests.denyRequest(groupDetailRequests.currentRequest)'>Send</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class='container-fluid' ng-if='groupDetailRequests.currentView === "Invite"'>
  <form name='invitationForm' ng-submit='groupDetailRequests.sendInvitation(invitationForm, groupDetailRequests.invite)' novalidate>
    <div class='row'>
      <div class='col-md-6 col-md-offset-3'>

        <div class='row'>
          <div class='col-md-12'>
            <h3>Invite Someone</h3>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-12'>
            <div class='form-group' ng-class='{"has-error": invitationForm.$submitted && invitationForm.recipientName.$invalid}'>
              <label for='name' class='control-label required'>Name</label>
              <input type='text' class='form-control' name='recipientName' ng-model='groupDetailRequests.invite.recipientName' required></input>
              <ng-messages for="invitationForm.recipientName.$error" ng-show="invitationForm.$submitted && invitationForm.recipientName.$invalid">
                <ng-messages-include src="on-blur-messages"></ng-messages-include>
              </ng-messages>
              <ng-messages for="invitationForm.recipientName.$error" ng-if="invitationForm.$submitted && invitationForm.recipientName.$invalid">
                <ng-messages-include src="on-submit-messages"></ng-messages-include>
              </ng-messages>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-12'>
            <div class='form-group' ng-class='{"has-error": (invitationForm.$submitted || invitationForm.emailAddress.$dirty) && invitationForm.emailAddress.$invalid}'>
              <label for='emailAddress' class='control-label required'>Email Address</label>
              <input type='email' class='form-control' name='emailAddress' ng-model='groupDetailRequests.invite.emailAddress' ng-model-options='{ updateOn: "default blur", debounce: { "default": 500, "blur": 0 } }' required></input>
              <ng-messages for="invitationForm.emailAddress.$error" ng-show="(invitationForm.$submitted || invitationForm.emailAddress.$dirty) && invitationForm.emailAddress.$invalid">
                <ng-messages-include src="on-blur-messages"></ng-messages-include>
              </ng-messages>
              <ng-messages for="invitationForm.emailAddress.$error" ng-if="(invitationForm.$submitted || invitationForm.emailAddress.$dirty) && invitationForm.emailAddress.$invalid">
                <ng-messages-include src="on-submit-messages"></ng-messages-include>
              </ng-messages>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-12'>
            <div class='form-group' ng-class='{"has-error": invitationForm.$submitted && invitationForm.groupRoleId.$invalid}'>
              <label for='groupRoleId' class='control-label required'>This person's role will be:</label>
              <label ng-repeat='role in groupDetailRequests.groupParticipantRoles' class='radio-inline'>
                <input type="radio" name="groupRoleId" ng-model='groupDetailRequests.invite.groupRoleId' required value='{{role.id}}'/>{{role.label}}
              </label>
              <ng-messages for="invitationForm.groupRoleId.$error" ng-show="invitationForm.$submitted && invitationForm.groupRoleId.$invalid">
                <ng-messages-include src="on-blur-messages"></ng-messages-include>
              </ng-messages>
              <ng-messages for="invitationForm.groupRoleId.$error" ng-if="invitationForm.$submitted && invitationForm.groupRoleId.$invalid">
                <ng-messages-include src="on-submit-messages"></ng-messages-include>
              </ng-messages>
            </div>
          </div>
        </div>

        <div class='row'>&nbsp;</div>

        <div class='row'>
          <div class='col-md-12'>
            <p class='text-center'>
              <button type='button' class='btn btn-standard' ng-click='groupDetailRequests.setView("List")'>Cancel</button>
              <loading-button 
                input-type='submit'
                normal-text='Send'
                loading-text='Sending...'
                loading='groupDetailRequests.processing'
                loading-class='disabled'
                input-classes='btn btn-primary'/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
-->
