<h3>{{dashboard.profileData.person.nickName}}'s Group</h3>
<p>Your group of {{dashboard.groups[0].members.length}} meets {{dashboard.groups[0].time}} at {{dashboard.groups[0].addressLine1}}.</p>
<p>This group is {{dashboard.groupType}}</p>

<div class="row">
  <div class="col-md-6">
    <div class="member" ng-repeat="member in dashboard.groups[0].members">
      <div class="name">{{member.firstName}}  {{member.lastName}}</div>
      <div class="email"><a href="mailto:{{member.emailAddress}}">{{member.emailAddress}}</a></div>
      <ul class="desc">
        <li ng-repeat="affinity in member.affinities">{{affinity}}</li>
        <li>Has about an {{dashboard.driveTime}} drive</li>
      </ul>
    </div>
    <button class="btn btn-primary" ng-click="dashboard.emailGroup()">Email Group</button>
  </div>
  <div class="col-md-6">
    <form name="inviteForm" role="form" ng-submit="dashboard.inviteMember()" novalidate>
      <div class="form-group" ng-class="{ 'has-error': inviteForm.invite.$invalid && !inviteForm.invite.$pristine}">
        <label for="invite">Invite someone to join.</label>
        <input type="email" placeholder="Enter email address" id="invite" name="invite" ng-model="dashboard.invitee" required>
        <button class="btn btn-primary" ng-disabled="inviteForm.$invalid">Send</button>
        <p ng-show="inviteForm.invite.$invalid && inviteForm.$submitted" class="help-block">Valid email address required.</p>
      </div>
    </form>

    <div class="help">
      <h4>Need Help?</h4>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. <a href="#">Bill Johnson would love to hear from you.</a></p>
    </div>
  </div>
</div>
