<go-volunteer-org-name ng-if="goVolunteerPage.showOrgName()"> </go-volunteer-org-name>
<go-volunteer-profile ng-if="goVolunteerPage.showProfile()"> </go-volunteer-profile>
<go-volunteer-spouse ng-if="goVolunteerPage.showSpouse()"> </go-volunteer-spouse>
<go-volunteer-spouse-name ng-if="goVolunteerPage.showSpouseName()"> </go-volunteer-spouse-name>
<go-volunteer-children ng-if="goVolunteerPage.showChildren()"> </go-volunteer-children>
<go-volunteer-children-count ng-if="goVolunteerPage.showChildrenCount()"></go-volunteer-children-count>
<go-volunteer-group-connector ng-if="goVolunteerPage.showGroupConnector()"></go-volunteer-group-connector>
<go-volunteer-group-find-connector ng-if="goVolunteerPage.showGroupFindConnector()"></go-volunteer-group-find-connector>
