<div class="row">
  <div class="col-sm-12"><progressbar value="15"></progressbar></div>
</div>
<h2>Tell us about yourself so we can keep you in the loop.</h2>
<form class="row">

  <div class="form-group col-xs-6">
    <input type="text"
           class="form-control"
           placeholder="First Name"
           ng-model="volunteerProfile.person.nickName" >
  </div>

  <div class="form-group col-xs-6">
    <input type="text"
           class="form-control"
           placeholder="Last Name"
           ng-model="volunteerProfile.person.lastName" >
  </div>

  <div class="form-group col-xs-12">
    <input type="text"
           class="form-control"
           placeholder="Email Address"
           ng-model="volunteerProfile.person.emailAddress">
  </div>

  <div class="form-group col-xs-6">
    <input type="text"
           class="form-control"
           placeholder="Date of Birth"
           ng-model="volunteerProfile.person.dateOfBirth">
  </div>

  <div class="form-group col-xs-6">
    <input type="text"
           class="form-control"
           placeholder="Mobile Phone"
           ng-model="volunteerProfile.person.mobilePhone">
  </div>

  <div class="col-xs-6 col-xs-offset-6">
    <button type="submit" class="btn btn-block btn-primary-gc pull-right">Next
      <svg viewBox="0 0 32 32" class="icon icon-arrow-right9">
      	<use xlink:href="#arrow-right9"></use>
      </svg>
    </button>
  </div>
</form>
