<div ng-if="!checkinDashboard.allowAdminAccess()" class="alert alert-danger" role="alert">
  <div dynamic-content="$root.MESSAGES.mptool_invalid_access.content | html"></div>
</div>

<div ng-if="checkinDashboard.allowAdminAccess()" class="form-group col-lg-12">
  <h1 class="page-header">Checkin Dashboard</h1>
  <div class="push-top">

    <div class="row push-bottom">
      <div class="col-lg-12">
        <preloader full-screen='false' ng-show="!checkinDashboard.viewReady"> </preloader>

        <div ng-show="checkinDashboard.viewReady">
          <div class="row">
            <div class="col-lg-12">
              <event-rooms rooms="checkinDashboard.eventRooms"></event-rooms>
            </div>
          </div>
        </div>

      </div>
    </div><!--/row-->
  </div>
</div>
