<div class="page-header">
  <h2>Are you sure you don't want to lead a group?</h2>
</div>

<div class="review">
  <p>
    So we may have mentioned this. But we really really need leaders.
    And based on your answers we think you could be a great one.
    Last time we'll ask.
  </p>
  <div class="btns">
    <a class="btn btn-primary" href="#" ng-click="join.goToHost()">Yes, I'll host a group</a>
    <a class="btn btn-warning" href="#" ng-click="join.goToResults()">No, I really can't host this time</a>
  </div>
</div>
