<div class="review with-padding" ng-if="!host.pending">
  <div class="text-center" dynamic-content="$root.MESSAGES.groupFinderHostReviewHeader.content | html"></div>

  <group-profile group="host.group"></group-profile>
  <p><a class="btn btn-next-question btn-block" href="#" ng-click="host.publish()">Publish This Group</a></p>

  <div class="text-center" dynamic-content="$root.MESSAGES.groupFinderHostConfirmation.content | html"></div>

  <div ng-if="host.rejected" class="text-center">The group could not be published</div>

  <br />
  <div class="clearfix">
    <a class="btn btn-previous-question pull-right" href="#" ng-click="host.startOver()">Start Over</a>
  </div>
</div>
