<div class="review with-padding">
  <div class="page-header">
    <h2>Are all your answers correct?</h2>
  </div>

  <ul class="list-unstyled">
    <li ng-repeat="definition in host.questions.questions">
      <strong>{{definition.key | humanize}}:</strong> {{host.responses.getResponse(definition)}}
    </li>
  </ul>

  <div class="btns">
    <a class="btn btn-primary" href="#" ng-click="host.showDashboard()">Yes, this is correct</a>
    <a class="btn btn-warning" href="#" ng-click="host.startOver()">No, I need to make some changes</a>
  </div>
</div>
