<h3> Camper Medical Information </h3>

<div>
  <div class="row">
    <div class="col-sm-12">
      <preloader full-screen='false' ng-show='!$ctrl.viewReady'> </preloader>
      <div ng-show='$ctrl.viewReady' class="row">
        <div class="col-sm-12">
          <form ng-submit="$ctrl.submit()" novalidate name="$ctrl.medicalInfo">
            <fieldset>
              <formly-form model="$ctrl.model" fields="$ctrl.fields" options="$ctrl.options" form="$ctrl.medicalInfo">
              </formly-form>
            </fieldset>
            <button>
              <a ui-sref="campsignup.application({page: 'product', camperId: $ctrl.model.contactId})" ng-if="!$ctrl.submitting" class="table-btn btn-standard">Next</a>
              <a ui-sref="campsignup.camper({page: 'product', camperId: $ctrl.model.contactId})" ng-if="!$ctrl.submitting" class="table-btn btn-standard disabled">Next</a>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
