<preloader full-screen='false' ng-show='!groupDetailAbout.ready'> </preloader>

<div class='container-fluid' ng-show='groupDetailAbout.ready'>
  <div class='row' ng-if="groupDetailAbout.isLeader">
    <div class='col-md-12' dynamic-content="$root.MESSAGES.groupToolDetailPageAboutHeadingSubtext.content | html"></div>
  </div>
  <p></p>
  <div class='row'>
    <div class='col-md-1'><img class='img-responsive imgix-fluid' ng-src='{{groupDetailAbout.data.primaryContact.imageUrl}}' err-src='{{groupDetailAbout.defaultProfileImageUrl}}'></div>
    <div class='col-md-11'>
      <div class='row'>
        <div class='col-md-2'><strong>Group Name</strong></div>
        <div class='col-md-4'>{{groupDetailAbout.data.groupName}}</div>
        <div class='col-md-2'><strong>Age Range</strong></div>
        <div class='col-md-4'>{{groupDetailAbout.data.ageRange.join(', ')}}</div>
      </div>
      <div class='row'>
        <div class='col-md-2'><strong>Category</strong></div>
        <div class='col-md-4'>{{groupDetailAbout.data.categories.join(', ')}}</div>
        <div class='col-md-2'><strong>Where</strong></div>
         <div  class='col-md-4'>{{groupDetailAbout.getAddress()}}</div>
         <!--<div ng-if='(groupDetailAbout.userInGroup() || groupDetailAbout.forInvitation) && groupDetailAbout.groupExists() '>
           <div  class='col-md-4'>{{groupDetailAbout.data.address.toString()}}</div>
        </div>
        <div ng-if='(!groupDetailAbout.userInGroup() && !groupDetailAbout.forInvitation)'>
          <div  class='col-md-4'>{{groupDetailAbout.data.address.getZip()}}</div>
        </div>-->
      </div>
      <div class='row'>
        <div class='col-md-2'><strong>Group Type</strong></div>
        <div class='col-md-4'>{{groupDetailAbout.data.groupType.name}}</div>
        <div class='col-md-2'><strong>When</strong></div>
        <div class='col-md-4'>{{groupDetailAbout.data.meetingTimeFrequency}}</div>
      </div>
      <div class='row'>
        <div class='col-md-2'><strong>Leaders</strong></div>
        <div class='col-md-4'>
          <span ng-repeat='leader in groupDetailAbout.data.leaders()'>{{leader.displayName()}}<span ng-if='!$last'>,&nbsp;</span></span>
        </div>
        <div class='col-md-2'><strong>Kids Welcome</strong></div>
        <div class='col-md-4'>{{groupDetailAbout.data.kidsWelcome | yesNo}}</div>
      </div>
      <div class='row' ng-if='(groupDetailAbout.userInGroup() || groupDetailAbout.forInvitation)'>
        <div class='col-md-2'><strong>Visibility</strong></div>
        <div class='col-md-4'>{{groupDetailAbout.data.visibility()}}</div>
      </div>
      <div class='row'>&nbsp;</div>
      <div class='row'>
        <div class='col-md-2'><strong>Description</strong></div>
        <div class='col-md-10'>{{groupDetailAbout.data.groupDescription}}</div>
      </div>
    </div>
  </div>
  <div class='row'>&nbsp;</div>
  <div class='row' ng-if='groupDetailAbout.isLeader'>
    <div class='col-md-12'>
      <p class='text-center'><button type='button' ng-click='grouptool.edit({ groupId: createGroupPreview.state.params.groupId })' class='btn btn-primary'>Edit</button></p>
    </div>
  </div>
</div>