<div class="row corkboard-detail">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row corkboard-header" ng-if="corkboard.selectedItem == null" dynamic-content="$root.MESSAGES.corkboardPostDoesNotExists.content | html">
    </div> <!--/corkboard-post-does-not-exist-->
    <div ng-show="corkboard.selectedItem != null">
      <div class="row corkboard-header">
        <div class="col-sm-12">
          <h1 class="flush-ends">
            <div class="card-img pull-right hidden-xs">
              <corkboard-card item="corkboard.selectedItem" show-text="false" post-types="corkboard.postTypes"></corkboard-card>
            </div>
            {{corkboard.selectedItem.Title}}
          </h1>
          <p class="text-muted ">{{corkboard.selectedItem.DatePosted.$date | date: 'longDate' }}</p>
          <hr class="push-half-ends"/>
        </div>
      </div>

      <div class="row corkboard-content">
        <div class="col-sm-12">
          <div ng-show="corkboard.selectedItem.PostType==='EVENT'">
            <p>
              <strong>Event Date:</strong> {{corkboard.selectedItem.Date | date: 'longDate'}}<br/>
              <strong>Event Time:</strong> {{corkboard.selectedItem.Time | date: 'h:mm a'}}<br/>
              <strong>Event Location:</strong> {{corkboard.selectedItem.Location}}
            </p>
          </div>
          <div ng-show="corkboard.selectedItem.PostType==='JOB'">
            <p>
              <span ng-if="corkboard.selectedItem.PayRate"><strong>Pay Rate:</strong> {{corkboard.selectedItem.PayRate}}<br/></span>
              <strong>Start Date:</strong> {{corkboard.selectedItem.StartDateQualifier}} <span ng-if="corkboard.selectedItem.StartDateQualifier!=='ASAP'">{{corkboard.selectedItem.StartDate | date: 'longDate'}}</span><br/>
              <strong>Skills:</strong> {{corkboard.selectedItem.Skills}}
            </p>
          </div>
          <div ng-show="corkboard.selectedItem.PostType==='ITEM'">
            <p>
              <strong>Condition:</strong> {{corkboard.selectedItem.Condition}}
            </p>
          </div>
          <p class="corkboard-description">{{corkboard.selectedItem.Description}}</p>
        </div>

        <div class="col-sm-4 clearfix push-top corkboard-sharing">
          <sn-addthis-toolbox class="addthis_crossroads_sharing clearfix addthis_32x32_style pull-left push-half-top" data-url="https://{{location.host}}/corkboard/detail/{{corkboard.selectedItem._id.$oid}}" data-title="Crossroads Corkboard - {{ selectedItem.Title }}" data-description="{{ selectedItem.Description | truncate: 275 }}">
              <a href class="addthis_button_facebook"></a>
              <a href class="addthis_button_twitter"></a>
              <a href class="addthis_button_email"></a>
          </sn-addthis-toolbox>
        </div>

        <div class="col-sm-8 corkboard-actions text-right push-top">
          <a class="btn btn-default sm-pull-right" ng-click="corkboard.showReply()">
            <svg viewBox="0 0 32 32" class="icon icon-mail-reply">
              <use xlink:href="#mail-reply"></use>
            </svg>
            Reply
          </a>
          <a ng-if="corkboard.canRemove()" ng-click="corkboard.removeConfirm()" btn-loading=corkboard.removing data-loading-text='<svg viewBox="0 0 32 32" class="icon icon-trash-o">
            <use xlink:href="#trash-o"></use>
          </svg> Removing...' class="btn btn-standard sm-pull-right">
            <svg viewBox="0 0 32 32" class="icon icon-trash-o">
              <use xlink:href="#trash-o"></use>
            </svg>
            Remove
          </a>
          <button id="flag" ng-click="corkboard.flagConfirm($event)" type="button" btn-loading=corkboard.flagging data-loading-text='<svg viewBox="0 0 32 32" class="icon icon-flag3">
            <use xlink:href="#flag3"></use>
          </svg> Flagging...' class="btn btn-standard sm-pull-right"
            data-complete-text="Flagged as Inappropriate" data-toggle="button" aria-pressed="false" autocomplete="off"
            ng-disabled="corkboard.flagState===corkboard.flaggedAsInappropriate">
            <svg viewBox="0 0 32 32" class="icon icon-flag3">
              <use xlink:href="#flag3"></use>
            </svg>
            {{corkboard.flagState}}
          </button>
        </div>


        <form name="corkboard.replyForm" novalidate ng-submit="corkboard.reply()" role="form">
          <div class="form-group" ng-show="corkboard.showReplySection"
               ng-class="{'has-error': (corkboard.replyForm.replyText.$pristine || corkboard.replyForm.replyText.$invalid) && corkboard.replyForm.$submitted }">
            <div class="col-sm-12 push-top" >
              <textarea ng-required="true" ng-model="corkboard.replyText" class="form-control push-bottom" rows="5" placeholder="Type your message here&hellip;" id="replyText" name="replyText"></textarea>
              <ng-messages for="corkboard.replyForm.replyText.$error" ng-if="corkboard.replyForm.$submitted" >
                <ng-messages-include src="on-submit-messages"/>
              </ng-messages>
            </div>
            <div class="col-sm-12">
              <div class="pull-right">
                <button type="button" class="btn btn-standard" ng-click="corkboard.cancelReply()">Cancel</button>
                <button type="submit" btn-loading=corkboard.sending data-loading-text="Sending..." class="btn btn-primary" title="Send Message">Send Message</button>
              </div>
            </div>
          </div>
        </form>

        </div><!--/corkboard-content-->

        <div class="row corkboard-footer push-top">
          <div class="col-sm-12">
            <div class="panel panel-default">
            <div class="panel-body text-muted small" role="alert" dynamic-content="$root.MESSAGES.corkboardPostFooter.content | html">
            </div>
          </div>
        </div><!--/corkboard-header-->

      </div>
    </div>

  </div><!--/col-sm-10-->
</div><!--/corkboard-detail-->
