<div class="row">
  <div class="col-sm-10 col-sm-offset-1">

    <h1 class="page-header">Corkboard</h1>

    <div class="row">
      <div class="col-xs-12 col-md-4 corkboard-intro" dynamic-content="$root.MESSAGES.corkboardIntro.content | html">
      </div><!--/corkboard-intro-->

      <div class="col-xs-12 col-sm-6 col-md-4 corkboard-browse">
        <h4 class="flush-top">Browse</h4>
        <a ng-repeat="postType in ::corkboard.postTypeList"
           ui-sref="{{::corkboard.params.type === postType.filterName
                       ? 'corkboard.root' : 'corkboard.filtered(::{type: postType.filterName})'}}"
           ui-sref-opts="{inherit: false}"
           class="btn btn-standard-dark block btn-labeled push-half-bottom"
           ng-class="::{active: corkboard.params.type == postType.filterName}">
          {{::postType.filterButtonText}}
            <span class="btn-label" ng-class="::postType.class">
            <svg viewBox="0 0 32 32" class="icon" ng-class="::postType.icon">
              <use xlink:href="{{::postType.href}}"></use>
            </svg>
            </span>
          </a>
      </div><!--/corkboard-browse-->
      <div class="col-xs-12 col-sm-6 col-md-4 corkboard-submit">

        <h4 class="flush-top">Submit</h4>
        <a ng-repeat="postType in ::corkboard.postTypeList"
             ui-sref="corkboard.create(::{type: postType.filterName})" class="btn btn-standard-dark block btn-labeled push-half-bottom">{{::postType.createButtonText}}
            <span class="btn-label" ng-class="::postType.class">
              <svg viewBox="0 0 32 32" class="icon" ng-class="::postType.icon">
                <use xlink:href="{{::postType.href}}"></use>
              </svg>
            </span>
          </a>
      </div><!--/corkboard-submit-->

      <div class="col-xs-12 corkboard-results" ng-repeat="item in corkboard.filteredPosts | limitTo: corkboard.itemsPerPage : getStartIndex()">
        <div class="card-item clearfix row-same-height animated fadeIn" data-category="view">
          <div class="col-sm-2 col-xs-4 card-img card-dark mobile-hard-left col-xs-height">
              <corkboard-card item="::item" show-text="true" post-types="::corkboard.postTypes"></corkboard-card>
          </div><!--card-img-->
          <div class="col-sm-10 col-xs-8 card-content col-xs-height col-top">
            <div class="card-row card-header">
              <h3><a href="" ui-sref="corkboard.detail(::{id: item._id.$oid})">{{ ::item.Title }}</a></h3>
              <p class="card-desc text-muted flush-bottom">
                {{ ::item.DatePosted.$date | date: 'longDate' }} <br />
              </p>
            </div>
            <ul class="list-group">
              <li class="list-group-item row-sm-same-height">
                <div class="col-xs-12 col-sm-10 col-sm-height hard-left corkboard-summary">
                  <p class="corkboard-description">{{ ::item.Description | truncate: 275 }}</p>
                  <p ng-if="::item.Date"><strong>Event Date: </strong>{{ ::item.Date | date: 'longDate'}}</p>
                </div><!--/corkboard-summary-->
                <div class="col-xs-12 col-sm-2 hard-sides col-sm-height corkboard-read-more">
                  <a href="" ui-sref="corkboard.detail(::{id: item._id.$oid})" class="table-btn btn-standard"><span>Read More</span></a>
                </div><!--/go-trip-btn-->
              </li>
              <li class="list-group-item hard-left row-sm-same-height">
                <div class="col-xs-12 col-sm-height col-top">
                  <h4 class="small-heading flush-left inline pull-left">SHARE:</h4>
                  <sn-addthis-toolbox class="addthis_crossroads_sharing clearfix addthis_20x20_style pull-left push-half-left push-half-top" data-url="https://{{::location.host}}/corkboard/detail/{{::item._id.$oid}}" data-title="Crossroads Corkboard - {{ ::item.Title }}" data-description="{{ ::item.Description | truncate: 275 }}">
                      <a href class="addthis_button_facebook"></a>
                      <a href class="addthis_button_twitter"></a>
                      <a href class="addthis_button_email"></a>
                  </sn-addthis-toolbox>
                </div>
              </li>
            </ul>
          </div><!--/card-img-->
        </div><!--/card-item-->
      </div><!--/corkboard-results-->
    </div><!--/row-->

    <div class="row" ng-if="corkboard.filteredPosts.length === 0">
      <div class="col-xs-12">
        <br><br>
        <h4 class="flush-top">We recently made this available...check back for postings or be the first to post something!</h4>
      </div>
    </div>
    
    <div class="row" ng-if="corkboard.filteredPosts.length > 0">
      <div class="col-xs-12">
        <button class="btn btn-primary btn-block-mobile mobile-push-bottom pull-left" ng-click="gotoPrevPage()" ng-disabled="isFirstPage()">
          <svg viewBox="0 0 32 32" class="icon icon-arrow-left9">
            <use xlink:href="#arrow-left9"></use>
          </svg>
          Previous
        </button>
        <span class="center">Page {{corkboard.pageNumber}} of {{corkboard.maxPageNumber}}</span>
        <button class="btn btn-primary btn-block-mobile mobile-push-top pull-right" ng-click="gotoNextPage()" ng-disabled="isLastPage()">Next
          <svg viewBox="0 0 32 32" class="icon icon-arrow-right9">
            <use xlink:href="#arrow-right9"></use>
          </svg>
        </button>
      </div>
    </div>

  </div><!--/col-sm-10-->
</div><!--/row-->
