<div class="col-sm-8 col-sm-offset-2">
  <h1 class="page-header">Post a Job</h1>
    <form  name="jobForm" class="form-horizontal" novalidate ng-submit="corkboardEdit.submitPost()" role="form">
    <div class="form-group" ng-class="{'has-error': (jobForm.Title.$pristine || jobForm.Title.$invalid) && jobForm.$submitted}">
      <label for="title" class="col-sm-3 control-label required">Job Title</label>
      <div class="col-sm-9">
        <input required type="text" class="form-control" id="title" name="Title" ng-model="corkboardEdit.selectedItem.Title">
        <ng-messages for="jobForm.Title.$error" ng-if="jobForm.$submitted">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
        </ng-messages>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': (jobForm.StartDateQualifier.$pristine || jobForm.StartDateQualifier.$invalid) && jobForm.$submitted}">
      <label for="start-date-qualifier" class="col-sm-3 control-label required">Job Start Date</label>
      <div class="col-sm-9">
        <select required class="form-control" id="start-date-qualifier" name="StartDateQualifier" ng-model="corkboardEdit.selectedItem.StartDateQualifier">
          <option value='' disabled selected style='display:none;'>When?</option>
          <option value="ASAP">ASAP</option>
          <option value="Before">Before</option>
          <option value="After">After</option>
        </select>
        <ng-messages for="jobForm.StartDateQualifier.$error" ng-if="jobForm.$submitted">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
        </ng-messages>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': (jobForm.StartDate.$pristine || jobForm.StartDate.$invalid) && jobForm.$submitted}" ng-show="corkboardEdit.selectedItem.StartDateQualifier == 'Before' || corkboardEdit.selectedItem.StartDateQualifier == 'After'">
      <div class="col-sm-9 col-sm-offset-3">
        <p class="input-group datepicker">
          <input ng-required="corkboardEdit.selectedItem.StartDateQualifier != 'ASAP'" ng-model="corkboardEdit.selectedItem.StartDate" id="start-date" name="StartDate" type="text" class="form-control" placeholder="mm/dd/yyyy" datepicker-popup="MM/dd/yyyy"
                 ng-model="corkboardEdit.selectedItem.StartDate" ng-required="true" close-text="Close" min-date="{{ corkboardEdit.currentDate }}" is-open="corkboard.opened"  invalidate-past-date />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="corkboard.openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        <ng-messages for="jobForm.StartDate.$error" ng-if="jobForm.$submitted">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
          <span ng-message="date">
            <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
          <span ng-message="pastDate">
            <span dynamic-content="$root.MESSAGES.corkboardDateInPastError.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': (jobForm.PayRate.$invalid) && jobForm.$submitted}">
      <label for="pay-rate" class="col-sm-3 control-label">Pay Rate</label>
      <div class="col-sm-9">
        <input ng-model="corkboardEdit.selectedItem.PayRate" type="text" class="form-control" id="pay-rate" name="PayRate">
        <ng-messages for="jobForm.PayRate.$error" ng-if="jobForm.$submitted">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
        </ng-messages>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': (jobForm.Skills.$pristine || jobForm.Skills.$invalid) && jobForm.$submitted}">
      <label for="skills" class="col-sm-3 control-label required">Skills Required</label>
      <div class="col-sm-9">
        <textarea required ng-model="corkboardEdit.selectedItem.Skills" class="form-control" rows="4" id="skills" name="Skills"></textarea>
        <ng-messages for="jobForm.Skills.$error" ng-if="jobForm.$submitted">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
        </ng-messages>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': (jobForm.Description.$pristine || jobForm.Description.$invalid) && jobForm.$submitted}">
      <label for="description" class="col-sm-3 control-label required">Description</label>
      <div class="col-sm-9">
        <textarea ng-model="corkboardEdit.selectedItem.Description" class="form-control" rows="4" id="description" name="Description" required></textarea>
        <ng-messages for="jobForm.Description.$error" ng-if="jobForm.$submitted">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
        </ng-messages>
      </div>
    </div>
    <div class="pull-right">
      <button type="button" ng-click="corkboardEdit.cancelPost()" class="btn btn-standard" title="Cancel Post">Cancel</button>
      <button type="submit" btn-loading=corkboardEdit.saving data-loading-text="Saving..." class="btn btn-primary" title="Save Post">Save</button>
    </div>
  </form>
</div>
