<div class="col-sm-8 col-sm-offset-2" ng-init="corkboardEdit.selectedItem.Time = '2015-06-25T00:00:00.000Z'">
  <h1 class="page-header">Post an Event</h1>
  <form name="eventForm" class="form-horizontal" novalidate ng-submit="corkboardEdit.submitPost()" role="form">
    <div class="form-group" ng-class="{'has-error': (eventForm.Title.$pristine || eventForm.Title.$invalid) && eventForm.$submitted}">
      <label for="title" class="col-sm-3 control-label text-left required">Event Name</label>
      <div class="col-sm-9">
          <input required type="text" class="form-control" ng-model="corkboardEdit.selectedItem.Title" id="title" name="Title">
          <ng-messages for="eventForm.Title.$error" ng-if="eventForm.$submitted">
            <ng-messages-include src="on-submit-messages"></ng-messages-include>
          </ng-messages>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': (eventForm.Location.$pristine || eventForm.Location.$invalid) && eventForm.$submitted}">
      <label for="location" class="col-sm-3 control-label text-left required">Location</label>
      <div class="col-sm-9">
        <input required type="text" class="form-control" ng-model="corkboardEdit.selectedItem.Location" id="location" name="Location">
        <ng-messages for="eventForm.Location.$error" ng-if="eventForm.$submitted">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
        </ng-messages>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': (eventForm.Date.$pristine || eventForm.Date.$invalid) && eventForm.$submitted }">
      <label for="date" class="col-sm-3 control-label text-left required">Event Date</label>
      <div class="col-sm-9">
        <p class="input-group datepicker">
          <input type="text" class="form-control" placeholder="mm/dd/yyyy" datepicker-popup="MM/dd/yyyy" ng-model="corkboardEdit.selectedItem.Date" ng-required="true" close-text="Close" is-open="corkboard.opened"
                 id="date" min-date="{{ corkboardEdit.currentDate }}" name="Date" invalidate-past-date/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="corkboard.openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        <ng-messages for="eventForm.Date.$error" ng-if="eventForm.$submitted">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
          <span ng-message="date">
            <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
          <span ng-message="pastDate">
            <span dynamic-content="$root.MESSAGES.corkboardDateInPastError.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': (eventForm.Time.$invalid) && eventForm.$submitted}">
      <label for="time" class="col-sm-3 control-label text-left">Event Time</label>
      <div class="col-sm-9 timepicker">
        <timepicker ng-model="corkboardEdit.selectedItem.Time" ng-class="timepicker" hour-step="corkboard.hstep" minute-step="corkboard.mstep" show-meridian="corkboard.isMeridian"  id="time" name="Time"></timepicker>
        <ng-messages for="corkboardEdit.eventForm.Time.$error" ng-if="corkboardEdit.eventForm.$submitted">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
        </ng-messages>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': (eventForm.Description.$pristine || eventForm.Description.$invalid) && eventForm.$submitted}">
      <label for="description" class="col-sm-3 control-label required">Description</label>
      <div class="col-sm-9">
          <textarea required class="form-control" rows="4" ng-model="corkboardEdit.selectedItem.Description" id="description" name="Description" ></textarea>
          <ng-messages for="eventForm.Description.$error" ng-if="eventForm.$submitted">
            <ng-messages-include src="on-submit-messages"></ng-messages-include>
          </ng-messages>
      </div>
    </div>
    <!-- coming in a later story
    <div class="form-group" ng-class="{'has-error': (eventForm.Title.$pristine || eventForm.Title.$invalid) && eventForm.$submitted}">
      <label for="pic" class="col-sm-3 control-label text-left">Upload Picture</label>
      <div class="col-sm-9">
        <input type="file" id="pic">
      </div>
    </div>
  -->
    <div class="pull-right">
      <button type="button" ng-click="corkboardEdit.cancelPost()" class="btn btn-standard" title="Cancel Post">Cancel</button>
      <button type="submit" btn-loading=corkboardEdit.saving data-loading-text="Saving..." class="btn btn-primary" title="Save Post">Save</button>
    </div>
  </form>
</div>
