<div class="row">
  <div class="col-sm-12">
    <progressbar value="15"></progressbar>
  </div>
</div>
<h2>What is your <strong>first</strong> choice of three project preference?</h2>

<div class="row">
  <div class="col-xs-6 img-link" ng-repeat="item in goProjectPrefOne.list" ng-repeat="item in goProjectPrefOne.list">
    <!-- TODO: Disable the link if the preference is disabled because it has already been choosen. -->
    <a class="push-bottom gradiant-text-background border {{item.state}}" ui-sref="go-volunteer.crossroadspage({page: 'project-preference-two'})">
      <img src="https://crds-cms-uploads.imgix.net/content/images/{{item.img}}.jpg" class="img-responsive img-full-width" />
      <div class="img-link-text">
        {{item.title}}
      </div>
      <div class="triangle">
        <span>Age {{item.age}}+</span>
      </div>
    </a>
  </div>
</div>
