<label ng-show="definition.label">{{definition.label}}</label>
<div class="row">
  <div class="col-md-12">
    <label>Day</label>
    <select name="{{definition.key}}[day]" ng-model="responses[definition.key].day" ng-change="checkError()" class="form-control">
      <option>Monday</option>
      <option>Tuesday</option>
      <option>Wednesday</option>
      <option>Thursday</option>
      <option>Friday</option>
      <option>Saturday</option>
      <option>Sunday</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <label>Time</label>
  </div>

  <div class="col-xs-6">
    <input placeholder="HH:MM" type="text" name="{{definition.key}}[time]" ng-model="responses[definition.key].time" class="form-control" ng-change="checkError()" ng-keyup="onKeyUp($event)" />
  </div>

  <div class="col-xs-6">
    <select name="{{definition.key}}[ampm]" ng-model="responses[definition.key].ampm" ng-change="checkError()" class="form-control">
      <option>AM</option>
      <option>PM</option>
    </select>
  </div>
</div>

