<label ng-show="definition.label">{{definition.label}}</label>
<div class="row">
  <div class="col-md-6">
    <label>Day</label>
    <select name="{{definition.key}}[day]" ng-model="responses[definition.key].day" ng-change="checkError()" class="form-control group-qa-day">
      <option>Monday</option>
      <option>Tuesday</option>
      <option>Wednesday</option>
      <option>Thursday</option>
      <option>Friday</option>
      <option>Saturday</option>
      <option>Sunday</option>
    </select>
  </div>

  <div class="col-md-6">
    <label>Time</label>
    <timepicker name="{{definition.key}}[time]" ng-model="responses[definition.key].time" show-meridian="true"></timepicker>
  </div>
</div>

<!--<div class="row">-->
  <!--<div class="col-md-6">-->
    <!--<label>Time</label>-->
  <!--</div>-->

  <!--<div class="col-xs-6">-->
    <!--&lt;!&ndash;<input placeholder="HH:MM" type="text" name="{{definition.key}}[time]" ng-model="responses[definition.key].time" class="form-control" ng-change="checkError()" ng-keyup="onKeyUp($event)" />&ndash;&gt;-->
    <!--<timepicker ng-model="responses[definition.key].time" show-meridian="true"></timepicker>-->
  <!--</div>-->
<!--</div>-->

