<label ng-show="formField.field.label">{{formField.field.label | html}}</label>
<label ng-show="formField.field.description"><span dynamic-content="formField.field.description | html"></span></label>
<div class="bordered">
    <div class="form-group">
        <input type="radio" id="attribute_{{formField.field.title}}_true" name="attribute_{{formField.field.title}}_true" value="true" ng-model="responses[formField.field.title]" />
        <label for="attribute_{{formField.field.title}}_true">
            Yes
        </label>
    </div>
    <div class="form-group">
        <input type="radio" id="attribute_{{formField.field.title}}_false" name="attribute_{{formField.field.title}}_false" value="false" ng-model="responses[formField.field.title]" />
        <label for="attribute_{{formField.field.title}}_false">
            No
        </label>
    </div>
</div>