<label ng-show="formField.field.label" dynamic-content="formField.field.label | html"></label>
<label ng-show="formField.field.description" dynamic-content="formField.field.description | html"></label>
      <div class="form-group >
        <span class="input-group datepicker">
          <input type="text"
                 class="form-control"
                 name="birthdate"
                 id="birthdate"
                 placeholder="mm/dd/yyyy"
                 datepicker-popup="MM/dd/yyyy"
                 ng-model='profile.profileData.person.dateOfBirth'
                 is-open='profile.birthdateOpen'
                 show-button-bar='false'
                 max-date={{profile.maxBirthdate}}
                 min-date={{profile.oneHundredFiftyYearsAgo}}
                 init-date=profile.initDate
                 ng-required="true"
                 datepicker-validator
                 required
                 ng-change="profile.underThirteen()">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="profile.openBirthdatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </span>
<br>        

        <!--<ng-messages for="profile.pform.birthdate.$error" ng-if="profile.validation.showErrors(profile.pform, 'birthdate')">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
          <span ng-message="date">
            <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
          <span ng-message="minDate">
            <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
          <span ng-message="maxDate">
            <span ng-if="profile.enforceAgeRestriction" dynamic-content="$root.MESSAGES.ageRestriction.content | html"></span>
            <span ng-if="!profile.enforceAgeRestriction"  dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
        </ng-messages>
      -->