<div class="form-group col-md-12" ng-class="{'has-error': profile.validation.showErrors(profile.pform, 'kickOffEvent')}" >
<label ng-show="formField.field.label"dynamic-content="formField.field.label | html"></label>
<label ng-show="formField.field.description" dynamic-content="formField.field.description | html"></label>
<div ng-repeat='kickOffEvent in formField.responses.kickOffEvent'>
    <label class="radio-inline">
    <input type="radio"
            name="kickOffEvents"
            ng-value="kickOffEvent.dp_RecordID"
            ng-model="formField.responses.attributeId"
            required /> {{kickOffEvent.attributeName}}
    </label>
    <ng-messages for="profile.pform.kickOffEvent.$error" ng-if="profile.validation.showErrors(profile.pform, 'kickOffEvent')">
    <ng-messages-include src="on-submit-messages"></ng-messages-include>
    <ng-messages-include src="on-pause-messages"></ng-messages-include>
    </ng-messages>
</div>
</div>