.christmas-eve-callout,
.christmas-at-home-callout {
  color: white;
  padding: 78px 0;
}
.christmas-eve-callout h3, .christmas-eve-callout p,
.christmas-at-home-callout h3,
.christmas-at-home-callout p {
  color: #fff !important;
}
.christmas-eve-callout a,
.christmas-at-home-callout a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.christmas-eve-callout {
  background: url("//crds-cms-uploads.imgix.net/content/images/christmasevebg.jpg") center center;
  background-size: cover;
}

.christmas-at-home-callout {
  background: url("//crds-cms-uploads.imgix.net/content/images/cahbg.jpg") center center;
  background-size: cover;
}

#home .home-locations {
  position: relative;
  background: white;
  margin-top: 0;
  padding: 0;
}
@media (min-width: 768px) {
  #home .home-locations {
    margin-top: 78px;
  }
}
#home .home-locations h2, #home .home-locations p, #home .home-locations a {
  color: white;
}
#home .home-locations a {
  text-decoration: underline;
}
#home .home-locations a:hover {
  text-decoration: none;
}
#home .home-locations .locations-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  width: 90%;
}
@media (min-width: 768px) {
  #home .home-locations .locations-text {
    width: auto;
  }
}

.homepage .home-series:after,
.crds-legacy-styles .homepage .home-series:after {
  background: white !important;
}

.join-a-group-home {
  position: relative;
}
.join-a-group-home img {
  z-index: 1;
  position: relative;
}
.join-a-group-home .arrow-down {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 30px solid #FFF;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -40px;
  z-index: 3;
}

@media (max-width: 768px) {
  .home-relationships .h3 {
    font-size: 18px;
  }
}
.locations .locations-header {
  background: url("//crds-cms-uploads.imgix.net/content/images/locationsbg.jpg") center center no-repeat;
  background-size: cover;
  padding: 104px 0;
}
.locations .locations-header h1, .locations .locations-header h4 {
  color: white;
  font-weight: 200;
}
.locations .locations-body h3 {
  color: #555;
}
.locations .locations-anywhere-section {
  background: #0095d8;
  color: white;
}
@media (min-width: 1200px) {
  .locations .locations-anywhere-section .anywhere-content {
    padding-top: 26px;
  }
}
.locations .locations-anywhere-section h2 {
  color: white;
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  line-height: .75;
}
.locations .locations-anywhere-section i {
  font-family: lexia,serif;
  font-style: italic;
  letter-spacing: -.015em;
  color: #a7e4ff;
}

/* Central KY Events Fix */

.explore .map,
.crds-legacy-styles .explore .map {
  background-color: #000 !important;
  background: #000 url(//crds-cms-uploads.imgix.net/content/images/mapmobilefade.jpg) center center no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .explore .map,
  .crds-legacy-styles .explore .map {
    background-image: url(//crds-cms-uploads.imgix.net/content/images/explorefadeout3.jpg);
    background-position: right center;
  }
}
@media (min-width: 1400px) {
  .explore .map,
  .crds-legacy-styles .explore .map {
    background-size: contain;
  }
}
.explore .map .map-title,
.crds-legacy-styles .explore .map .map-title {
  color: white;
}
.explore .map .map-title:after,
.crds-legacy-styles .explore .map .map-title:after {
  content: "Each location is part of the same church, working as one team toward a common vision.";
  display: block;
  font-size: 1.3rem;
  margin-top: 20px;
  color: white;
  line-height: 1.25;
  letter-spacing: 0;
}
.explore .map .map-img,
.explore .map .map-more,
.explore .map .map-desc,
.explore .map .map-flag,
.crds-legacy-styles .explore .map .map-img,
.crds-legacy-styles .explore .map .map-more,
.crds-legacy-styles .explore .map .map-desc,
.crds-legacy-styles .explore .map .map-flag {
  display: none !important;
}
.explore .map .map-position,
.crds-legacy-styles .explore .map .map-position {
  top: 36% !important;
  bottom: auto !important;
}
.explore .map .map-position .map-content,
.crds-legacy-styles .explore .map .map-position .map-content {
  background: transparent !important;
}
@media (min-width: 768px) {
  .explore .map .map-position,
  .crds-legacy-styles .explore .map .map-position {
    top: 20% !important;
  }
}

/* Superbowl 2017 */
.crds-legacy-styles .superbowl-description {
  background-color: #000;
}
.crds-legacy-styles .superbowl-description p {
  font-size: 1.2em;
  color: #fff;
  text-align: center;
}
.crds-legacy-styles .sb-compete {
  background: url("//crds-cms-uploads.imgix.net/content/images/crossroads-sb-compete-bg.jpg") center center no-repeat;
  background-size: cover;
}
.crds-legacy-styles .superbowl-locations h3 {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 300%;
  text-transform: uppercase;
}

/* I Am Journey */
.crds-legacy-styles .iam-landing-bg {
  background: url("//crds-cms-uploads.imgix.net/content/images/IAM-journey-overview.jpg") no-repeat;
  background-size: contain;
  background-color: #e7e7e7;
}
.crds-legacy-styles .iam-journey h2{
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 300%;
  text-transform: uppercase;
}
.crds-legacy-styles .iam-journey h4{
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 170%;
  text-transform: uppercase;
}

/* Modal fix for Small Groups Signup */

.modal-body {
  overflow-y: auto;
  max-height: 60vh;
}

@media (min-width: 768px) {
  .modal-body {
    max-height: 70vh;
  }
}

/* Crossroads Camps Page */

.crds-legacy-styles .camps h2{
  font-weight: 300;
}
.crds-legacy-styles .camps h4{
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 220%;
  text-transform: uppercase;
}
.crds-legacy-styles .camps-date {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 300;
  font-size: 220%;
  text-transform: uppercase;
  margin-top: -26px;
}
