/* Superbowl 2017 */
.crds-legacy-styles .superbowl-description {
  background-color: #000;
}
.crds-legacy-styles .superbowl-description p {
  font-size: 1.2em;
  color: #fff;
  text-align: center;
}
.crds-legacy-styles .sb-compete {
  background: url("//crds-cms-uploads.imgix.net/content/images/crossroads-sb-compete-bg.jpg") center center no-repeat;
  background-size: cover;
}
.crds-legacy-styles .superbowl-locations h3 {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 300%;
  text-transform: uppercase;
}

/* I Am Journey */
.crds-legacy-styles .iam-landing-bg {
  background: url("//crds-cms-uploads.imgix.net/content/images/IAM-journey-overview.jpg") no-repeat;
  background-size: contain;
  background-color: #e7e7e7;
}
.crds-legacy-styles .iam-journey h2{
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 300%;
  text-transform: uppercase;
}
.crds-legacy-styles .iam-journey h4{
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 170%;
  text-transform: uppercase;
}

/* Modal fix for Small Groups Signup */

.modal-body {
  overflow-y: auto;
  max-height: 60vh;
}

@media (min-width: 768px) {
  .modal-body {
    max-height: 70vh;
  }
}

/* Crossroads Camps Page */

.crds-legacy-styles .camps h2{
  font-weight: 300;
}
.crds-legacy-styles .camps h4{
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 220%;
  text-transform: uppercase;
}
.crds-legacy-styles .camps-date {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 300;
  font-size: 220%;
  text-transform: uppercase;
  margin-top: -26px;
}
