/* Tate - 03/21/17 - Revert to cup at the top of the homepage */
.crds-legacy-styles .homepage {
    background: #fff url(https://crds-cms-uploads.imgix.net/content/images/cupbg.jpg) no-repeat !important;
    background-position: -920px top !important;
}

@media only screen and (min-width:768px){
  .crds-legacy-styles .homepage{
    background-position:center top !important;
  }
}

.crds-legacy-styles .home-intro-text {
  padding: 100px 0 200px 0;
}

.crds-legacy-styles .home-intro-text .subheading {
  background: transparent !important;
  color: #fff;
}

.crds-legacy-styles .home-intro-text .page-header {
  color: #fff !important;
  border-bottom: none;
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 5em;
  text-transform: uppercase;
  line-height: .9em;
}

@media only screen and (max-width:768px){
  .crds-legacy-styles .home-intro-text .page-header {
    font-size: 4em;
  }
}

.crds-legacy-styles .homepage .navbar-brand.logo .icon-logo,
.crds-legacy-styles .homepage ul.cr-nav>li>a {
  color: #fff;
}

.homepage .crds-styles  .header .navbar-brand.logo svg,
.homepage .crds-styles  .header .nav>li>a:not(.cta) {
  color: #fff;
}

/* Crossroads GoTrips - New - Adam G in progress */
.crds-legacy-styles .gotrips h1 {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 600%;
  text-transform: uppercase;
  color: #fff;
  line-height: .85em;
}
@media only screen and (max-width:768px){
  .crds-legacy-styles .gotrips h1{
    font-size: 350%;
  }
}

.crds-legacy-styles .gotrips h2 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 300;
  font-size: 300%;
  text-transform: none;
  color: #fff;
  letter-spacing: -.01em;
}
.crds-legacy-styles .gotrips h3 {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 300%;
  text-transform: uppercase;
  color: #4D4D4D;
}
.crds-legacy-styles .gotrips .trips .featured-trip h4 {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 300%;
  line-height: .9em;
  text-transform: uppercase;
  color: #4D4D4D;
}
.crds-legacy-styles .gotrips h4 {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 200%;
  text-transform: uppercase;
  color: #4D4D4D;
  line-height: .9em;
}
.crds-legacy-styles .gotrips .lead {
  font-family: "AcuminPro-Light", sans-serif;
  font-size: 23px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 30px;
}
.crds-legacy-styles .gotrips .news-title {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 200%;
  color: #4D4D4D;
  letter-spacing: 0;
}

.crds-legacy-styles .nav-trips {
  background-color: #3b6e8f;
  padding-top: 5px;
  padding-bottom: 5px;
}
.crds-legacy-styles .gotrips .navbar-nav {
  float: none;
  display: inline-block;
}
.crds-legacy-styles .gotrips .navbar-brand {
  padding: 0px;
}
.crds-legacy-styles .nav-trips .navbar-nav >li:not(:last-child)> a:hover,
.crds-legacy-styles .nav-trips .navbar-nav >li:not(:last-child)> a:focus,
.crds-legacy-styles .nav-trips .navbar-nav >li:not(:last-child)> a:visited {
    background-color: transparent;
    color: #fff;
}
.crds-styles .nav-trips .nav >li:not(:last-child)> a:hover {
    background-color: transparent;
    color: #fff;
}
.crds-styles .nav-trips .nav >li:not(:last-child)> a:focus {
    background-color: transparent;
    color: #fff;
}
.crds-legacy-styles .nav-trips .navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.crds-styles .nav-trips .navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.crds-legacy-styles .gotrips1 .btn {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 110%;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 5px;
}
.crds-legacy-styles .gotrips-leadin {
  background-color:#295069;
  color: #fff;
}
.crds-legacy-styles .gotrips-btn {
  background-color: #dae034 !important;
  color: #333 !important;
  border: none !important;
}
.crds-legacy-styles .gotrips-location-detail p{
  font-size: 90%;
  font-weight: 400;
}
.crds-legacy-styles .gotrips .lead {
  font-size: 1.4em;
  color: #fff;
}
#goTripsNav {
  background-color: #3b6e8f;
}
.crds-legacy-styles .hero-south-africa {
  background: url("//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-south-africa2.jpg") center center no-repeat;
  background-size: cover;
}
.crds-legacy-styles .gotrips .about-south-africa {
  background: url("//crds-cms-uploads.imgix.net/content/images/crossroads-go-about-south-africa.jpg") center center no-repeat;
  background-size: cover;
  background-color: #2D2D2D;
}
.crds-legacy-styles .gotrips .about-south-africa .what-we-do {
  padding-top: 100px;
  padding-bottom: 100px;
}
.crds-legacy-styles .gotrips .initiative-details {
  background-color: #3b6e8f;
}
.crds-legacy-styles .hero-south-africa img {
  max-height: 300px;
}
.crds-legacy-styles .gotrips .trips p {
  font-size: .8em;
  font-weight: 400;
}
.crds-legacy-styles .gotrips .trips h4 {
  font-size: 160%;
}
.crds-legacy-styles .gotrips .partners .trips p {
  font-size: .9em;
  font-weight: 400;
}
.crds-legacy-styles .gotrips .trips hr {
  margin-top: 0px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #b1b1b1;
  width: .8em;
  display: inline-block;
}
.crds-legacy-styles .footer .gotrips p {
    background-color: #dae034;
    font-family: "acumin-pro-extra-condensed", sans-serif;
    font-weight: 600;
    font-size: 110%;
    line-height: .8em;
    text-transform: uppercase;
    color: #4a4a4a;
}
.crds-legacy-styles .footer .gotrips a {
    color: #295069;
}


/* Tate - 03/21/17 - Revert to cup at the top of the homepage */
.crds-legacy-styles .homepage {
    background: #fff url(https://crds-cms-uploads.imgix.net/content/images/crossroads-church-home.jpg) no-repeat !important;
    background-position: -170px top !important;
    height: 100%;
}

@media only screen and (min-width:768px){
  .crds-legacy-styles .homepage{
    background-position:center top !important;
  }
}


/* Crossroads Worship Training */
.crds-legacy-styles .worship-training h1 {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 680%;
  text-transform: uppercase;
  color: #fff;
}

.crds-legacy-styles .worship-training h2 {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 300%;
  text-transform: uppercase;
  color: #3e3e3e;
}

.crds-legacy-styles .worship-training h3 {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 200%;
  text-transform: uppercase;
  color: #3e3e3e;
}

.crds-legacy-styles .worship-training .header-video video {
    width: 100%;
    object-fit: cover;
    min-height: 600px;
  }

@media only screen and (max-width:768px){
  .crds-legacy-styles .worship-training .header-video video {
    width: 100%;
    object-fit: cover;
    min-height: 1000px;
    }
  }

.crds-legacy-styles .worship-training .easter-container .easter-header-video {
  min-height: 600px;
}

@media only screen and (max-width:768px){
  .crds-legacy-styles .worship-training .easter-container .easter-header-video {
    min-height: 500px;
    }
  .crds-legacy-styles .worship-training h1 {
    font-family: "acumin-pro-extra-condensed", sans-serif;
    font-weight: 600;
    font-size: 300%;
    text-transform: uppercase;
    color: #fff;
  }
}


/* I'm IN Dashboard */

.leaveyourmark.leaveyourmark-container {
  font-family: "acumin-pro", sans-serif;
}
.leaveyourmark.leaveyourmark-container h1, .leaveyourmark.leaveyourmark-container h2, .leaveyourmark.leaveyourmark-container h3:not(.small-heading), .leaveyourmark.leaveyourmark-container h4, .leaveyourmark.leaveyourmark-container h5, .leaveyourmark.leaveyourmark-container h6 {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
}
.leaveyourmark.leaveyourmark-container .leaveyourmark-header {
  background: url("https://crds-cms-uploads.imgix.net/content/images/im-in-dashboard-header-bg.jpg") center center no-repeat;
  color: #fff;
  background-size: cover;
}
.leaveyourmark.leaveyourmark-container .leaveyourmark-header h1 {
  color: #fff;
}
.leaveyourmark.leaveyourmark-container .leaveyourmark-header .lead {
  font-size: 1.2rem;
}
.leaveyourmark.leaveyourmark-container .leaveyourmark-header .btn {
  border-radius: 2px;
  border: none;
}
.leaveyourmark.leaveyourmark-container .leaveyourmark-header .btn-primary {
  background-color: rgba(0, 140, 186, 0.7);
}
.leaveyourmark.leaveyourmark-container .leaveyourmark-header .btn-primary:hover {
  background-color: rgba(0, 140, 186, 0.9);
}
.leaveyourmark.leaveyourmark-container .leaveyourmark-header .btn-default {
  background-color: rgba(209, 209, 209, 0.3);
  color: #ffffff;
}
.leaveyourmark.leaveyourmark-container .leaveyourmark-header .btn-default:hover {
  background-color: rgba(209, 209, 209, 0.5);
  color: #ffffff;
}
.leaveyourmark.leaveyourmark-container .im-in-logo {
  height: 50px;
  width: auto;
}
.leaveyourmark.leaveyourmark-container .chart {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 180px;
  text-align: center;
}
.leaveyourmark.leaveyourmark-container .chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.leaveyourmark.leaveyourmark-container .percent {
  display: inline-block;
  line-height: 1;
  z-index: 2;
  font-size: 5rem;
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  margin-top: 35px;
}
.leaveyourmark.leaveyourmark-container .percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.leaveyourmark.leaveyourmark-container .percent-label {
  font-size: 1.2rem;
  display: block;
  line-height: 1;
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.leaveyourmark.leaveyourmark-container .day-countdown {
  background: rgba(0, 0, 0, 0.4);
}
.leaveyourmark.leaveyourmark-container .day-countdown h3 {
  color: #fff;
}
.leaveyourmark.leaveyourmark-container .progress {
  overflow: visible;
}
.leaveyourmark.leaveyourmark-container .progress-bar-imin {
  background-color: #008CBA;
  color: #fff;
  font-size: 1em;
}
.leaveyourmark.leaveyourmark-container .imin-progress-label {
  line-height: 1;
}
.leaveyourmark.leaveyourmark-container .imin-progress-label > div {
  margin-top: 13px;
}
@media (min-width: 768px) {
  .leaveyourmark.leaveyourmark-container .imin-progress-label > div {
    margin-top: -28px;
  }
  .leaveyourmark.leaveyourmark-container .imin-progress-label.text-left {
    color: #fff;
  }
}
.leaveyourmark.leaveyourmark-container .progress-marker-wrapper {
  position: relative;
}
.leaveyourmark.leaveyourmark-container .progress-marker-wrapper .progress-marker {
  width: 50px;
  height: 35px;
  line-height: 35px;
  background: #000;
  color: #fff;
  position: absolute;
  left: -25px;
  top: -10px;
  text-align: center;
  z-index: 2;
}
@media (min-width: 768px) {
  .leaveyourmark.leaveyourmark-container .progress-marker-wrapper .progress-marker {
    top: -50px;
  }
}
.leaveyourmark.leaveyourmark-container .progress-marker-wrapper .progress-marker .arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  z-index: 3;
}
.leaveyourmark.leaveyourmark-container .im-in-stat {
  text-align: center;
  margin-top: 30px;
  border: 1px solid #dddddd;
  background: url("//crds-cms-uploads.imgix.net/content/images/imin-map-lg.png");
  font-weight: bold;
  min-height: 170px;
}
.leaveyourmark.leaveyourmark-container .im-in-stat img {
  max-width: 110px;
}
.leaveyourmark.leaveyourmark-container .im-in-stat h1 {
  font-size: 4em;
}
.leaveyourmark.leaveyourmark-container .giving-progress-heading {
  color: #008CBA;
  font-weight: bold;
}
.leaveyourmark.leaveyourmark-container .im-in-stories {
  background: #EFEEE8;
}
.leaveyourmark.leaveyourmark-container .im-in-stories .crds-card figcaption {
  background: #EFEEE8;
}
.leaveyourmark.leaveyourmark-container .questions-container {
  background: url("//crds-cms-uploads.imgix.net/content/images/imin-map-lg.png");
  margin-bottom: -40px;
}
.leaveyourmark.leaveyourmark-container .imin-video {
  position: relative;
}
.leaveyourmark.leaveyourmark-container .imin-video .icon {
  color: #000;
}
.leaveyourmark.leaveyourmark-container .imin-video figcaption {
  position: absolute;
  top: auto;
  bottom: 0;
}


/* Fixing /live Hero padding in order to keep watch now above fold */
.crds-legacy-styles .crds-hero>div {
  padding: 2em 1em !important;
}
.crds-legacy-styles landing .intro, .crds-legacy-styles streaming .intro {
  padding: 0em 0 !important;
}
