/* Force color of search icon - TCM 5/30/17 */

.input-group-btn > .btn.btn-default > .icon.icon-search3 {
  fill: currentColor;
}

/* Fix regression related to modal window attached to mobile nav - TCM 5/30/17 */

body:not(.modal-open) .modal-backdrop.fade:not(.in) {
  display: none;
}

/* Fixing /live Hero padding in order to keep watch now above fold - Brian Miller */

.crds-legacy-styles .crds-hero>div {
  padding: 2em 1em !important;
}

.crds-legacy-styles landing .intro, .crds-legacy-styles streaming .intro {
  padding: 0em 0 !important;
}
