/* Central KY Events Fix */

.explore .map,
.crds-legacy-styles .explore .map {
  background-color: #000 !important;
  background: #000 url(//crds-cms-uploads.imgix.net/content/images/mapmobilefade.jpg) center center no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .explore .map,
  .crds-legacy-styles .explore .map {
    background-image: url(//crds-cms-uploads.imgix.net/content/images/explorefadeout3.jpg);
    background-position: right center;
  }
}
@media (min-width: 1400px) {
  .explore .map,
  .crds-legacy-styles .explore .map {
    background-size: contain;
  }
}
.explore .map .map-title,
.crds-legacy-styles .explore .map .map-title {
  color: white;
}
.explore .map .map-title:after,
.crds-legacy-styles .explore .map .map-title:after {
  content: "Each location is part of the same church, working as one team toward a common vision.";
  display: block;
  font-size: 1.3rem;
  margin-top: 20px;
  color: white;
  line-height: 1.25;
  letter-spacing: 0;
}
.explore .map .map-img,
.explore .map .map-more,
.explore .map .map-desc,
.explore .map .map-flag,
.crds-legacy-styles .explore .map .map-img,
.crds-legacy-styles .explore .map .map-more,
.crds-legacy-styles .explore .map .map-desc,
.crds-legacy-styles .explore .map .map-flag {
  display: none !important;
}
.explore .map .map-position,
.crds-legacy-styles .explore .map .map-position {
  top: 36% !important;
  bottom: auto !important;
}
.explore .map .map-position .map-content,
.crds-legacy-styles .explore .map .map-position .map-content {
  background: transparent !important;
}
@media (min-width: 768px) {
  .explore .map .map-position,
  .crds-legacy-styles .explore .map .map-position {
    top: 20% !important;
  }
}

/* Superbowl 2017 */
.crds-legacy-styles .superbowl-description {
  background-color: #000;
}
.crds-legacy-styles .superbowl-description p {
  font-size: 1.2em;
  color: #fff;
  text-align: center;
}
.crds-legacy-styles .sb-compete {
  background: url("//crds-cms-uploads.imgix.net/content/images/crossroads-sb-compete-bg.jpg") center center no-repeat;
  background-size: cover;
}
.crds-legacy-styles .superbowl-locations h3 {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 300%;
  text-transform: uppercase;
}

/* I Am Journey */
.crds-legacy-styles .iam-landing-bg {
  background: url("//crds-cms-uploads.imgix.net/content/images/IAM-journey-overview.jpg") no-repeat;
  background-size: contain;
  background-color: #e7e7e7;
}
.crds-legacy-styles .iam-journey h2{
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 300%;
  text-transform: uppercase;
}
.crds-legacy-styles .iam-journey h4{
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 170%;
  text-transform: uppercase;
}

/* Modal fix for Small Groups Signup */

.modal-body {
  overflow-y: auto;
  max-height: 60vh;
}

@media (min-width: 768px) {
  .modal-body {
    max-height: 70vh;
  }
}

/* Crossroads Camps Page */

.crds-legacy-styles .camps h2{
  font-weight: 300;
}
.crds-legacy-styles .camps h4{
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 220%;
  text-transform: uppercase;
}
.crds-legacy-styles .camps-date {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 300;
  font-size: 220%;
  text-transform: uppercase;
  margin-top: -26px;
}
