/* Crossroads GoTrips - New - Adam G in progress */

.crds-styles .nav-trips .nav >li:not(:last-child)> a:hover,
#goTripsNav .navbar-nav >li:not(:last-child)> a:focus,
#goTripsNav .navbar-nav >li:not(:last-child)> a:active {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}
.crds-styles .nav-trips .nav >li:not(:last-child)> a:focus {
    background-color: transparent;
    color: #fff;
}
.crds-legacy-styles .nav-trips .navbar-nav>li>a {
  padding: 10px 0;
}
.crds-styles .nav-trips .navbar-nav>li>a {
  padding: 10px 0;
}

#goTripsNav .navbar-nav >li> a {
  color: #fff;
}
#goTripsNav .navbar-nav >li:last-child> a:hover,
#goTripsNav .navbar-nav >li:last-child> a:focus {
  background-color: #0095D9;
  border-color: #0095D9;
}
@media only screen and (max-width:768px){
  #goTripsNav {
    background-color: #fff;
  }
  #goTripsNav .navbar-nav >li:not(:last-child)> a:hover,
  #goTripsNav .navbar-nav >li:not(:last-child)> a:focus,
  #goTripsNav .navbar-nav >li:not(:last-child)> a:active {
    border-color: transparent;
  }
  #goTripsNav .navbar-nav >li:last-child> a,
  #goTripsNav .navbar-nav >li:last-child> a:hover,
  #goTripsNav .navbar-nav >li:last-child> a:focus,
  #goTripsNav .navbar-nav >li:last-child> a:active {
    color: #fff;
  }
  #goTripsNav .navbar-nav>.open>a,
  #goTripsNav .navbar-nav>.open>a:focus,
  #goTripsNav .navbar-nav>.open>a:hover {
    background-color: transparent;
    border-color: transparent;
  }
  #goTripsNav .navbar-nav >li> a {
    color: #4D4D4D;
    font-size: 1em;
  }
}
