/* Crossroads GoTrips - New - Adam G in progress */
.crds-legacy-styles .gotrips h2 {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 530%;
  text-transform: uppercase;
  color: #fff;
}
.crds-legacy-styles .gotrips h3 {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 300%;
  text-transform: uppercase;
  color: #3e3e3e;
}
.crds-legacy-styles .gotrips h4 {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 200%;
  text-transform: uppercase;
  color: #3e3e3e;
  line-height: .9em;
}
.crds-legacy-styles .nav-trips {
  background-color: #dae034;
  padding-top: 5px;
  padding-bottom: 5px;
}
.crds-legacy-styles .gotrips .navbar-nav {
  float: none;
  display: inline-block;
}
.crds-legacy-styles .gotrips .navbar-brand {
  padding: 0px;
}
.crds-legacy-styles .gotrips .navbar-nav > li > a {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 110%;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 5px;
  background-color: transparent !important;
  color: #3b6e8f;
}
.crds-legacy-styles .gotrips .dropdown-menu > li > a {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 110%;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 5px;
}
.crds-legacy-styles .gotrips .navbar-nav > li > a:hover, a:active, a:focus {
    background-color: transparent;
    color: #fff;
}
.crds-legacy-styles .gotrips .navbar-nav > li .active {
    background-color: transparent;
    color: #fff;
}
.crds-legacy-styles .gotrips1 .btn {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-size: 110%;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 5px;
}
.crds-legacy-styles .gotrips-leadin {
  background-color:#295069;
  color: #fff;
}
.crds-legacy-styles .gotrips-btn {
  background-color: #dae034 !important;
  color: #333 !important;
  border: none !important;
}
.crds-legacy-styles .gotrips-location-detail p{
  font-size: 90%;
  font-weight: 400;
}
.crds-legacy-styles .gotrips .lead {
  font-size: 1.4em;
  color: #fff;
}
#goTripsNav {
  background-color: #dae034;
}
.crds-legacy-styles .hero-south-africa {
  background: url("//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-south-africa2.jpg") center center no-repeat;
  background-size: cover;
}
.crds-legacy-styles .gotrips .about-south-africa {
  background: url("//crds-cms-uploads.imgix.net/content/images/crossroads-go-about-south-africa.jpg") center center no-repeat;
  background-size: cover;
  background-color: #2D2D2D;
}
.crds-legacy-styles .gotrips .about-south-africa .what-we-do {
  padding-top: 100px;
  padding-bottom: 100px;
}
.crds-legacy-styles .gotrips .initiative-details {
  background-color: #3b6e8f;
}
.crds-legacy-styles .hero-south-africa img {
  max-height: 300px;
}
.crds-legacy-styles .gotrips .trips p {
  font-size: .8em;
  font-weight: 400;
}
.crds-legacy-styles .gotrips .trips h4 {
  font-size: 160%;
}
.crds-legacy-styles .gotrips .partners .trips p {
  font-size: .9em;
  font-weight: 400;
}
.crds-legacy-styles .gotrips .trips hr {
  margin-top: 0px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #b1b1b1;
  width: .8em;
  display: inline-block;
}
.crds-legacy-styles .footer .gotrips p {
    background-color: #dae034;
    font-family: "acumin-pro-extra-condensed", sans-serif;
    font-weight: 600;
    font-size: 110%;
    line-height: .8em;
    text-transform: uppercase;
    color: #4a4a4a;
}
.crds-legacy-styles .footer .gotrips a {
    color: #295069;
}
