.crds-styles {
  @import '~crds-styles/assets/stylesheets/variables';
  @import '~crds-styles/assets/stylesheets/overrides';
  @import '~crds-styles/assets/stylesheets/functions';
  @import '~crds-styles/assets/stylesheets/mixins';
  @import '~crds-styles/assets/stylesheets/vendors/modules';
  @import '~crds-styles/assets/stylesheets/components/icons';
  @import '~crds-styles/assets/stylesheets/layouts/modules';
}
