.noscroll {
  position: relative;
  height: 100%;
  overflow: hidden;
}

[ng-app="crossroads"] {
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
  }

  .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
}

.crds-styles {
  @import '~crds-styles/assets/stylesheets/bootstrap';
}
