<div class="row" id="form-top">
  <div class="col-sm-10 col-sm-offset-1">

    <h1 class="page-header" ng-if="tripDeposit.signupService.pageId != 'thanks'" >GO {{tripDeposit.signupService.campaign.nickname}} Signup</h1>
    <h1 class="page-header" ng-if="tripDeposit.signupService.pageId == 'thanks'" > Thank you for signing up for GO {{tripDepositsignupService.campaign.nickname}}</h1>
    <h2 class="subheading">{{tripDeposit.signupService.campaign.name}}</h2>

    <signup-progress total-steps='tripDeposit.signupService.numberOfPages'
                     current-step='tripDeposit.signupService.numberOfPages'
                     progress-label='tripDeposit.signupService.progressLabel'
                     ng-hide='tripDeposit.signupService.pageId == "thanks"'> 
    </signup-progress>
    <preloader full-screen='false' ng-show="!tripDeposit.viewReady"> </preloader>
    <ng-form class="give-form" role="form" name="tripDeposit.tripForm" novalidate>
      <div ng-show='tripDeposit.viewReady' ui-view></div>
    </ng-form>
</div>

