<div class="row">
  <div class="col-sm-12">
    <progressbar value="15"></progressbar>
  </div>
</div>
<h2>Do you have any unique skills or experience?</h2>

<div class="row push-half-bottom">
  <div class="col-xs-10 col-xs-offset-1">

    <a class="btn btn-standard btn-block btn-multi-line push-half-bottom {{item.state}}" ui-sref="go-volunteer.crossroadspage({page: 'project-preference-two'})" ng-repeat="item in goProjectPrefOne.list">
      {{item.title}}
      <br>
      <span class="">Ages {{item.age}}&plus;</span>
    </a>
    <div class="checkbox" ng-repeat="item in goUniqueSkills.list">
      <!-- / Shouldn't use the title here. Should use an ID from MT -->
      <label for="{{item.title}}">
        <input type="checkbox" value="" id="{{item.title}}">
        {{item.title}}
      </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button type="submit" class="btn btn-block btn-primary-gc" ui-sref="go-volunteer.crossroadspage({page: 'equipment'})">Next
      <svg viewBox="0 0 32 32" class="icon icon-arrow-right9">
        <use xlink:href="#arrow-right9"></use>
      </svg>
    </button>
  </div>
</div>
