.anywhere-leadership {
  font-family: "acumin-pro", sans-serif;

  p {
    color: #414141;
  }

  h1,
  h2,
  h3,
  h4 {
    color: #3e3e3e;
  }

  .anywhere-leadership-heading {
    background: #000 url("//crds-cms-uploads.imgix.net/content/images/anywhere-leadership-background.jpg") center center;
    background-size: cover;
    color: white;

    h1 {
      font-weight: 100;
      color: white;
      font-family: "acumin-pro", sans-serif;
      font-size: 238%;
      line-height: 100%;
      margin-bottom: 0.5em;

      @media (min-width: 992px) {
        font-size: 338%;
      }
    }

    p {
      font-weight: 300;
      color: white;
    }
  }

  h3 {
    font-family: "acumin-pro-extra-condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -.032em;
  }
}


.sidebar-menu {
  li {
    border-bottom: 1px solid #878785;

    a {
      display: block;
      color: #878785;
      line-height: 1.25;
      padding: 13px 0;

      &:hover {
        color: #428bca;
      }
    }
  }
}
