$cr-streaming-font-sans: "acumin-pro", sans-serif;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$line-height-computed: 26px;
$gray-lighter: #eee;
$cr-streaming-font-extra-cond: "acumin-pro-extra-condensed", sans-serif;
$gray: #555;
$grid-gutter-width: 30px;
$grid-columns: 12;

// Generate the small columns
@mixin make-sm-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-sm-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-sm-column-offset($columns) {
  @media (min-width: $screen-sm-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}

.crds-legacy-styles .christmas-at-home,
.christmas-at-home {
  font-family: $cr-streaming-font-sans;

  p {
    color: #414141;
  }

  h1,
  h2,
  h3,
  h4 {
    color: #3e3e3e;
  }

  .christmas-at-home-heading {
    background: #000 url("//crds-cms-uploads.imgix.net/content/images/cahbg.jpg") center center;
    background-size: cover;
    color: white;
    padding: 10rem 0;

    @media (min-width: $screen-md-min) {
      padding: 15rem 0;
    }


    h1 {
      font-weight: 100;
      color: white;
      font-family: $cr-streaming-font-sans;
      font-size: 238%;
      @media (min-width: $screen-md-min) {
        font-size: 338%;
      }
      line-height: 100%;
    }

    .small-heading {
      letter-spacing: 2px;
      font-weight: 600;
      opacity: .9;
      color: #efc9c0;
      font-family: $cr-streaming-font-sans;
    }
  }

  h2 {
    font-weight: 100;
  }

  .christmas-sidebar {
    position: relative;

    &:before {
      content: "";
      display: block;
      border-left: 1px solid #C1C1C1;
      left: -$line-height-computed;
      top: 0;
      bottom: 0;
      height: 100%;
      position: absolute;

      @media (min-width: $screen-md-min) {
        left: -$line-height-computed*2;
      }
    }
  }

  .well {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background: lighten($gray-lighter, 3%);

    h3 {
      font-family: $cr-streaming-font-extra-cond;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -.032em;
    }

    hr {
      margin: $line-height-computed/2 0;
      border-color: #d5d5d5;
    }

    table {
      width: 100%;
    }
  }

  .ways-to-watch {
    background: #F6F6F6;
    padding: 2em 0;
    text-align: center;
    margin-bottom: -53px;

    h2 {
      font-size: 200%;
      color: lighten($gray, 25%);
      margin-bottom: 1em;
      font-weight: 300;
    }

    figure {
      text-align: center;
      margin-bottom: 1em;
      img {
        margin: 0 auto;
        max-width: 60%;
      }

      @media only screen and (min-width:  $screen-sm-min){
        @include make-sm-column(2);

        &:first-child {
            @include make-sm-column-offset(1);
        }
        display: table-cell;
        vertical-align: bottom;
        text-align: left;
        margin-bottom: 1em;

        img {
          margin: 0;
          max-width: 100%;
        }
      }

      figcaption {
        font-size: 70%;
        font-weight: 600;
        margin-top: 0.3em;
        word-wrap: break-word;


        span {
          font-weight: normal;
        }
      }
    }
  }
}
