/* Communications Projects Pages */

.cp-lead-question {
  font-size: 18px;
  background: #e7e7e7;
  text-align: center;
  color: #898989;
}

.cp.thumbnail {
  padding: 0;
  transition: .35s transform ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.cp {
  h4 {
    font-size: 16px;
    margin: 0 0 6px 0;
  }

  .caption {
    padding: 12px;
  }

  p {
    margin-bottom: 0;
  }
}

.cp-instructions {
  margin: 0 0 16px;
  padding: 0;
  counter-reset: item;

    > li {
    margin: 10px 0;
    padding: 0 0 0 16px;
    text-indent: -16px;
    list-style-type: none;
    counter-increment: item;

    &:before {
      display: inline-block;
      width: 16px;
      padding-right: 0.5em;
      font-weight: bold;
      text-align: right;
      content: counter(item) ".";
    }
  }
}

.crds-legacy-styles .coms-projects-thumbnails .thumbnail,
.coms-projects-thumbnails .thumbnail {
  border: 0px;
  padding: 0;
}

.crds-legacy-styles .coms-projects-thumbnails .thumbnail .caption,
.coms-projects-thumbnails .thumbnail .caption {
  padding: 0;
}
