.create-event-wrapper {
  //Icon colors
  .icon-check-circle {
    color: $brand-success;
  }

  .icon-minus-circle {
    color: $brand-danger;
  }
  .icon-clock3 {
      color: $brand-warning;
  }

}