/* Extend the Weekend */
.extend-the-weekend {
  font-family: "acumin-pro", sans-serif;

  h1, h2 {
    font-family: "acumin-pro", sans-serif;
    font-weight: 100;
  }
  h2 {
    font-weight: 300;
  }

  .intro {
    h1 {
      font-size: 238%;
      line-height: 100%;
    }

    p {
      color: #979797;
    }
  }
}

.etw-connect {
  article {
    margin-bottom: 3em;
    font-size: 90%;

    h3 {
      font-size: 200%;
    }
  }

  .btns > a {
    display: table-cell;
    vertical-align: middle;
  }

  .container h3 {
    margin-top: 0;
  }
}


@media (min-width: $screen-sm) {
  .etw-connect .container {
    display: flex;
    flex-direction: column;
    height: 100%;

    > div {
      flex: 1 0 auto;
      display: flex;
    }

    article {
      margin-bottom: 0;
      width: 33%;
      padding: 0 2em;
      border-left: 1px solid #eee;

      &:first-child {
        border-left: none;
      }
    }
  }
}
@media (min-width: $screen-md) {
  .etw-connect .container {
    padding: 2em 5em 0;
  }
}
