/* Crossroads GoTrips - New - Adam G in progress */

.crds-styles {

  .nav-trips {
    background-color: #3b6e8f;
    padding-top: 5px;
    padding-bottom: 5px;

    .nav >li:not(:last-child)> a:hover {
        background-color: transparent;
        color: #fff;
    }

    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }

  }
  .gotrips {
    .navbar-nav {
      float: none;
      display: inline-block;

       >li:not(:last-child)> a:hover,
       >li:not(:last-child)> a:focus,
       >li:not(:last-child)> a:visited {
          background-color: transparent;
          color: #fff;
      }
    }

    .navbar-brand {
      padding: 0px;
    }

    // .bg-gray {
    //   background-color: #e7e7e7;
    //   color: #737373;
    // }
  }

  #goTripsNav {
    background-color: #3b6e8f;
  }

  .footer .gotrips {
    p {
      background-color: #dae034;
      font-family: "acumin-pro-extra-condensed", sans-serif;
      font-weight: 600;
      font-size: 110%;
      line-height: .8em;
      text-transform: uppercase;
      color: #4a4a4a;
    }
    a {
        color: #295069;
    }
  }
}
