$go-local-primary: rgb(0, 177, 64);
$go-local-secondary: rgb(196, 214, 0);
$go-local-dark: #007e2e;
$go-local-site-filter: rgba(0, 177, 64, 0.55);
$go-local-closed: #dddddd;
$gc-green: #9ab73c;

.go-volunteer {
  background-color: $white;
  min-height: 100vh;
}

.go-volunteer{

  &.img-background{
    //Firefox does not support background-position-x and background-position-y so we're including this fall back
    background-position: center top;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 190%;

    @media (min-width: $screen-sm-min) {
      background-size: 100%;
    }
  }

  h1 {
    font-size: 2.4em;
  }

  h2, h3.go-local-header {
    font-size: 1.63em;

    @media (min-width: $screen-xs-min) {
      font-size: 3.67vw;
    }

    @media (min-width: $screen-sm-min) {
      font-size: 1.5em;
    }

    @media (min-width: $screen-md-min) {
      font-size: 1.53em;
    }

    @media (min-width: $screen-lg-min) {
      font-size: 1.85em;
    }
    }

  h3.go-local-title {
    font-size: 1.1em;

    @media (min-width: $screen-xs-min) {
      font-size: 1.3em;
    }

    @media (min-width: $screen-sm-min) {
      font-size: 1.38em;
    }

    @media (min-width: $screen-md-min) {
      font-size: 1.48em;
    }

    @media (min-width: $screen-lg-min) {
      font-size: 1.55em;
    }
  }

  .btn-primary-gc {
    @include button-variant(#fff, $go-local-dark, $go-local-dark);
  }

  .navbar {
    .banner {
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      z-index: $zindex-navbar + 1;
      text-align: center;
    }

    .banner img {
      width: 100%;
      display: inline-block;
      margin: 0 -100%;
    }

    .logo img {
      height: 80px;
      display: inline-block;
      margin: 0 auto;
    }

    .hamburger-menu {
      float: inherit;
      .bar, .bar:before, .bar:after {
        background: $black;
      }

      &.gc-menu-right {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .back-btn {
      margin-top: 20px;
      margin-left: -7px;
      display: none;
    }
  }

  .gv-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: $white;
    padding-top: 130px;
    z-index: $zindex-navbar - 1;
    li {
      @extend h1;
      margin-bottom: 0;
      margin-top: 0;
      @extend .brand-font;
      font-size: 2.4em;
    }
    li a {
      color: $black;
    }
  }
  .animated {
    animation-duration: .5s;
  }
  .dropdown-menu > .active > a {
    background-color: $go-local-primary;
  }
  .progress {
    height: 3px;
    margin-bottom: 0;
  }
  .progress-bar {
    background-color: $gray;
  }
  .card-item {
    border-left: 5px solid $go-local-primary;
    margin-bottom: 16px;
    background: rgba($gray-lighter, 0.3);

    &.disabled {
      border-left: 5px solid $gray;

      .group-details {
        opacity: 0;
      }
    }
  }

  .add-text-input-row {
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }

  .terms-box {
    background: rgba(255,255,255,.2);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  h-number label.form-control {
    background: transparent;
    color: $black;
    border: none;
    text-align: center;
    font-weight: normal;
  }

  .media-card-link .disabled-reason span {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: $white;
    border: 2px solid $black;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
  }

  .card-dark {
    background: none;
  }

  .media-card-link a {
    position: inherit;
  }

  .media-card-link {
    &:hover {
      background: rgba($go-local-primary, 0.1);
    }
  }

  .icon-checkmark {
    color: $go-local-secondary;
  }

  .alert-info {
    @include alert-variant($go-local-closed, $gray, $black);
  }

  .go-local-email-warning {
    font-size: 85%;
    font-weight: 300;
  }

  .email-change-warning {
    margin-top: -15px;
  }
}

.site-image-filter {
  position: relative;

  img {
    filter: grayscale(1);
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //background: $go-local-site-filter;
    //background-blend-mode: multiply;
    display: block;
    margin: $line-height-computed/2;
    border-radius: 50%;
  }

  &.arch-yellow-filter {
    &:after {
      background: rgba(83, 92, 11, 0.62);
    }
  }
}

.gc-step {
  position: relative;

  .gc-step-number {
    font-size: 2.1rem;
    font-weight: bold;
    position: absolute;
    //background: rgba(0,0,0,.3);
    width: 60px;
    height: 60px;
    line-height: 60px;
    top: -$line-height-computed/2;
    text-align: center;
    border-radius: 50%;
    left: -$line-height-computed*2;
    z-index: 1;
  }

  p {
    z-index: 2;
    position: relative;
  }
}

.go-volunteer-waiver {
  height: 250px;
  overflow-y: scroll;
  background-color: $white;
}
