#groups-landing {
  margin: 0 -15px;
}

#groups-landing .group-landing-push-bottom {
  margin-bottom: 6%;
}

@media (max-width: 768px) {
  #groups-landing .group-landing-push-bottom {
    margin-bottom: 8%;
  }
}
#groups-landing .group-landing-push-half-bottom {
  margin-bottom: 3%;
}

@media (max-width: 768px) {
  #groups-landing .group-landing-push-half-bottom {
    margin-bottom: 4%;
  }
}
@media (max-width: 768px) {
  #groups-landing .group-landing-mobile-push-half-bottom {
    margin-bottom: 4%;
  }
}
#groups-landing .group-landing-center {
  margin-left: auto;
  margin-right: auto;
}

#groups-landing .group-landing-button {
  background-color: transparent;
  border-radius: 5px;
  border-color: #939598;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

#groups-landing .group-landing-section {
  padding: 4%;
}

#groups-landing .group-landing-block, #groups-landing .group-landing-block > .aspect-content {
  margin: 4% auto;
}

@media (max-width: 768px) {
  #groups-landing .group-landing-block, #groups-landing .group-landing-block > .aspect-content {
    margin: 6% auto;
  }
}
#groups-landing .group-landing-header {
  display: inline-block;
  margin-bottom: 2%;
  color: #231F20;
  font-size: 2.2vw;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  #groups-landing .group-landing-header {
    margin-bottom: 4%;
    font-size: 4.2vw;
  }
}
#groups-landing .group-landing-header::after {
  display: block;
  width: 100%;
  content: '';
  background: #231F20;
  height: 2px;
}

#groups-landing .group-landing-content {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  color: #939598;
  font-size: 2.9vw;
  line-height: 1.5;
}

@media (max-width: 768px) {
  #groups-landing .group-landing-content {
    font-size: 6vw;
  }
}
#groups-landing .group-landing-subcontent {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  color: #939598;
  font-size: 2vw;
  text-align: left;
  line-height: 1.3;
}

@media (max-width: 768px) {
  #groups-landing .group-landing-subcontent {
    font-size: 5vw;
  }
}
#groups-landing .group-landing-faq-term {
  color: #939598;
  font-size: 2.9vw;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  #groups-landing .group-landing-faq-term {
    font-size: 6vw;
  }
}
#groups-landing .group-landing-faq-definition {
  color: #939598;
  font-size: 2vw;
  line-height: 1.3;
  text-align: left;
}

@media (max-width: 768px) {
  #groups-landing .group-landing-faq-definition {
    font-size: 5vw;
  }
}
#groups-landing #groups-landing-get-in {
  position: relative;
  position: relative;
  width: 100%;
  background: url(//crds-cms-uploads.imgix.net/content/images/groups-landing/headerbg.jpg) top no-repeat;
  background-size: cover;
}

#groups-landing #groups-landing-get-in:before {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 53.47594%;
}

#groups-landing #groups-landing-get-in > .aspect-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#groups-landing #groups-landing-get-in .aspect-content {
  padding-top: 20%;
}

#groups-landing #groups-landing-get-in img {
  display: block;
  width: 70%;
}

#groups-landing #groups-landing-get-in button {
  background-color: white;
}

#groups-landing #groups-landing-relationships {
  background-color: white;
}

#groups-landing #groups-landing-leader {
  background-color: #DBE0E5;
}

#groups-landing #groups-landing-leader img {
  width: 100%;
}

#groups-landing #groups-landing-onsite {
  background-color: #F1F2F2;
}

#groups-landing #groups-landing-resources {
  position: relative;
  background-color: white;
}

#groups-landing #groups-landing-resources p {
  position: absolute;
  top: 12%;
  left: 0;
  right: 52%;
  bottom: 50%;
  font-size: 1.5vw;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  #groups-landing #groups-landing-resources p {
    font-size: 3vw;
  }
}
#groups-landing #groups-landing-resources img {
  width: 100%;
}

#groups-landing #groups-landing-faqs {
  background-color: #F1F2F2;
}

#groups-landing #groups-landing-help {
  background-color: white;
}

#groups-landing-20160826 {
  margin: 0 -15px;
}

#groups-landing-20160826 .group-landing-push-bottom {
  margin-bottom: 6%;
}

@media (min-width: 1200px) {
  #groups-landing-20160826 .group-landing-push-bottom {
    margin-bottom: 4.8%;
  }
}
@media (max-width: 768px) {
  #groups-landing-20160826 .group-landing-push-bottom {
    margin-bottom: 8%;
  }
}
#groups-landing-20160826 .group-landing-push-half-bottom {
  margin-bottom: 3%;
}

@media (min-width: 1200px) {
  #groups-landing-20160826 .group-landing-push-half-bottom {
    margin-bottom: 2.4%;
  }
}
@media (max-width: 768px) {
  #groups-landing-20160826 .group-landing-push-half-bottom {
    margin-bottom: 4%;
  }
}
@media (max-width: 768px) {
  #groups-landing-20160826 .group-landing-mobile-push-half-bottom {
    margin-bottom: 4%;
  }
}
#groups-landing-20160826 .group-landing-center {
  margin-left: auto;
  margin-right: auto;
}

#groups-landing-20160826 .group-landing-button {
  background-color: transparent;
  border-radius: 5px;
  border-color: #939598;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  padding: 10px 20px;
}

#groups-landing-20160826 .group-landing-section {
  padding: 4%;
}

@media (min-width: 1200px) {
  #groups-landing-20160826 .group-landing-section {
    padding: 2.4%;
  }
}
#groups-landing-20160826 .group-landing-block, #groups-landing-20160826 .group-landing-block > .aspect-content {
  margin: 4% auto;
}

@media (min-width: 1200px) {
  #groups-landing-20160826 .group-landing-block, #groups-landing-20160826 .group-landing-block > .aspect-content {
    margin: 3.6% auto;
  }
}
@media (max-width: 768px) {
  #groups-landing-20160826 .group-landing-block, #groups-landing-20160826 .group-landing-block > .aspect-content {
    margin: 6% auto;
  }
}
#groups-landing-20160826 .group-landing-header {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 2%;
  color: #231F20;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  #groups-landing-20160826 .group-landing-header {
    margin-bottom: 4%;
  }
}
#groups-landing-20160826 .group-landing-header::after {
  display: block;
  width: 100%;
  content: '';
  background: #231F20;
  height: 2px;
}

#groups-landing-20160826 .group-landing-content {
  width: 93%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  color: #939598;
  line-height: 1.5;
  font-weight: 300;
}

#groups-landing-20160826 .group-landing-subcontent {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  color: #939598;
  font-size: 140%;
  text-align: left;
  line-height: 1.3;
}

@media (max-width: 768px) {
  #groups-landing-20160826 .group-landing-subcontent {
    font-size: 115%;
  }
}
#groups-landing-20160826 .group-landing-faq-term {
  color: #939598;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 5px;
  font-weight: 300;
}

#groups-landing-20160826 .group-landing-faq-definition {
  color: #939598;
  font-size: 140%;
  line-height: 1.3;
  text-align: left;
}

@media (max-width: 768px) {
  #groups-landing-20160826 .group-landing-faq-definition {
    font-size: 115%;
  }
}
#groups-landing-20160826 #groups-landing-get-in {
  position: relative;
  position: relative;
  width: 100%;
  background: url(//crds-cms-uploads.imgix.net/content/images/groups-landing/headerbg.jpg) top no-repeat;
  background-size: cover;
}

#groups-landing-20160826 #groups-landing-get-in:before {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 53.47594%;
}

#groups-landing-20160826 #groups-landing-get-in > .aspect-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#groups-landing-20160826 #groups-landing-get-in .aspect-content {
  padding-top: 20%;
}

#groups-landing-20160826 #groups-landing-get-in img {
  display: block;
  width: 70%;
}

#groups-landing-20160826 #groups-landing-get-in button {
  background-color: white;
}

#groups-landing-20160826 #groups-landing-relationships {
  background-color: white;
}

#groups-landing-20160826 #groups-landing-leader {
  background-color: #DBE0E5;
}

#groups-landing-20160826 #groups-landing-leader img {
  width: 100%;
}

#groups-landing-20160826 #groups-landing-onsite {
  background-color: #F1F2F2;
}

#groups-landing-20160826 #groups-landing-resources {
  position: relative;
  background-color: white;
}

#groups-landing-20160826 #groups-landing-resources .group-landing-book {
  position: relative;
}

#groups-landing-20160826 #groups-landing-resources p {
  position: absolute;
  top: 20%;
  left: 0;
  right: 77%;
  bottom: 50%;
  font-size: 1.5vw;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  #groups-landing-20160826 #groups-landing-resources p {
    font-size: 3vw;
    right: 52%;
  }
}
@media (min-width: 1200px) {
  #groups-landing-20160826 #groups-landing-resources p {
    font-size: 0.9vw;
  }
}
#groups-landing-20160826 #groups-landing-resources img {
  width: 100%;
}

#groups-landing-20160826 #groups-landing-faqs {
  background-color: #F1F2F2;
}

#groups-landing-20160826 #groups-landing-help {
  background-color: white;
}
