group-search-results {

  .group-location-tool {
    @media (min-width: $screen-sm-min) {
      text-align: right;
    }
  }

  table {
    th, tr {
      font-size: 95%;
    }

    th.group-name {
      width: 30%;
    }

    th.group-detail {

    }

    th.group-day, th.group-time {
      width: 100px;
    }
  }

  .group-results-mobile {
    .group-result {
      border-bottom: 1px solid $gray-light;
    }
  }
}