/***************************************************************************************
* Home
***************************************************************************************/

.homepage-wrapper {
  background: #fff url('//crds-cms-uploads.imgix.net/content/images/crossroads-church-home.jpg') no-repeat;
  background-position: -170px top;
  height: 100%;

  @media only screen and (min-width:768px){
    background-position: center top;
  }


  .header {
    .navbar-brand.logo .icon-logo,
    .navbar-brand.logo svg,
    ul.cr-nav>li>a,
    .nav>li>a:not(.cta) {
      color: #fff;
    }

    .navbar-brand.logo {
      fill: #fff;
    }
  }
}


.homepage {
    background: transparent;
    
    .main {
        margin-bottom: 0;
    }
    .brandbar-container {
        visibility: hidden;
        opacity: 0;
    }
    footer {
        margin-top: 0;
    } 
    
    // New countdown styles to match /live
    // .countdown {
    //     display: flex;
    //     flex-flow: row nowrap;
    //     justify-content: center;

    //     &__timer {
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
            
    //         .list-inline {
    //             margin-bottom: 0;
    //             min-width: 141px;
    //         }
    //     }
        
    //     &__text {
    //         padding-bottom: 3px;
    //     }
        
    //     .btn-reminder {
    //         display: flex;
    //         align-items: center;
    //     }
    // }
    // @media (min-width: 500px) {
        
    //     .countdown__timer {
    //         flex-flow: row nowrap;
    //         align-items: center;
    //     }
        
    //     .countdown__text {
    //         padding-bottom: 0;
    //         padding-right: 3px;
    //     }
    // }
    
    // >.wrapper {
    //     @include make-row();
    //     @include clearfix();
    //     overflow-x: hidden;
    //     -webkit-overflow-scrolling: touch;
    // }
    
    // .fixed-header {
    //     .navbar-section {
    //         position: fixed;
    //         z-index: 1000;
    //         left: 0;
    //         right: 0;
    //         top: 0;
    //     }
    // }
    // .navbar-section {
    //     background: $cr-streaming-blue;
    //     color: #FFF;
    //     text-align: center;
    //     padding: 1em 0;
    //     font-size: 90%;
    //     min-height: 52px;
    //     transform: translateZ(0);

    //     .container {
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //     }
        
    //     @media (min-width: $screen-sm-min) {
    //         min-height: 66px;
    //     }
        
    //     @media (max-width: $screen-sm-min) {
    //         countdown .countdown {
    //             .btn-reminder {
    //                 padding-left: 5px;
    //                 padding-right: 5px;
    //             }
                
    //             .list-inline {
    //                 min-width: 150px;
    //             }
    //         }
    //     } 
        
    //     // !FIXME: spelling?
    //     #conuntdown-header {
    //         -webkit-animation-duration: 1.5s;
    //         -moz-animation-duration: 1.5s;
    //         -ms-animation-duration: 1.5s;
    //         -o-animation-duration: 1.5s;
    //         animation-duration: 1.5s;
    //     }

    //     .container {
    //         @include clearfix();
    //         position: relative;
    //     }

    //     .btn-reminder {
    //         //@include button-variant(#FFF, $cr-streaming-blue, lighten($cr-streaming-blue, 20));
    //         margin-left: 1em;

    //         @media (max-width: $screen-sm-min) {
    //             font-size: 70%;
    //         }
    //     }

    //     .see-schedule {
    //         text-transform: uppercase;
    //         font-size: 90%;
    //         color: #FFF;
    //         position: absolute;
    //         right: 0;
    //         bottom: 0;
    //         display: none;

    //         @media (min-width: $screen-md) {
    //             display: block;
    //         }

    //         @media (max-width: $screen-sm-min) {
    //             margin-top: -5px;
    //         }
    //     }

    //     .upcoming {
    //         display: table;
    //         text-align: center;
    //         font-size: 80%;

    //         @media (min-width: $screen-sm-min) {
    //             font-size: 100%;
    //         }

    //         @media (min-width: $screen-md-min) {
    //             margin: 0 auto;
    //         }

    //         i {
    //             font-family: $cr-streaming-font-serif;
    //             font-style: italic;
    //             font-size: 123%;
    //             letter-spacing: -0.015em;
    //             padding-right: 1em;

    //             @media (max-width: $screen-sm-min) {
    //                 font-size: 100%;
    //             }
    //         }

    //         ul {
    //             padding-right: 20px;
                
    //             @media (max-width: $screen-sm-min) {
    //                 padding-right: 7px;
    //             }
    //         }

    //         li {
    //             line-height: 120%;
    //             padding: 0;
                
    //             &.vr:before {
    //                 @include rotate(-90deg);
    //                 display: inline-block;
    //                 content: '\2014';
    //                 font-size: 190%;
    //                 font-weight: 100;
    //                 position: relative;
    //                 top: -0.25em;
                    
    //                 @media only screen and (max-width: $screen-xs-min) {
    //                     display: none;
    //                 }
    //             }
    //         }

    //         i, li.vr:before {
    //             color: lighten($cr-streaming-blue, 25%);
    //         }

    //         strong {
    //             display: block;
    //             font-size: 160%;
    //             font-weight: 400;
    //             min-width: 29px;
    //         }

    //         small {
    //             text-transform: uppercase;
    //             font-size: 63%;
    //             font-weight: 200;
    //         }

    //         @media (min-width: $screen-sm-min) {
    //             i {
    //                 text-align: right;
    //             }
    //         }

    //         .countdown {
    //             position: relative;
    //             top: 1px;
    //         }

    //         .in-progress {
    //             i, a {
    //                 padding-right: 1em;
    //                 display: inline-block;
    //             }
    //         }
    //         a.btn-sm {
    //             @include button-variant(#FFF, lighten($cr-streaming-blue, 12.5%), lighten($cr-streaming-blue, 12.5%));
    //             font-weight: 400;
    //             font-size: 110%;
    //         }
    //     }
    // } 
    
    // Old homepage countdown styles
    .home-countdown {
        background: #F1F2F2;
        padding: $line-height-computed*2.5 0 $line-height-computed*3.5;

        .upcoming {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            color: $cr-grey;
        }

        .countdown__text {
            line-height: 1.1;
        }

        .live__text {
            padding-right: .5rem;
        }
    }
    .list-inline-countdown {
        display: inline-block;
        padding: 0 5px;

        small {
            font-size: 75%;
            font-weight: 400;
            color: #999999;
        }

        li {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .home-series {
        background: #A7A9AC;
        overflow: visible;
        position: relative;
        h1 {
            color: #fff;
        }
        &:before,
        &:after {
            display: block;
            content: ' ';
            left: 0;
            right: 0;
            position: absolute;
            z-index: 1;
        }
        &:before {
            top: 0;
            height: 15px;
            background: #F1F2F2;
        }
        &:after {
            bottom: 0;
            height: 30px;
            background: #FFFFFF;
        }
        h4,
        h5 {
            color: #fff;
            font-weight: bold;
        }
        @media only screen and (min-width : $screen-md-min) {
            h4 {
                margin-top: $line-height-computed;
            }
        }
        img {
            margin-top: -$grid-gutter-width/2;
            margin-bottom: $grid-gutter-width;
            @media only screen and (min-width: $screen-sm-min) {
                margin-bottom: 0;
            }
            @media only screen and (min-width : $screen-md-min) {
                margin-top: -$grid-gutter-width;
            }
        }
        .home-series-img {
            @media only screen and (min-width: $screen-sm-min) {
                padding-right: 0px;
            }
        }
        .home-series-desc {
            background: #464749;
            color: #fff;
            padding-bottom: $grid-gutter-width/2;
            position: relative;
            z-index: 2;
        }
    }
    .home-locations {
        background: #F1F2F2;
        padding: $line-height-computed*2.5 0;
    }
    .home-map {
        position: relative;
        img {
            display: block;
        }
        a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            span {
                display: none;
            }
        }
        .arrow-down {
            width: 0;
            height: 0;
            border-left: 40px solid transparent;
            border-right: 40px solid transparent;
            border-top: 30px solid #F1F2F2;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -40px;
            z-index: 3;
        }
    }
    .home-were-open {
        background: black url('https://crds-cms-uploads.imgix.net/content/images/wereopen.jpg') no-repeat;
        background-position: right top;
        background-size: cover;
        color: #fff;
        padding: $line-height-computed*4 0;
        position: relative;
        @media only screen and (max-width: $screen-md-min) {
            &:before {
                background: rgba(0, 0, 0, .5);
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                content: " ";
                display: block;
            }
        }
        h1,
        h4 {
            color: #fff;
        }
    }
    .home-locations {
        position: relative;
        background: white;
        margin-top: 0;
        padding: 0;
        @media (min-width: 768px) {
            margin-top: 78px;
        }
        h2,
        p,
        a {
            color: white;
        }
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
        .locations-text {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 1;
            width: 90%;
            @media (min-width: 768px) {
                width: auto;
            }
        }
    }
    .join-a-group-home {
        position: relative;
        img {
            z-index: 1;
            position: relative;
        }
        .arrow-down {
            width: 0;
            height: 0;
            border-left: 40px solid transparent;
            border-right: 40px solid transparent;
            border-top: 30px solid #FFF;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -40px;
            z-index: 3;
        }
    }
    @media (max-width: 768px) {
        .home-relationships .h3 {
            font-size: 18px;
        }
    }
}
