/***************************************************************************************
* Home
***************************************************************************************/

.homepage {
  .main {
    margin-bottom: 0;
  }

  .brandbar-container {
      visibility: hidden;
      opacity: 0;
  }

  footer {
    margin-top: 0;
  }

  .home-countdown {
    background: #F1F2F2;
    padding: $line-height-computed*2.5 0 $line-height-computed*3.5;
  }

  .list-inline-countdown {
    display: inline-block;
    padding: 0 5px;

    li {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .home-series {
    background: #A7A9AC;
    overflow: visible;
    position: relative;

    h1 {
      color: #fff;
    }

    &:before,
    &:after {
      display: block;
      content: ' ';
      left: 0;
      right: 0;
      position: absolute;
      z-index: 1;
    }

    &:before {
      top: 0;
      height: 15px;
      background: #F1F2F2;
    }

    &:after {
      bottom: 0;
      height: 30px;
      background: #FFFFFF;
    }

    h4,
    h5 {
      color: #fff;
      font-weight: bold;
    }

    @media only screen and (min-width:  $screen-md-min){
      h4 {
        margin-top: $line-height-computed;
      }
    }

    img {
      margin-top: -$grid-gutter-width/2;
      margin-bottom: $grid-gutter-width;

      @media only screen and (min-width:  $screen-sm-min){
        margin-bottom: 0;
      }

      @media only screen and (min-width:  $screen-md-min){
        margin-top: -$grid-gutter-width;
      }
    }

    .home-series-img {
      @media only screen and (min-width:  $screen-sm-min){
        padding-right: 0px;
      }
    }

    .home-series-desc {
      background: #464749;
      color: #fff;
      padding-bottom: $grid-gutter-width/2;
      position: relative;
      z-index: 2;
    }
  }

  .home-locations {
    background: #F1F2F2;
    padding: $line-height-computed*2.5 0;
  }

  .home-map {
    position: relative;

    img {
      display: block;
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      span {
        display: none;
      }
    }

    .arrow-down {
    	width: 0;
    	height: 0;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-top: 30px solid #F1F2F2;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -40px;
      z-index: 3;
    }
  }

  .home-were-open {
    background: black url('https://crds-cms-uploads.imgix.net/content/images/wereopen.jpg') no-repeat;
    background-position: right top;
    background-size: cover;
    color: #fff;
    padding: $line-height-computed*4 0;
    position: relative;

    @media only screen and (max-width:  $screen-md-min){
      &:before {
        background: rgba(0,0,0,.5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        display: block;
      }
    }

    h1 {
      color: #fff;
    }
  }

  .home-locations {
    position: relative;
    background: white;
    margin-top: 0;
    padding: 0;

    @media (min-width: 768px) {
      margin-top: 78px;
    }

    h2,
    p,
    a {
      color: white;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .locations-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
      width: 90%;

      @media (min-width: 768px) {
        width: auto;
      }
    }
  }

  .join-a-group-home {
    position: relative;

    img {
      z-index: 1;
      position: relative;
    }

    .arrow-down {
      width: 0;
      height: 0;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-top: 30px solid #FFF;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -40px;
      z-index: 3;
    }
  }

  @media (max-width: 768px) {
    .home-relationships .h3 {
      font-size: 18px;
    }
  }
}
