.iam-landing-bg {
  background: url("//crds-cms-uploads.imgix.net/content/images/IAM-journey-overview.jpg") no-repeat;
  background-size: contain;
  background-color: #e7e7e7;
}

.iam-journey {
  h2 {
    font-family: "acumin-pro-extra-condensed", sans-serif;
    font-weight: 600;
    font-size: 300%;
    text-transform: uppercase;
  }

  h4 {
    font-family: "acumin-pro-extra-condensed", sans-serif;
    font-weight: 600;
    font-size: 170%;
    text-transform: uppercase;
  }
}
