$imin-blue: #008CBA;

.leaveyourmark-header {
  background: url("https://crds-cms-uploads.imgix.net/content/images/im-in-dashboard-header-bg.jpg") center center no-repeat;
  color: #fff;
  background-size: cover;

  h1 {
    color: #fff;
  }

  .btn {
    border-radius: 2px;
    border: none;
  }

  .btn-primary {
    background-color: rgba($imin-blue, 0.7);

    &:hover {
      background-color: rgba($imin-blue, .9);
    }
  }

  .btn-default {
    background-color: rgba(209,209,209, 0.3);
    color: #ffffff;

    &:hover {
      background-color: rgba(209,209,209, 0.5);
      color: #ffffff;
    }
  }
}

.im-in-logo {
  height: 50px;
  width: auto;
}

.chart {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 180px;
  text-align: center;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.percent {
  display: inline-block;
  line-height: 180px;
  z-index: 2;
  font-size: 3rem;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
}

.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}

.day-countdown {
  background: rgba(0,0,0,.4);

  h3 {
    color: #fff;
  }
}

.progress {
  overflow: visible;
}

.progress-bar-imin {
  background-color: #008CBA;
  color: #fff;
  font-size: 1em;
}

.imin-progress-label {
  line-height: 1;

  > div {
    margin-top: $line-height-computed/2;
  }

  @media (min-width: $screen-sm-min) {
    > div {
      margin-top: -28px;
    }

    &.text-left {
      color: #fff;
    }
  }
}

.progress-marker-wrapper {
  position: relative;
  .progress-marker {
    width: 50px;
    height: 35px;
    line-height: 35px;
    background: #000;
    color: #fff;
    position: absolute;
    left: -25px;
    top: -50px;
    text-align: center;

    .arrow-down {
    	width: 0;
    	height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #000;
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin-left: -10px;
      z-index: 3;
    }
  }
}

.im-in-stat {
  text-align: center;
  margin-top: 30px;
  border: 1px solid #dddddd;
  background: url('//crds-cms-uploads.imgix.net/content/images/imin-map-lg.png');
  font-weight: bold;
}

.giving-progress-heading {
  color: $imin-blue;
  font-weight: bold;
}

.im-in-stories {
  background: #EFEEE8;
}
