$imin-blue: #008CBA;

.leaveyourmark.leaveyourmark-container {
  font-family: "acumin-pro", sans-serif;

  h1,
  h2,
  h3:not(.small-heading),
  h4,
  h5,
  h6 {
    font-family: "acumin-pro-extra-condensed", sans-serif;
    font-weight: 600;
  }

  .leaveyourmark-header {
    background: url("https://crds-cms-uploads.imgix.net/content/images/im-in-dashboard-header-bg.jpg") center center no-repeat;
    color: #fff;
    background-size: cover;

    h1 {
      color: #fff;
    }

    .btn {
      border-radius: 2px;
      border: none;
    }

    .btn-primary {
      background-color: rgba($imin-blue, 0.7);

      &:hover {
        background-color: rgba($imin-blue, .9);
      }
    }

    .btn-default {
      background-color: rgba(209,209,209, 0.3);
      color: #ffffff;

      &:hover {
        background-color: rgba(209,209,209, 0.5);
        color: #ffffff;
      }
    }

    .lead {
      font-size: 1.2rem;
    }
  }

  .im-in-logo {
    height: 50px;
    width: auto;
  }

  .chart {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 180px;
    text-align: center;

    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }

    .percent {
      display: inline-block;
      line-height: 1;
      z-index: 2;
      font-size: 5rem;
      font-family: "acumin-pro-extra-condensed", sans-serif;
      font-weight: 600;
      margin-top: 35px;

      &:after {
        content: '%';
        margin-left: 0.1em;
        font-size: .8em;
      }
    }

    .percent-label {
      font-size: 1.2rem;
      display: block;
      line-height: 1;
      font-family: "acumin-pro-extra-condensed", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
    }
  }


  .day-countdown {
    background: rgba(0,0,0,.4);

    h3 {
      color: #fff;
    }
  }

  .progress {
    overflow: visible;
  }

  .progress-bar-imin {
    background-color: #008CBA;
    color: #fff;
    font-size: 1em;
  }

  .imin-progress-label {
    line-height: 1;

    > div {
      margin-top: $line-height-computed/2;
    }

    @media (min-width: $screen-sm-min) {
      > div {
        margin-top: -28px;
      }

      &.text-left {
        color: #fff;
      }
    }
  }

  .progress-marker-wrapper {
    position: relative;

    .progress-marker {
      width: 50px;
      height: 35px;
      line-height: 35px;
      background: #000;
      color: #fff;
      position: absolute;
      left: -25px;
      top: -10px;
      text-align: center;
      z-index: 2;

      @media (min-width: $screen-sm-min) {
        top: -50px;
      }

      .arrow-down {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #000;
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
        z-index: 3;
      }
    }
  }

  .im-in-stat {
    text-align: center;
    margin-top: 30px;
    border: 1px solid #dddddd;
    background: url('//crds-cms-uploads.imgix.net/content/images/imin-map-lg.png');
    font-weight: bold;
    min-height: 170px;

    img {
      max-width: 110px;
    }

    h1 {
      font-size: 4em;
    }
  }

  .giving-progress-heading {
    color: $imin-blue;
    font-weight: bold;
  }

  .im-in-stories {
    background: #EFEEE8;

    figcaption {
      background: #EFEEE8;
    }
  }

  .questions-container {
    background: url("//crds-cms-uploads.imgix.net/content/images/imin-map-lg.png");
    margin-bottom: -40px;
  }

  .imin-video {
    position: relative;

    .icon {
      color: #000;
    }

    figcaption {
      position: absolute;
      top: auto;
      bottom: 0;
    }
  }
}
