
.locations {

  .locations-header {
    background: url("//crds-cms-uploads.imgix.net/content/images/locationsbg.jpg") center center no-repeat;
    background-size: cover;
    padding: 104px 0;

    h1,
    h4 {
      color: white;
      font-weight: 200;
    }

    h3 {
      color: #555;
    }
  }

  .locations-anywhere-section {
    background: #0095d8;
    color: white;

    h2 {
      color: white;
      font-family: "acumin-pro-extra-condensed", sans-serif;
      font-weight: 600;
      line-height: .75;
    }

    i {
      font-family: lexia,serif;
      font-style: italic;
      letter-spacing: -.015em;
      color: #a7e4ff;
    }

    @media (min-width: 1200px) {
      .anywhere-content {
        padding-top: 26px;
      }
    }
  }
}


.crds-card.crds-location-card figcaption {
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-size: 180%;

  a {
    color: #3a3a3a;
  }
}
