// TODO Replace w/ CRDS endpoint once we have images in production S3 bucket.
$streaming-imgix-domain: '//crds-cms-uploads.imgix.net/content/images';

// NOTE These vars aren't assumed to be global yet, hence the `streaming` prefix.
$streaming-font-extra_cond: "acumin-pro-extra-condensed", sans-serif;
$streaming-font-sans: "acumin-pro", sans-serif;
$streaming-font-serif: "lexia", serif;

// NOTE This is a local deviation from CRDS pallette.
//      We should move this into lib when these changes go global.
$streaming-blue: #0795E3;

// ----------------------------------------- ###

@mixin crds-jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1, h2 {
    margin-bottom: 1em;
  }
  > div {
    padding: 1em;
    @media (min-width: $screen-md-min) {
      width: 50%;
    }
  }
  .btn {
    margin-top: 1em;
  }
}

@mixin crds-card {
  section, figcaption {
    position: relative;
    top: -1.25em;
  }
  section {
    margin-top: -0.5em;
    padding: 0 1.7em;
    &:before {
      content: "\2014";
      color: lighten($gray, 20%);
    }
  }
  figcaption {
    font-family: $streaming-font-extra_cond;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 1em 0 0.5em;
    padding: 0.15em 0.45em;
    max-width: 80%;
    font-weight: 600;
    font-size: 210%;
    line-height: 100%;
    letter-spacing: -0.032em;
    background: #FFF;
  }
  a {
    color: $gray;
  }
  h3 {
    font-size: 110%;
    margin: 0.3em 0 0.3em;
  }
  p {
    font-size: 90%;
  }
}

// ----------------------------------------- ###

streaming {

  font-family: $streaming-font-sans;

  h1, h2 {
    font-family: $streaming-font-sans;
    font-weight: 100;
  }

  h2 {
    font-weight: 300;
  }

  > section {
    @include make-row();
    @include clearfix();
  }

  .navbar-section {
    background: $streaming-blue;
    color: #FFF;
    text-align: center;
    padding: 1em 0;
    font-size: 90%;
    min-height: 52px;

    @media (min-width: $screen-sm-min) {
      min-height: 66px;
    }

    countdown {
      display: inline;
    }

    .container {
      @include clearfix();
      position: relative;
    }

    .see-schedule {
      text-transform: uppercase;
      font-size: 90%;
      color: #FFF;
      position: absolute;
      right: 0;
      display: none;
      @media (min-width: $screen-xs-min) {
        display: block;
      }
    }

    .upcoming {
      display: table;
      text-align: center;
      font-size: 80%;

      @media (min-width: $screen-sm-min) {
        font-size: 100%;
      }

      @media (min-width: $screen-md-min) {
        margin: 0 auto;
      }

      i, ul {
        display: table-cell;
        vertical-align: middle;
      }

      i {
        font-family: $streaming-font-serif;
        font-style: italic;
        font-size: 123%;
        letter-spacing: -0.015em;
        padding-right: 1em;
      }

      li {
        line-height: 120%;
        padding: 0;

        &.vr:before {
          @include rotate(-90deg);
          display: inline-block;
          content: '\2014';
          font-size: 190%;
          font-weight: 100;
          position: relative;
          top: -0.25em;
        }
      }

      i, li.vr:before {
        color: lighten($streaming-blue, 25%);
      }

      strong {
        display: block;
        font-size: 160%;
        font-weight: 400;
        min-width: 29px;
      }

      small {
        text-transform: uppercase;
        font-size: 63%;
        font-weight: 200;

      }

      @media (min-width: $screen-sm-min) {
        i {
          text-align: right;
        }
      }

      .countdown {
        position: relative;
        top: 1px;
      }

      .in-progress {
        i, a {
          padding-right: 1em;
          display: inline-block;
        }
      }
      a.btn-sm {
        @include button-variant(#FFF, lighten($streaming-blue, 12.5%), $streaming-blue);
        font-weight: 400;
        font-size: 110%;
      }
    }
  }

  .intro {
    @include crds-jumbotron();
    background-color: #2E2E30;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 2em 0;

    &, h1 {
      color: #FFF;
    }

    & {
      font-size: 125%;
    }

    h1 {
      font-size: 338%;
      line-height: 100%;
      margin-bottom: 0.5em;
    }

    @media (min-width: $screen-sm-min) {
      height: 792px;
    }
  }

  .current-series {
    figure {
      margin-top: 1em;
      margin-bottom: 1.75em;
      text-align: center;
      position: relative;

      figcaption {
        font-family: $streaming-font-serif;
        font-style: italic;
        font-size: 85%;
        position: absolute;
        bottom: -0.5em;
        margin-left: 1em;
        padding: 0.4em 1em;
        background: #D3DFE6;
        color: $gray;

        @media (min-width: $screen-sm-min) {
          margin-left: 8em;
        }
      }
      .img-responsive {
        margin: 0 auto;
      }
    }
    article {
      @media (min-width: $screen-md-min) {
        @include make-md-column(5);
        @include make-md-column-offset(1);
      }

      h2 {
        font-size: 270%;
        margin-bottom: 0.75em;

        small {
          font-family: $streaming-font-sans;
          font-weight: 600;
          font-size: 32%;
          text-transform: uppercase;
          display: block;
          margin-top: 0.35em;
        }
      }

      p {
        margin: 0 0 1.5em;
      }

      .lead {
        font-size: 120%;
      }
    }
    aside {
      @media (min-width: $screen-md-min) {
        @include make-md-column(4);
        @include make-md-column-offset(1);
      }

      margin-top: 2em;

      h3 {
        font-family: $streaming-font-extra_cond;
        font-size: 170%;
        font-weight: 600;
        letter-spacing: -0.025em;
        text-transform: uppercase;
        margin: 0 0 0.45em;
      }

      hr {
        border-color: darken($gray-lighter, 10%);
        width: 100%;
        margin: 0;
      }

      .well {
        border: none;
        border-radius: none;
        box-shadow: none;
        background: lighten($gray-lighter, 3%);
      }

      .row {
        @include make-row();
        font-size: 90%;
        padding-top: 1em;
        &, li {
          font-family: $streaming-font-sans;
        }
        li {
          white-space: nowrap;
        }
        a {
          font-weight: 600;
        }
        strong {
          display: block;
        }
        .date, .time, .cta {
          @include make-xs-column(4);
        }
      }
    }
  }

  .past-weekends {
    margin: 2em 0;

    &, h3 {
      color: $gray;
    }
    article {
      @include crds-card();
      @media only screen and (max-width:  $screen-md-min - 1){
        @include make-sm-column(6);
        &:nth-child(2n+1) {
          clear: left;
        }
      }
      @media only screen and (min-width:  $screen-md-min){
        @include make-md-column(3);
      }
    }

    header {
      border-top: 1px solid lighten($gray, 50%);
      h2 {
        color: lighten($gray, 50%);
        margin: 0;
        font-size: 200%;
        margin: 0.75em 0;
      }
      .view-all-desktop {
        font-size: 80%;
        margin-top: 3em;
        display: none;
        @media only screen and (min-width:  $screen-sm-min){
          display: block;
        }
      }
    }

    figure > a {
      display: block;
      width: 100%;
    }

    .view-all-mobile {
      @media only screen and (min-width:  $screen-sm-min){
        display: none;
      }
    }

    .container {
      padding: 0;
      @media (min-width: $screen-sm-min) {
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }

  .ways-to-watch {
    background: #F6F6F6;
    padding: 2em 0;
    text-align: center;

    h2 {
      font-size: 200%;
      color: lighten($gray, 25%);
      margin-bottom: 1em;
    }

    figure {
      text-align: center;
      margin-bottom: 1em;
      img {
        margin: 0 auto;
        max-width: 60%;
      }

      @media only screen and (min-width:  $screen-sm-min){
        @include make-sm-column(2);
        &:first-child {
            @include make-sm-column-offset(1);
        }
        display: table-cell;
        vertical-align: bottom;
        text-align: left;
        margin-bottom: 1em;

        img {
          margin: 0;
          max-width: 100%;
        }
      }

      figcaption {
        font-size: 70%;
        font-weight: 600;
        margin-top: 0.3em;

        span {
          font-weight: normal;
        }
      }
    }
  }

  .community {
    @include clearfix();
    @include crds-jumbotron();
    background: #1D3C50;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @media (min-width: $screen-sm-min) {
      height: 622px;
    }
    &, h2 {
      color: #FFF;
    }
  }

  .group-host {
    header {
      @include crds-jumbotron();
    }
    article {
      margin-bottom: 3em;
      font-size: 90%;
      h3 {
        font-size: 200%;
        text-transform: uppercase;
        font-family: $streaming-font-extra_cond;
        text-align: center;
        @media (min-width: $screen-sm-min) {
          text-align: left;
        }
      }
    }
    .btns > a {
      display: table-cell;
      vertical-align: middle;
    }
    .container {
      h3 {
        margin-top: 0;
      }
    }

    @media (min-width: $screen-sm-min) {
      .container {
        display: flex;
        flex-direction:column;
        height: 100%;
        > div {
          flex: 1 0 auto;
          display:flex;
        }
        article {
          margin-bottom: 0;
          width: 33%;
          padding: 0 2em;
          border-left: 1px solid $gray-lighter;
          &:first-child {
            border-left: none;
          }
        }
      }
    }

    @media (min-width: $screen-md-min) {
      .container {
        padding: 2em 5em 0;
      }
    }

  }

} // streaming
