@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before{
      display: block;
      content: " ";
      width: 100%;
      padding-top: ($height / $width) * 100%;
  }

  > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }
}

.sixteen-nine {
  overflow: hidden;
  @include aspect-ratio(16,9);  
}

@mixin crds-make-condensed {
  font-family: $cr-streaming-font-extra-cond;
  font-size: 170%;
  font-weight: 600;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  line-height: 100%;
}

streaming {

  font-family: $cr-streaming-font-sans;

  h1, h2 {
    font-family: $cr-streaming-font-sans;
    font-weight: 100;
  }

  h2 {
    font-weight: 300;
  }

  > .wrapper {
    @include make-row();
    @include clearfix();
    overflow-x: hidden;

    .navbar-section .container {
      display: flex;
      justify-content: center;
    }
    
  }

  .fixed-header {
    .navbar-section {
      position: fixed;
      z-index: 9999;
      left: 0;
      right: 0;
      top: 0;
      -webkit-overflow-scrolling: touch;
    }
  }

  .navbar-section {
    background: $cr-streaming-blue;
    color: #FFF;
    text-align: center;
    padding: 1em 0;
    font-size: 90%;
    min-height: 52px;

    @media (min-width: $screen-sm-min) {
      min-height: 66px;
    }

    #conuntdown-header {
      -webkit-animation-duration: 1.5s;
         -moz-animation-duration: 1.5s;
          -ms-animation-duration: 1.5s;
           -o-animation-duration: 1.5s;
              animation-duration: 1.5s;

      countdown {
        display: inline;
      }
    }


    .container {
      @include clearfix();
      position: relative;
    }

    .btn-reminder {
      @include button-variant(#FFF, $cr-streaming-blue, $cr-streaming-blue);
      margin-left: 1em;
    }



    .see-schedule {
      text-transform: uppercase;
      font-size: 90%;
      color: #FFF;
      position: absolute;
      right: 0;
      display: none;

      @media (min-width: $screen-xs-min) {
        display: block;
      }
      @media (max-width: $screen-sm-min) {
        margin-top: -5px;
      }
    }

    .upcoming {
      display: table;
      text-align: center;
      font-size: 80%;

      @media (min-width: $screen-sm-min) {
        font-size: 100%;
      }

      @media (min-width: $screen-md-min) {
        margin: 0 auto;
      }

      i, ul {
        display: table-cell;
        vertical-align: middle;
      }

      i {
        font-family: $cr-streaming-font-serif;
        font-style: italic;
        font-size: 123%;
        letter-spacing: -0.015em;
        padding-right: 1em;
      }

      li {
        line-height: 120%;
        padding: 0;

        &.vr:before {
          @include rotate(-90deg);
          display: inline-block;
          content: '\2014';
          font-size: 190%;
          font-weight: 100;
          position: relative;
          top: -0.25em;
          @media only screen and (max-width:  $screen-xs-min){
            display: none;
          }
        }
      }

      i, li.vr:before {
        color: lighten($cr-streaming-blue, 25%);
      }

      strong {
        display: block;
        font-size: 160%;
        font-weight: 400;
        min-width: 29px;
      }

      small {
        text-transform: uppercase;
        font-size: 63%;
        font-weight: 200;

      }

      @media (min-width: $screen-sm-min) {
        i {
          text-align: right;
        }
      }

      .countdown {
        position: relative;
        top: 1px;
      }

      .in-progress {
        i, a {
          padding-right: 1em;
          display: inline-block;
        }
      }

      a.btn-sm {
        @include button-variant(#FFF, lighten($cr-streaming-blue, 12.5%), $cr-streaming-blue);
        font-weight: 400;
        font-size: 110%;
      }
    }
  }

  .intro {
    background-color: #2E2E30;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 2em 0;

    &, h1 {
      color: #FFF;
    }

    & {
      font-size: 125%;
    }

    h1 {
      font-size: 238%;
      @media (min-width: $screen-md-min) {
        font-size: 338%;
      }
      line-height: 100%;
      margin-bottom: 0.5em;
    }

    @media (min-width: $screen-sm-min) {
      height: 792px;
    }
  }

  .current-series {

    figure {
      margin-top: 1em;
      margin-bottom: 1.75em;
      text-align: center;
      position: relative;

      figcaption {
        font-family: $cr-streaming-font-serif;
        font-style: italic;
        font-size: 85%;
        position: absolute;
        bottom: -0.5em;
        margin-left: 1em;
        padding: 0.4em 1em;
        background: #D3DFE6;
        color: $gray;
        position: absolute;
        word-wrap: break-word;

        @media (min-width: $screen-sm-min) {
          margin-left: 8em;
        }
      }
      .img-responsive {
        margin: 0 auto;
      }

    }
    .topic-list {
      padding: 0;
      list-style: none;
      margin: 0 0 1.5em;

      li {
        display: inline;
        
        &:after {
          content: ", ";
          margin-left: -4px;
        }
        &:last-child:after {
          content: "";
        }
        a {
          font-size: 87%;
          text-transform: lowercase;
        }
      }
    }
    article {
      @media (min-width: $screen-md-min) {
        @include make-md-column(5);
        @include make-md-column-offset(1);
      }

      h2 {
        font-size: 270%;
        margin-bottom: 0.75em;

        small {
          font-family: $cr-streaming-font-sans;
          font-weight: 600;
          font-size: 32%;
          text-transform: uppercase;
          display: block;
          margin-top: 0.35em;
        }
      }

      p {
        margin: 0 0 1.5em;

        &.small {
          margin: 0;
        }
      }

      .lead {
        font-size: 120%;
      }
    }
    aside {
      @media (min-width: $screen-md-min) {
        @include make-md-column(4);
        @include make-md-column-offset(1);
      }

      margin-top: 2em;

      h3 {
        @include crds-make-condensed();
        margin: 0 0 0.45em;
      }

      hr {
        border-color: darken($gray-lighter, 10%);
        width: 100%;
        margin: 0;
      }

      .well {
        border: none;
        border-radius: none;
        box-shadow: none;
        background: lighten($gray-lighter, 3%);
      }

      .row {
        @include make-row();
        font-size: 90%;
        padding-top: 1em;
        &, li {
          font-family: $cr-streaming-font-sans;
        }
        li {
          white-space: nowrap;
        }
        a {
          font-weight: 600;
        }
        strong {
          display: block;
        }
        .date, .time {
          @include make-xs-column(5);
        }
      }
    }
  }

  .past-weekends {
    margin: 2em 0;

    &, h3 {
      color: $gray;
    }
    article {
      @media only screen and (max-width:  $screen-md-min - 1){
        @include make-sm-column(6);
        &:nth-child(2n+1) {
          clear: left;
        }
      }
      @media only screen and (min-width:  $screen-md-min){
        @include make-md-column(3);
      }
    }

    header {
      border-top: 1px solid lighten($gray, 50%);
      h2 {
        color: lighten($gray, 50%);
        margin: 0;
        font-size: 200%;
        margin: 0.75em 0;
      }
      .view-all-desktop {
        font-size: 80%;
        margin-top: 3em;
        display: none;
        @media only screen and (min-width:  $screen-sm-min){
          display: block;
        }
      }
    }


    figcaption {
      font-family: $cr-streaming-font-extra-cond;
      font-size: 210%;
      top: -0.85em;
      word-wrap: break-word;
      
    }

    section {
      top: -1em;
    }

    figure > a {
      display: block;
      width: 100%;
      margin-bottom: 2%; 
    }

    @media (max-width: $screen-xs-max) { 
      figcaption {
        top: -1.15em;
      }

      figure > a {
        margin-bottom: 2%;
      }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      figure > a {
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
      }
      figcaption {
        top: -0.95em;
      }
    }

    .view-all-mobile {
      @media only screen and (min-width:  $screen-sm-min){
        display: none;
      }
    }

    .container {
      padding: 0;
      @media (min-width: $screen-sm-min) {
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }

  .ways-to-watch {
    background: #F6F6F6;
    padding: 2em 0;
    text-align: center;

    h2 {
      font-size: 200%;
      color: lighten($gray, 25%);
      margin-bottom: 1em;
    }

    figure {
      text-align: center;
      margin-bottom: 1em;
      img {
        margin: 0 auto;
        max-width: 60%;
      }

      @media only screen and (min-width:  $screen-sm-min){
        @include make-sm-column(2);
        &:first-child {
            @include make-sm-column-offset(1);
        }
        display: table-cell;
        vertical-align: bottom;
        text-align: left;
        margin-bottom: 1em;

        img {
          margin: 0;
          max-width: 100%;
        }
      }

      figcaption {
        font-size: 70%;
        font-weight: 600;
        margin-top: 0.3em;
        word-wrap: break-word;
        

        span {
          font-weight: normal;
        }
      }
    }
  }

  .community {
    @include clearfix();
    background: #1D3C50;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @media (min-width: $screen-sm-min) {
      height: 622px;
    }
    &, h2 {
      color: #FFF;
    }

    .addthis_crossroads_sharing {
      a {
        float: none;
      }
    }
  }

  .group-host {
    .crds-hero {
      &, p, h1, h2 {
        color: $gray;
      }
    }

    article {
      margin-bottom: 3em;
      font-size: 90%;
      h3 {
        @include crds-make-condensed();
        font-size: 200%;
      }
    }
    .btns > a {
      display: table-cell;
      vertical-align: middle;
    }
    .container {
      h3 {
        margin-top: 0;
      }
    }

    @media (min-width: $screen-sm-min) {
      .container {
        display: flex;
        flex-direction:column;
        height: 100%;
        > div {
          flex: 1 0 auto;
          display:flex;
        }
        article {
          margin-bottom: 0;
          width: 33%;
          padding: 0 2em;
          border-left: 1px solid $gray-lighter;
          &:first-child {
            border-left: none;
          }
        }
      }
    }

    @media (min-width: $screen-md-min) {
      .container {
        padding: 2em 5em 0;
      }
    }

  }

} // streaming


.live-stream {
  display: block;
  background: #000;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 0 0 5em;
  color: #FFF;

  content-card {

    @media only screen and (max-width:  $screen-md-min - 1){
      @include make-sm-column(12);
      &:nth-child(2n+1) {
        clear: left;
      }
    }
    @media only screen and (min-width:  $screen-md-min){
      @include make-md-column(6);
    }

    &, h3 {
      color: $gray;
    }
    a {
      cursor: default;
    }

    figure {
      background-color: #fff;
    }

    section {
      background-color: #fff;
      padding-bottom: 25px;
    }

    header {
      border-top: 1px solid lighten($gray, 50%);

      h2 {
        color: lighten($gray, 50%);
        margin: 0;
        font-size: 200%;
        margin: 0.75em 0;
      }
      .view-all-desktop {
        font-size: 80%;
        margin-top: 3em;
        display: none;
        @media only screen and (min-width:  $screen-sm-min){
          display: block;
        }
      }
    }


    figcaption {
      font-family: $cr-streaming-font-extra-cond;
      font-size: 210%;
      top: -0.5em;
      word-wrap: break-word;
      
    }

    section {
      top: -1em;
    }

    figure > a {
      display: block;
      width: 100%;
      margin-bottom: 2%; 
    }

    @media (max-width: $screen-xs-max) { 
      figcaption {
        top: -1.15em;
      }

      figure > a {
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
      }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      figure > a {
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
      }
      figcaption {
        top: -0.95em;
      }
    }

    .view-all-mobile {
      @media only screen and (min-width:  $screen-sm-min){
        display: none;
      }
    }

    .container {
      padding: 0;
      @media (min-width: $screen-sm-min) {
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }

  h2 {
    color: darken(#FFF, 70%);
    font-family: $cr-streaming-font-sans;
    font-weight: 300;
    font-size: 170%;
    letter-spacing: -0.05em;
  }

  .dark-bg {
    padding-top: 1em;
    padding-bottom: 1em;
    background: #000;
    .video-player {
      margin: 0 auto;
    }
  }

  @media (min-width: $screen-sm) {
    .related {
      @include make-sm-column(6);
    }
    .participate {
      @include make-sm-column(5);
      @include make-sm-column-offset(1);
    }
  }

  .digital-program {
    background: #252526;
    padding-bottom: 15px;

    header {
      @include make-md-column(12);
    }

    .gradient {
      position: relative;
      display:inline-block;
      &:after {
        @include gradient-vertical(rgba(0,0,0,0.2), rgba(0,0,0,0.8), 40%, 100%);
        content:'';
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        display:inline-block;
      }
      img {
        display: block;
      }
    }
  }

  .participate {
    .promo {
      @include make-md-column(12);
    }
    @media (min-width: $screen-md-min) {
      figure {
        @include make-md-column(4);
        a {
          display: block;
          width: 100%;
        }
      }
      section {
        @include make-md-column(8);
      }
    }

    .promo {
      &:last-child {
        hr {
          display: none;
        }
      }
    }

    margin-bottom: 3em;
    font-family: $cr-streaming-font-sans;
    font-size: 88%;

    h3 {
      @include crds-make-condensed();
      letter-spacing: normal;
      margin: 0 0 0.3em;
      color: #FFF;
    }
    hr {
      margin-top: 0;
      border-color: darken($gray, 10%);
      clear: both;

      
    }
    figure {
      margin-bottom: 1em;
      padding-left: 0;
    }
  }

  .how-many-people {
    background: #000;
    margin-bottom: 1em;
    color: $gray-light;
    .btn-step {
      @include button-variant($gray-light, #000, $gray-light);
      padding: 0.8em;
      font-weight: 300;
    }
    .btn-group {
      margin: 0 0.75em 0 0.5em;
    }
    .btn {
      padding-top: 0.15em;
      padding-bottom: 0.15em;
    }
    .vr {
      display: inline-block;
      position: relative;
      top: 0.4em;
      &:before {
        @include rotate(-90deg);
        display: inline-block;
        content: '\2014';
        font-size: 190%;
        font-weight: 100;
      }
    }
  }

  .control-container {
    background: #252526;
    padding: 10px 0;
  }

  .pushdown-container {
    background: #252526;

    .pull-right {
      color: #FFF;
      display: block;
      margin: 1em;
    }
    .iframe-wrapper {
      position: relative;
      padding-top: 30px;
      height: 140px;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
} // .live-stream


.reminder-content {

  margin-bottom: 2em;

  > label {
    text-transform: uppercase;
    font-size: 85%;
    margin-bottom: 0.5em; 
  }

  .btn {
    &.btn-set-reminder {
      @include button-variant($cr-streaming-blue, #FFF, #FFF);
    }
    &.btn-time-select {
      @include button-variant(#FFF, $cr-streaming-blue, lighten($cr-streaming-blue, 20));
      &.active {
        color: $cr-streaming-blue;
        background: #FFF;
        box-shadow: none;
      } 
    }
  }

  .form-control {
    label {
      text-transform: none;
    }
  }

  .contact, .schedule {
    @include make-sm-column(5);
  }
  
  .schedule {
    @include make-sm-column-offset(1);
    .btn {
      margin: 0 0.35em 0.5em 0;
    }
  }

  .btn-group {
    margin: 1.5em 0;
    .btn.active,
    .btn:first-child {
      border-right: none;
    }
  }

  @media(min-width: $screen-md) {
    .schedule {
      border-right: 1px solid lighten($cr-streaming-blue, 20);
      min-height: 200px;
    }
    .contact {
      padding-left: 3em;
    }
  }
}  // .reminder-content
