/* Crossroads Worship Training */

.worship-training {
  h1,h2,h3 {
    font-family: "acumin-pro-extra-condensed", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }

  h1 {
    font-size: 680%;
    color: #fff;

    @media only screen and (max-width: 768px) {
      font-size: 300%;
    }
  }

  h2 {

    font-size: 300%;
    color: #3e3e3e;
  }

  h3 {
    font-size: 200%;
    color: #3e3e3e;
  }

  .header-video {
    video {
      width: 100%;
      object-fit: cover;
      min-height: 600px;

      @media only screen and (max-width:768px){
        width: 100%;
        object-fit: cover;
        min-height: 1000px;
      }
    }
  }

  .easter-container {
    .easter-header-video {
      min-height: 600px;

      @media only screen and (max-width:768px){
        min-height: 500px;
      }
    }
  }
}
