<div class="row">
  <div class="col-sm-12">
    <progressbar value="15"></progressbar>
  </div>
</div>

<div dynamic-content="$root.MESSAGES.goVolunteerProjectPrefTwoQuestion.content | html"></div>

<div class="row">
  <div class="col-xs-6 img-link" ng-repeat="item in goProjectPrefTwo.list" ng-repeat="item in goProjectPrefTwo.list">
    <!-- TODO: Disable the link if the preference is disabled because it has already been choosen. -->
    <a class="push-bottom gradiant-text-background border {{item.state}}" ui-sref="go-volunteer.crossroadspage({page: 'project-preference-three'})">
      <img src="https://crds-cms-uploads.imgix.net/content/images/{{item.img}}.jpg" class="img-responsive img-full-width" />
      <div class="img-link-text">
        {{item.title}}
      </div>
      <div class="triangle">
        <span>Age {{item.age}}+</span>
      </div>
      <svg viewBox="0 0 32 32" class="icon icon-checkmark icon-xlarge center"> 
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#checkmark"></use>
      </svg>
    </a>
  </div>
</div>
