<div class="row">
  <div class="col-sm-12">
    <progressbar value="15"></progressbar>
  </div>
</div>
<h2>What is your <strong>second</strong> choice of three project preference?</h2>

<div class="row">
  <div class="col-xs-6 img-link" ng-repeat="item in goProjectPrefTwo.projectTypes">
    <a class="push-bottom gradiant-text-background border" ng-class="goProjectPrefTwo.alreadySelected(item.projectTypeId)"  href="#" ng-click="goProjectPrefTwo.submit(item.projectTypeId)">
      <img src="{{item.imageUrl}}" class="img-responsive img-full-width" />
      <div class="img-link-text">
        {{item.desc}}
      </div>
      <div class="triangle">
        <span>Age {{item.minAge}}+</span>
      </div>
    </a>
  </div>
</div>
