<div class="dashboard-header" style="height: 275px">
  <div class="col-sm-12 push-top nextstep-dark nextstep-background imgix-fluid-bg" data-src="https://crds-cms-uploads.imgix.net/content/images/ns-attendbg.jpg" style="background-image: url(&quot;https://crds-cms-uploads.imgix.net/content/images/ns-attendbg.jpg?ixjsv=1.1.2&amp;w=950&quot;);">
  </div>
</div>

<tabset>
  <tab heading="Resources" active="tab[0].active" ng-click="dashboard.goToTab(tab)" class="{{tab.class}}" >
    <ng-include src="'templates/resources.html'"></ng-include>
  </tab>
  <tab heading="My Groups" active="tab[1].active" ng-click="dashboard.goToTab(tab)" class="{{tab.class}}">
    <ng-include src="'templates/groups.html'"></ng-include>
  </tab>
  <li role="tab" class="dropdown hidden-md hidden-lg hidden-sm dropdown-toggle" dropdown is-open="status.isopen">
    <a dropdown-toggle ng-disabled="disabled">More <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="tab in dashboard.tabs | filter:tab.title==='Resources'">
        <a href="" ng-click="dashboard.goToTab(tab)">{{tab.title}}</a>
      </li>
    </ul>
  </li>
</tabset>
