<div class="dashboard-header" style="height: 275px">
  <div class="col-sm-12 push-top nextstep-dark nextstep-background imgix-fluid-bg" data-src="https://crds-cms-uploads.imgix.net/content/images/ns-attendbg.jpg" style="background-image: url(&quot;https://crds-cms-uploads.imgix.net/content/images/ns-attendbg.jpg?ixjsv=1.1.2&amp;w=950&quot;);">
  </div>
</div>

<div class="hosting" ng-if="dashboard.groups.hosting.length > 0">
  <h2>Groups you're hosting</h2>
  <groupcard group="group" ng-repeat="group in dashboard.groups.hosting"></groupcard>
</div>

<div class="participating" ng-if="dashboard.groups.participating.length > 0">
  <h2>Groups you've joined</h2>
  <groupcard group="group" ng-repeat="group in dashboard.groups.participating"></groupcard>
</div>
