<div class="dashboard-header" style="height: 275px">
  <div class="col-sm-12 push-top nextstep-dark nextstep-background imgix-fluid-bg" data-src="https://crds-cms-uploads.imgix.net/content/images/ns-attendbg.jpg" style="background-image: url(&quot;https://crds-cms-uploads.imgix.net/content/images/ns-attendbg.jpg?ixjsv=1.1.2&amp;w=950&quot;);">
  </div>
</div>

<tabset>
  <tab heading="Resources" active="tab[0].active" ng-click="dashboard.goToTab(tab)" class="{{tab.class}}" >
    <ng-include src="'templates/resources.html'"></ng-include>
  </tab>
  <tab heading="My Groups" active="tab[1].active" ng-click="dashboard.goToTab(tab)" class="{{tab.class}}" >
    <ng-include src="'templates/groups.html'"></ng-include>
  </tab>
</tabset>
