<tabset>
  <tab heading="Resources" active="tab[0].active" ng-click="detail.goToTab(tab)" class="{{tab.class}}" >
    <ng-include src="'templates/resources.html'"></ng-include>
  </tab>
  <tab heading="My Group" active="tab[1].active" ng-click="detail.goToTab(tab)" class="{{tab.class}}" >
    <pre>{{detail.group}}</pre>

    <button class="btn btn-primary" ng-click="detail.emailGroup()">Email Group</button>
    <form name="inviteForm" role="form" ng-submit="detail.inviteMember()" novalidate>
      <div class="form-group" ng-class="{ 'has-error': inviteForm.invite.$invalid && !inviteForm.invite.$pristine}">
        <label for="invite">Invite someone to join.</label>
        <input type="email" placeholder="Enter email address" id="invite" name="invite" ng-model="detail.invitee" required>
        <button class="btn btn-primary" ng-disabled="inviteForm.$invalid">Send</button>
        <p ng-show="inviteForm.invite.$invalid && inviteForm.$submitted" class="help-block">Valid email address required.</p>
      </div>
    </form>

    <div class="help">
      <h4>Need Help?</h4>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. <a href="#">Bill Johnson would love to hear from you.</a></p>
    </div>

  </tab>
</tabset>
