<tabset class="group-detail">
  <tab heading="My Group" active="tab[1].active" ng-click="detail.goToTab(tab)" class="{{tab.class}}" >

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3 class="text-center group-description">{{detail.group.description}}</h3>
      </div>
    </div>

    <hr />

    <div ng-repeat="member in detail.group.members track by $index" ng-if="member.groupRoleId == 15">
      <hr ng-if="$index > 0" />
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <member-card member="member"></member-card>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-sm-offset-3">
      <br />
      <br />
      <button class="btn btn-primary btn-block" ng-click="detail.emailGroup()">Email Your Group</button>

      <br />
      <group-invitation group="detail.group" headline="Add someone to your group:"></group-invitation>

      <br />
      <div class="help">
        <h4 class="text-center">Need Help?</h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis laoreet rutrum faucibus dolor auctor. <a href="#">Bill Johnson would love to hear from you.</a></p>
      </div>
    </div>

  </tab>
  <tab heading="Host Resources" active="tab[0].active" ng-click="detail.goToTab(tab)" class="{{tab.class}}" >
    <ng-include src="'templates/group_resources.html'"></ng-include>
  </tab>
</tabset>
