<div class="panel panel-default childcare-dashboard">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{childcareGroup.communityGroup.groupName}} •
      {{childcareGroup.communityGroup.groupMemberName}}</h3>
    <div>
      {{childcareGroup.communityGroup.eventStartTime | date: 'h:mm'}}-{{childcareGroup.communityGroup.eventEndTime | date: 'shortTime'}}
      at {{childcareGroup.getCongregation(childcareGroup.communityGroup.congregationId)}}
    </div>
  </div>
  <ul class="list-group">
    <li
      class="list-group-item list-group-item-warning"
      ng-show="childcareGroup.showMessage()">
      <div dynamic-content="childcareGroup.message | html"></div>
    </li>
    <li ng-show="childcareGroup.hasEligibleChildren() && !childcareGroup.isEventCancelled()"
        ng-repeat="child in childcareGroup.communityGroup.eligibleChildren"
        class="list-group-item form-group">
      {{child.childName}} 
      <span ng-if = "!child.eligible" class= "pull-right" dynamic-content='$root.MESSAGES.childexceedsMaxAge.content | html'></span> 
      <toggle-switch
        ng-if = "child.eligible"
        ng-model="child.rsvpness"
        on-label="Yes"
        off-label="No"
        class="pull-right"
        ng-click="childcareGroup.validateAndRsvp(child, child.rsvpness)" >
      <toggle-switch>  
    </li>
  </ul>
</div>

