<form ng-submit='groupMessage.submit()'>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>

      <div class='row'>
        <div class='col-md-12'>
          <h4>{{ groupMessage.header }}</h4>
        </div>
      </div>

      <div class='row' ng-if='groupMessage.hasSubHeaderText()'>
        <div class='col-md-12' dynamic-content="groupMessage.subHeaderText | html"></div>
      </div>

      <div class='row' ng-if='groupMessage.hasContactText()'>
        <div class='col-md-12' dynamic-content="groupMessage.contactText | html"></div>
      </div>

      <div class='row' ng-if='groupMessage.hasEmailTemplateText()'>
        <div class='col-md-12' dynamic-content="groupMessage.emailTemplateText | html"></div>
      </div>

      <div class='row'>
        <div class='col-md-12'>
          <div class='form-group'>
            <label for='emailMessage' class='wide-label'>Your Message (Optional)</label>
            <textarea type='textarea' rows='8' class='form-control' name='emailMessage' ng-model='groupMessage.message'></textarea>
          </div>
        </div>
      </div>

      <div class='row'>&nbsp;</div>
      
      <div class='row'>
        <div class='col-md-12'>
          <p class='text-center'>
            <a type='button' class='btn btn-standard' href='#' ng-click='groupMessage.cancel()'>Cancel</a>
            <loading-button 
              input-type='submit'
              normal-text='{{ groupMessage.normalLoadingText }}'
              loading-text='{{ groupMessage.loadingLoadingText }}'
              loading='groupMessage.processing'
              loading-class='disabled'
              input-classes='btn btn-primary'/>
          </p>
        </div>
      </div>
    </div>
  </div>
</form>