<div ng-show="ctrl.viewReady && ctrl.waiver">
  <form role="form">
    <h2> {{ctrl.title}} </h2>
    <legend> {{ctrl.eventName}} </legend>

    <div class="push-top">
      <div dynamic-content="ctrl.waiver.waiverText | html"></div>
    </div>

    <div class="text-right push-top">
      <a id="cancelBtn" class="btn btn-standard btn-block-mobile" ng-click="ctrl.cancel()">Cancel</a>

      <loading-button input-type="button"
          normal-text="Next"
          loading-text="Submitting..."
          loading="ctrl.processing"
          loading-class="disabled"
          input-classes="btn btn-primary btn-block-mobile"
          ng-click="ctrl.submit()"></loading-button>
    </div>
  </form>
</div>
