<article class="crds-card fadeInUp" [attr.data-wow-delay]="content.delay" [ngClass]="{ wow: animate }">
  <figure>
    <linked-content target="{{ content.target }}" href="{{ content.url }}" class="imgix-fluid-bg img-background" background="{{ content.image }}"></linked-content>
    <figcaption>
      <linked-content target="{{ content.target }}" href="{{ content.url }}" *ngIf="content.title" title="{{ content.title }}">{{ content.title | truncate: 38 }}</linked-content>
    </figcaption>
  </figure>
  <section>
    <h3 *ngIf="content.subtitle">{{ content.subtitle | truncate: 38 }}</h3>
    <p>{{ content.description | htmlToPlainText }}</p>
  </section>
</article>