<article class="crds-card wow fadeInUp" [attr.data-wow-delay]="event.delay" *ngIf="event.series">
  <figure>
    <a class="sixteen-nine" href="/message/{{ event.id }}/{{ event.title | replaceNonAlphaNumeric }}">
      <img alt="" class="content img-responsive imgix-fluid" [attr.data-src]="event.imageSrc" src="{{ event.image }}" title="{{ event.seriesTitle }}">
    </a>
    <figcaption>
      <a href="/message/{{ event.id }}/{{ event.title | replaceNonAlphaNumeric }}" *ngIf="event.seriesTitle">{{ event.seriesTitle }}</a>
    </figcaption>
  </figure>
  <section>
    <h3>{{ event.title }}</h3>
    <p>{{ event.description | htmlToPlainText | truncate: 38 }}</p>
  </section>
</article>