<modal id="reminderModal" #reminderModal class="crds-modal">
  <form #form="ngForm" (ngSubmit)="submit(form)" novalidate>
    <modal-header [show-close]="true">
      <dynamic-content-ng2 title="streamingReminderTitle"></dynamic-content-ng2>
    </modal-header>
    <modal-body>
      <preloader full-screen='true' *ngIf="isLoading()"></preloader>
      <div class="reminder-content" *ngIf="!isLoading() && !formSuccess">
        <div class="schedule">
          <dynamic-content-ng2 title="streamingReminderStreamSelect"></dynamic-content-ng2>

          <a href="#" class="btn btn-date-select" (click)="model.day=false;dateTimeError=false" *ngIf="model.day">
            <i class="glyphicon glyphicon-calendar"></i>&nbsp;&nbsp;
            {{model.day}}
            &nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-down"></i>
          </a>

          <div data-toggle="buttons" [hidden]="model.day">
            <label class="btn btn-lg btn-date-select" *ngFor="let date of uniqueDates()" (click)="model.day=date.start.format(dateFormats.key);dateTimeError=false">
              <input type="radio" autocomplete="off" [(ngModel)]="model.day" ngControl="day" #day="ngForm" value="{{date.start.format(dateFormats.key)}}" name="{{date.start.format(dateFormats.key)}}"> {{date.start.format(dateFormats.display)}}
            </label>
            <dynamic-content-ng2 title="streamingLandingDateTimeError" *ngIf="dateTimeError" ></dynamic-content-ng2>
          </div>

          <div *ngIf="model.day">
            <dynamic-content-ng2 title="streamingReminderLabelTime"></dynamic-content-ng2>
            <div data-toggle="buttons">
              <label class="btn btn-sm btn-time-select" *ngFor="let event of selectedDate(model.day)" (click)="model.time=event.start.format(dateFormats.time)">
                <input type="radio" autocomplete="off" [(ngModel)]="model.time" ngControl="time" #time="ngForm"> {{event.start.format(dateFormats.time)}}
              </label>
              <dynamic-content-ng2 title="streamingLandingDateTimeError" *ngIf="dateTimeError" ></dynamic-content-ng2>
            </div>
          </div>

        </div>
        <div class="contact">
          <dynamic-content-ng2 title="streamingReminderTypeSelect"></dynamic-content-ng2>
          <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-lg btn-time-select active" (click)="model.type='phone'">
              <input type="radio" name="type" value="phone" autocomplete="off" [(ngModel)]="model.type" ngControl="type" #type="ngForm"> Text
            </label>
            <label class="btn btn-lg btn-time-select" (click)="model.type='email'">
              <input type="radio" name="type" value="email" autocomplete="off" [(ngModel)]="model.type" ngControl="type" #type="ngForm"> Email
            </label>
          </div>

          <div class="form-group" *ngIf="model.type=='phone'">
            <input [(ngModel)]="model.phone" ngControl="phone" #phone="ngForm" type="tel" class="form-control" placeholder="Enter your phone number" pattern="^\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$$">
            <dynamic-content-ng2 title="streamingReminderErrorPhone" *ngIf="model.isPhoneValid === false"></dynamic-content-ng2>
          </div>
          <div class="form-group" *ngIf="model.type=='email'">
            <input [(ngModel)]="model.email" ngControl="email" #email="ngForm" type="email" class="form-control" placeholder="Enter your email address" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
            <dynamic-content-ng2 title="streamingReminderErrorEmail" *ngIf="model.isEmailValid === false"></dynamic-content-ng2>
          </div>
        </div>
      </div>

      <div *ngIf="formSuccess">
        <dynamic-content-ng2 title="streamingReminderSuccess"></dynamic-content-ng2>
      </div>

      <div *ngIf="formError">
        <dynamic-content-ng2 title="streamingReminderFailure"></dynamic-content-ng2>
      </div>
      
    </modal-body>
    <modal-footer>
      <button type="submit" class="btn btn-default btn-set-reminder" [disabled]="false" *ngIf="!isLoading() && !formSuccess">Set Reminder</button>
      <button type="button" class="btn btn-default btn-set-reminder" (click)="close()" *ngIf="formSuccess">Close</button>
    </modal-footer>
  </form>
</modal>
