<modal id="reminderModal" #reminderModal class="crds-modal">
  <form #form="ngForm" (ngSubmit)="submit(form)" novalidate>
    <modal-header [show-close]="true">
      <h2>Live Stream Reminder</h2>
    </modal-header>
    <modal-body>
      <!--<pre>{{ form.value | json }}</pre>-->

      <preloader full-screen='true' *ngIf="isLoading()"></preloader>
      <div class="reminder-content" *ngIf="!isLoading() && !formSuccess">
        <div class="schedule">
          <h3>Which upcoming live stream?</h3>

          <a href="#" class="btn btn-date-select" (click)="model.day=false" *ngIf="model.day">
            <i class="glyphicon glyphicon-calendar"></i>&nbsp;&nbsp;
            {{model.day}}
            &nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-down"></i>
          </a>

          <div data-toggle="buttons" [hidden]="model.day">
            <label class="btn btn-lg btn-date-select" *ngFor="let date of uniqueDates()" (click)="model.day=date.start.format(dateFormats.key)">
              <input type="radio" autocomplete="off" [(ngModel)]="model.day" ngControl="day" #day="ngForm"> {{date.start.format(dateFormats.display)}}
            </label>
          </div>

          <div *ngIf="model.day">
            <label class="text-uppercase">Select the time</label>
            <div data-toggle="buttons">
              <label class="btn btn-sm btn-time-select" *ngFor="let event of selectedDate(model.day)" (click)="model.time=event.start.format(dateFormats.time)">
                <input type="radio" autocomplete="off" [(ngModel)]="model.time" ngControl="time" #time="ngForm"> {{event.start.format(dateFormats.time)}}
              </label>
            </div>
          </div>

        </div>
        <div class="contact">
          <h3>How would you like to be reminded?</h3>
          <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-lg btn-time-select" (click)="model.type='phone'">
              <input type="radio" name="type" value="phone" autocomplete="off" [(ngModel)]="model.type" ngControl="type" #type="ngForm"> Text
            </label>
            <label class="btn btn-lg btn-time-select" (click)="model.type='email'">
              <input type="radio" name="type" value="email" autocomplete="off" [(ngModel)]="model.type" ngControl="type" #type="ngForm"> Email
            </label>
          </div>

          <div class="form-group" *ngIf="model.type=='phone'">
            <input [(ngModel)]="model.phone" ngControl="phone" #phone="ngForm" type="tel" class="form-control" placeholder="Enter your phone number" pattern="[0-9-\(\)]*">
            <div *ngIf="!isPhoneValid" class="alert alert-danger">Phone number is invalid</div>
          </div>
          <div class="form-group" *ngIf="model.type=='email'">
            <input [(ngModel)]="model.email" ngControl="email" #email="ngForm" type="email" class="form-control" placeholder="Enter your email address" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
            <div *ngIf="!isEmailValid" class="alert alert-danger">Email address is invalid</div>
          </div>
        </div>
      </div>

      <div *ngIf="formSuccess">
        <h3 class="text-center">Thanks!<br>Your reminder was set successfully.</h3>
      </div>
    </modal-body>
    <modal-footer>
      <button type="submit" class="btn btn-default btn-set-reminder" [disabled]="false" *ngIf="!isLoading() && !formSuccess">Set Reminder</button>
      <button type="button" class="btn btn-default btn-set-reminder" (click)="close()" *ngIf="formSuccess">Close</button>
    </modal-footer>
  </form>
</modal>
