
<section class="navbar-section">
  <div class="container">
    <a href="#" class="btn pull-right">
      See Schedule
      <svg viewBox="0 0 32 32" class="icon icon-arrow-down9">
	      <use xlink:href="#arrow-down9"></use>
      </svg>
    </a>

    <div class="upcoming">
      <i>Join the live stream in...</i>
      <ul class="list-inline">
        <li><strong>3</strong> <small>days</small></li>
        <li class="vr"></li>
        <li><strong>10</strong> <small>hours</small></li>
        <li class="vr"></li>
        <li><strong>58</strong> <small>min</small></li>
        <li class="vr"></li>
        <li><strong>19</strong> <small>sec</small></li>
      </ul>
    </div>
  </div>
</section>

<section class="intro">
  <div>
    <h1>crossroads anywhere</h1>
    <p>Et possimus voluptas atque eos. Commodi eligendi nostrum cumque. Fugiat quae reprehenderit molestias et nihil facere.</p>
    <p><a href="#" class="btn btn-primary">Watch Now</a></p>
  </div>
</section>

<section class="current-series">
  <figure class="container text-center">
    <img src="//ample.imgix.net/series-death-to-religion.jpg?dpr=2&h=600" alt="" class="img-responsive" />
    <figcaption>Current Series</figcaption>
  </figure>

  <main class="container">
    <article>
      <h2>Death to Religion <small>RUNS: april 1st - May 2nd</small></h2>
      <p class="lead">Religion means judgement. It means rules and check-the-boxes. We want relationship. And Jesus came to give that to us. Relationship means love, personality, invitation and challenge within the context of someone who knows you intimately. Sure, relationship is sloppy, but it’s worth it.</p>
      <p><small>Topics covered:<br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inci didunt ut labore et dolore magna aliqua.</small></p>
      <p><a href="#" class="btn btn-primary">Watch Trailer</a></p>
    </article>

    <aside>
      <div class="well">
        <h3>Live Stream Schedule</h3>
        <hr>
        <div class="row">
          <div class="date">
            <strong>Saturday</strong> 3/26
          </div>
          <div class="time">
            <ul class="list-unstyled">
              <li>4:30pm ET</li>
              <li>6:15pm ET</li>
            </ul>
          </div>
          <div class="cta">
            <a href="#">Watch Now</a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="date">
            <strong>Sunday</strong> 3/27
          </div>
          <div class="time">
            <ul class="list-unstyled">
              <li>8:30am ET</li>
              <li>10:05am ET</li>
              <li>11:55am ET</li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
  </main>
</section>

<section class="past-weekends">
  <div class="container">
    <header>
      <a href="#" class="pull-right view-all">View All Past Weekends</a>
      <h2>Past Weekends</h2>
    </header>

    <div class="row">
      <article>

        <figure>
          <a href="#">
            <img src="//s3.amazonaws.com/ample-useast/streaming/series-week1.jpg" alt="" class="img-responsive" />
          </a>
          <figcaption><a href="#">Spark #2</a></figcaption>
        </figure>

        <section>
          <h3>Two words that can save any marriage.</h3>
          <p>Lorem ipsum dolor sit amet consec te tur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua.</p>
        </section>
      </article>

      <article>
        <figure>
          <a href="#"><img src="//s3.amazonaws.com/ample-useast/streaming/series-week2.jpg" alt="" class="img-responsive" /></a>
          <figcaption><a href="#">The Super bowl of preaching</a></figcaption>
        </figure>
        <section>
          <p>Lorem ipsum dolor sit amet consec te tur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua.</p>
        </section>
      </article>

      <article>
        <figure>
          <a href="#"><img src="//s3.amazonaws.com/ample-useast/streaming/series-week3.jpg" alt="" class="img-responsive" /></a>
          <figcaption><a href="#">Life Hacks (4)</a></figcaption>
        </figure>
        <section>
          <h3>Time Hacks</h3>
          <p>Lorem ipsum dolor sit amet consec te tur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua.</p>
        </section>
      </article>

      <article>
        <figure>
          <a href="#"><img src="//s3.amazonaws.com/ample-useast/streaming/series-week4.jpg" alt="" class="img-responsive" /></a>
          <figcaption><a href="#">James: Putting your faith to work #1</a></figcaption>
        </figure>
        <section>
          <h3>Confession</h3>
          <p>Lorem ipsum dolor sit amet consec te tur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua.</p>
        </section>
      </article>
    </div>
  </div>
</section>

<section class="ways-to-watch">
  <div class="container">
    <header>
      <h2>Ways to Watch</h2>
    </header>
    <div class="row">
      <figure class="desktops">
        <div><img src="//s3.amazonaws.com/ample-useast/streaming/watch-desktop.png" alt="" class="img-responsive" /></div>
        <figcaption>Laptops &amp; Desktop Computers</figcaption>
      </figure>
      <figure class="tvs">
        <div><img src="//s3.amazonaws.com/ample-useast/streaming/watch-smart-tv.png" alt="" class="img-responsive" /></div>
        <figcaption>Smart TVs <span>(Web Capable)</span></figcaption>
      </figure>
      <figure class="tablets">
        <div><img src="//s3.amazonaws.com/ample-useast/streaming/watch-mobile.png" alt="" class="img-responsive" /></div>
        <figcaption>Phones &amp; Tablets</figcaption>
      </figure>
      <figure class="roku">
        <div><img src="//s3.amazonaws.com/ample-useast/streaming/watch-roku.png" alt="" class="img-responsive" /></div>
        <figcaption>Roku</figcaption>
      </figure>
      <figure class="apple-tv">
        <div><img src="//s3.amazonaws.com/ample-useast/streaming/watch-apple-tv.png" alt="" class="img-responsive" /></div>
        <figcaption>Apple TV <span>(Version 4)<br>Download app in App Store, search "Crossroads Anywhere"</span></figcaption>
      </figure>
    </div>
  </div>
</section>

<section class="community">
  <div>
    <h2>A Global Community</h2>
    <p>Et possimus voluptas atque eos. Commodi eligendi nostrum cumque. Fugiat quae reprehenderit molestias et nihil facere.</p>
    <p><a href="#" class="btn btn-primary">Watch Now</a></p>
  </div>
</section>

<section class="group-host">
  <div>
    <h2>Create a Community Where You Are</h2>
    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
    <p>
      <a href="#" class="btn btn-primary">Become a Host</a>&nbsp;
      <a href="#" class="btn">Lorem Ipsum</a>
    </p>
  </div>
</section>
