<div class="live-stream">

  <div class="pushdown-container" *ngIf="displayCounter">
    <a href="#" class="pull-right" (click)="displayCounter=false"><span class="glyphicon glyphicon-remove"></span></a>
    <div class="container"><div class="iframe-wrapper">
      <iframe id="slider-iframe" width="800" height="100" src="//crossroads-media.s3.amazonaws.com/documents/crds-live-slider/index.html" frameborder="0" allowfullscreen></iframe>
    </div></div>
  </div>
  <div class="control-container ">
    <div class="container">
      <a href="/live" class="btn btn-standard-dark">Go Back</a>
    </div>
  </div>
  <div class="dark-bg">
    <section class="wow fadeIn">
      <div class="container">
        <videojs></videojs>
      </div>
    </section>
  </div>

  <div class="container">
    <div class="row">
      <section class="related digital-program" *ngIf="dontMiss.length > 0">
          <header class="clearfix">
            <h2>don't miss</h2>
          </header>

          <content-card *ngFor="let event of dontMiss" [content]="event" ></content-card>

      </section>
      <section class="participate digital-program" *ngIf="beTheChurch.length > 0">
        <header class="clearfix">
          <h2>be the church</h2>
        </header>
        
        <article class="wow fadeInUp promo" data-wow-delay="500ms" *ngFor="let promo of beTheChurch">
          <figure class="wow fadeIn" data-wow-delay="">
            <img src="{{promo.image}}" alt="" class="img-responsive" />
          </figure>
          <section>
            <h3>{{ promo.title | truncate: 38 }}</h3>
            <div [innerHTML]="promo.description"></div>
          </section>
          <hr>
        </article>
      </section>
    </div>
  </div>
</div>
