<section class="video">
  <img src="//placehold.it/1146x645" alt="" class="img-responsive" />
</section>

<section class="related">
  <header>
    <h2>don't miss</h2>
  </header>

  <figure>
    <figcaption>Meals to Go</figcaption>
  </figure>

  <figure>
    <figcaption>Prison Ministry</figcaption>
  </figure>

  <figure>
    <figcaption>The Super Bowl of Preaching</figcaption>
  </figure>

  <figure>
    <figcaption>Audition for Awaited</figcaption>
  </figure>
</section>

<section class="participate">
  <header>
    <h2>be the church</h2>
  </header>
  
  <article>
    <h3>Give</h3>
  </article>
  <article>
    <h3>Group Up</h3>
  </article>
  <article>
    <h3>Go Trips</h3>
  </article>
</section>
