<div class="container cr-reskin">
  <div class="roll-call">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-primary" ng-click="geolocation.subtract()">
        <svg viewBox="0 0 32 32" class="icon minus">
          <use xlink:href="#minus"></use>
        </svg>
      </button>
      <button type="button" class="btn btn-primary" ng-click="geolocation.add()">
        <svg viewBox="0 0 32 32" class="icon plus">
          <use xlink:href="#plus"></use>
        </svg>
      </button>
    </div>
    <strong>{{ geolocation.count }} {{ geolocation.subject }}</strong> {{ geolocation.verb }} watching from <input type="text" placeholder="zip code">
    <button href="#" class="btn btn-primary btn-geolocate" ng-click="geolocation.requestLocation()">
      <svg viewBox="0 0 32 32" class="icon crosshairs">
        <use xlink:href="#crosshairs"></use>
      </svg>
    </button>

    <footer>
      <a href="#" class="btn btn-standard-dark">Submit Roll Call</a><br>
      <a href="#" class="btn btn-link">Dismiss</a>
    </footer>
  </div>
</div>