<div class="container cr-reskin" ng-hide="geolocation.dismiss">
  <div class="roll-call">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-primary" ng-click="geolocation.subtract()">
        <svg viewBox="0 0 32 32" class="icon minus">
          <use xlink:href="#minus"></use>
        </svg>
      </button>
      <button type="button" class="btn btn-primary" ng-click="geolocation.add()">
        <svg viewBox="0 0 32 32" class="icon plus">
          <use xlink:href="#plus"></use>
        </svg>
      </button>
    </div>
    <strong>{{ geolocation.location.count }} {{ geolocation.subject }}</strong> <span>{{ geolocation.verb }} watching from</span> <input type="text" placeholder="zip code" ng-model="geolocation.location.zipcode">
    <button class="btn btn-primary btn-geolocate" ng-if="!geolocation.isLocating" ng-click="geolocation.requestLocation()">
      <svg viewBox="0 0 32 32" class="icon crosshairs" >
        <use xlink:href="#crosshairs"></use>
      </svg>
    </button>
    <button disabled="disabled" class="btn btn-primary btn-geolocate" ng-if="geolocation.isLocating">    
      <svg viewBox="0 0 32 32" class="icon icon-preloader loading">
        <use xlink:href="#preloader"></use>
      </svg>
    </button>

    <footer>
      <a ng-click="geolocation.submit()" class="btn btn-standard-dark">Submit Roll Call</a><br>
      <a href="#" class="btn btn-link">Dismiss</a>
    </footer>
  </div>
</div>