<div class="group-invitation">
    <div class="error" ng-if="invitation.error">An unknown error has occurred, please contact support</div>
    <div ng-if="invitation.requestPending">
        Your request is being processed
    </div>
    <div ng-if="!invitation.requestPending">
        <div ng-if="invitation.group">
            <div ng-if="invitation.accepted">
                <p>Your request has been accepted</p>
                <p><a class="btn btn-standard-dark btn-block" ui-sref="group_finder.dashboard">Go to Dashboard</a></p>
            </div>
            <div ng-if="invitation.rejected">
                <p>Your request could not be completed at this time</p>
            </div>
        </div>
        <div ng-if="!invitation.group">
            <p>The group could not be found</p>
        </div>
    </div>
</div>
