{
  "extends": "airbnb-base",

  "rules": {
    "comma-dangle": 0,
    "max-len": 0,
    "eol-last": 0,
    "linebreak-style": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "angular": false,
    "$": false,
    "_": false,
    "crds_utilities": false,
    "_$location_": false,
    "__API_ENDPOINT__": false
  }
}
