{
  "extends": "airbnb-base",

  "rules": {
    "comma-dangle": 0
  },
  "env" : {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "angular": false,
    "$": false,
    "describe"   : false,
    "it"         : false,
    "before"     : false,
    "beforeEach" : false,
    "inject"     : false,
    "after"      : false,
    "afterEach"  : false,
    "_"          : false,
    "crds_utilities" : false,
    "spyOn": false,
    "_$location_" : false,
    "expect" : false,
    __API_ENDPOINT__: false
  }
}
