<div class="row">
  <div class="col-sm-12"><progressbar value="15"></progressbar></div>
</div>

<div dynamic-content="$root.MESSAGES.goVolunteerLaunchSiteQuestion.content | html"></div>

<div class="row">
  <div class="form-group col-xs-12">
    <a ng-repeat="locs in goLaunchSite.locations">
      <div class="media card-item media-card-link" ng-click="goLaunchSite.submit(locs.locationId)">
        <div class="media-left col-xs-3 col-sm-3 col-md-2 soft-half">
          <img class="media-object img-responsive imgix-fluid" data-src="{{locs.imageUrl}}" alt="{{locs.location}}" title="" />
        </div>
        <div class="media-body soft-half-ends soft-half-right">
          <h3 class="media-heading flush-bottom">{{locs.location}}</h3>
          <p class="flush-bottom small">{{locs.address}}<br>{{locs.city}}, {{locs.state}} {{locs.zip}}</p>
        </div>
      </div>
    </a>
    <!--
    ui-sref="go-volunteer.crossroadspage({page: 'project-preference-one'})"
    <img class="media-object img-responsive imgix-fluid" src="//crds-cms-uploads.imgix.net/content/images/florence.jpg" alt="Demo" title="" />
    <img class="media-object img-responsive imgix-fluid" src="//crds-cms-uploads.imgix.net/content/images/mason.jpg" alt="Demo" title="" />
    <img class="media-object img-responsive imgix-fluid" src="//crds-cms-uploads.imgix.net/content/images/westside.jpg" alt="Demo" title="" />
    <img class="media-object img-responsive imgix-fluid" src="//crds-cms-uploads.imgix.net/content/images/bogarts.jpg" alt="Demo" title="" />
    <img class="media-object img-responsive imgix-fluid" src="//crds-cms-uploads.imgix.net/content/images/oxford.jpg" alt="Demo" title="" />
     -->
  </div>
</div>
