<h4 class="">Confirmed Team Members</h4>
<div ng-repeat="role in serveTeamMembers.allMembers" class="row serve-role-members">
  <div class="col-sm-3 soft-half-top">
    <strong>{{role.name}}</strong>
  </div>
  <div class="col-sm-9 soft-half-top">
    <closable-tag ng-repeat="member in role.members"
                  name="member.name"
                  on-click="serveTeamMembers.memberClicked(member)"
                  on-close="serveTeamMembers.memberRemoved(member)"
                  class="push-half-right push-half-bottom"></closable-tag>
    <span ng-if="role.members.length == 0">None</span>
  </div>
</div>
