<preloader full-screen='false' ng-show='!$ctrl.viewReady'> </preloader>

<h2 class="ng-scope push-bottom">What church or organization are you participating with?</h2>
<div class="form-group">
  <div ng-repeat="organization in $ctrl.organizations">
    <div class="media card-item media-card-link">
      <div class="media-left col-xs-3 col-sm-3 col-md-2 soft-half"><img class="media-object img-responsive imgix-fluid" data-src="{{organization.imageUrl}}" alt="Demo" src="{{organization.imageUrl}}" title=""></div>
      <div class="media-body col-xs-9 col-sm-9 col-md-9 soft-half-ends soft-half-right soft-left mobile-hard-left">
        <h3 class="media-heading push-half-bottom" ng-class="{ 'flush-bottom': organization.subtitle, 'push-half-bottom': !organization.subtitle }">{{organization.name}}</h3>
        <p ng-if="organization.subtitle" class="flush-bottom">{{organization.subtitle}}</p>

        <!-- Organization Cities -->
        <div ng-if="organization.cities">
          <select class="form-control push-half-bottom" ng-model='$ctrl.selectedCity' ng-options="city as city.name for city in organization.cities">
            <option value="">Select Location</option>
          </select>
          <p class="help-block">Don't see your area?  Discover other opportunities in your city.</p>
        </div>
      </div>
    </div>
  </div>
</div>
