<div class="row">
  <div class="col-sm-12">
    <progressbar value="15"></progressbar>
  </div>
</div>

<div dynamic-content="$root.MESSAGES.goVolunteerAvailablePrepQuestion.content | html"></div>

<div class="row">
  <div class="col-xs-12">
    
    <a class="btn btn-standard btn-block push-half-bottom"
       ng-repeat="p in goAvailablePrep.prepWork"
       ng-click="goAvailablePrep.chooseTime(p)"> 
      Yes, from {{ p.name }}
    </a>

    <a class="btn btn-standard-dark btn-block"
       ng-click="goAvailablePrep.chooseTime(false)">
      No, I'm not available
    </a>

  </div>
</div>
