<div ng-if="!EventSetupCtrl.allowAdminAccess()" class="alert alert-danger" role="alert">
  <div dynamic-content="$root.MESSAGES.mptool_invalid_access.content | html"></div>
</div>

<div ng-if="EventSetupCtrl.allowAdminAccess()" class="form-group col-lg-12">
  <h1 class="page-header">Event Setup</h1>
  <div class="push-top">
    <div class="row">
      <div class="form-group col-sm-4">
        <site-filter site="EventSetupCtrl.site" on-change="EventSetupCtrl.loadEvents()"></site-filter>
      </div>
      <div class="form-group col-sm-6">
        <event-filter label="Event Template" event="EventSetupCtrl.template" events="EventSetupCtrl.eventTemplates"></event-filter>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <event-filter label="Event" event="EventSetupCtrl.event" events="EventSetupCtrl.events"></event-filter>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
          <!--<button class="btn btn-primary btn-sm" ng-click="trip.cancel()">Cancel</button>-->
          <!--<button class="btn btn-primary btn-sm"-->
                  <!--ng-class="{disabled: trip.processing}"-->
                  <!--ng-disabled="!tripForm.$valid"-->
                  <!--ng-click="trip.save()">-->
              <!--<span ng-if="trip.processing">Saving...</span>-->
              <!--<span ng-if="!trip.processing">Save</span>-->
          <!--</button>-->
        <button class="btn btn-primary btn-sm" ng-click="EventSetupCtrl.setup()">Setup</button>
      </div>
    </div>
  </div>
</div>
