 <div>
    <div class="row">
        <div class="form-group col-sm-4">
          <site-filter site-id="EventSetupCtrl.siteId" on-change="EventSetupCtrl.loadEvents(siteId)"></site-filter>
        </div>
        <div class="form-group col-sm-6">
            <label> Event Template </label>
            <select class="form-control col-sm-12"
                    ng-model="EventSetupCtrl.templateId"
                    ng-options="eventTemplate.EventId as eventTemplate.EventTitle for eventTemplate in EventSetupCtrl.eventTemplates">
                <option value="" disabled="disabled" selected="selected" style="display:none"> -- Choose One -- </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label> Event </label>
            <select class="form-control col-sm-12"
                    ng-model="EventSetupCtrl.eventId"
                    ng-options="event.EventId as event.EventTitle for event in EventSetupCtrl.events">
                <option value="" disabled="disabled" selected="selected" style="display:none"> -- Choose One -- </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <button class="btn btn-primary btn-sm" ng-click="trip.cancel()">Cancel</button>
            <button class="btn btn-primary btn-sm"
                    ng-class="{disabled: trip.processing}"
                    ng-disabled="!tripForm.$valid"
                    ng-click="trip.save()">
                <span ng-if="trip.processing">Saving...</span>
                <span ng-if="!trip.processing">Save</span>
            </button>
        </div>
    </div>
</div>

