<form name="messageParticipantsForm" ng-submit='messageParticipants.submit(messageParticipantsForm, messageParticipants.message)' novalidate>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>

      <div class='row'>
        <div class='col-md-12'>
          <h3>Email Group</h3>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12'>
          <div class='form-group' ng-class='{"has-error": messageParticipantsForm.$submitted && messageParticipantsForm.emailSubject.$invalid}'>
            <label class='control-label required' for='emailSubject' >Subject</label>
            <input ng-model="messageParticipants.message.subject" id='emailSubject' type='text' class='form-control' name='emailSubject' required></input>
            <ng-messages for="messageParticipantsForm.emailSubject.$error" ng-show="messageParticipantsForm.$submitted && messageParticipantsForm.emailSubject.$invalid">
              <ng-messages-include src="on-blur-messages"></ng-messages-include>
            </ng-messages>
            <ng-messages for="messageParticipantsForm.emailSubject.$error" ng-if="messageParticipantsForm.$submitted && messageParticipantsForm.emailSubject.$invalid">
              <ng-messages-include src="on-submit-messages"></ng-messages-include>
            </ng-messages>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12'>
          <div class='form-group' ng-class='{"has-error": messageParticipantsForm.$submitted && messageParticipantsForm.emailBody.$invalid}'>
            <label class='control-label required' for='emailBody'>Message</label>
            <textarea ng-model="messageParticipants.message.body" id='emailBody' type='textarea' rows='8' class='form-control' name='emailBody' required></textarea>
            <ng-messages for="messageParticipantsForm.emailBody.$error" ng-show="messageParticipantsForm.$submitted && messageParticipantsForm.emailBody.$invalid">
              <ng-messages-include src="on-blur-messages"></ng-messages-include>
            </ng-messages>
            <ng-messages for="messageParticipantsForm.emailBody.$error" ng-show="messageParticipantsForm.$submitted && messageParticipantsForm.emailBody.$invalid">
              <ng-messages-include src="on-submit-messages"></ng-messages-include>
            </ng-messages>
          </div>
        </div>
      </div>

      <div class='row'>&nbsp;</div>

      <div class='row'>
        <div class='col-md-12'>
          <p class='text-center'>
            <loading-button
                    normal-text='Cancel'
                    loading-text='Cancel'
                    loading='messageParticipants.processing'
                    loading-class='disabled'
                    input-classes='btn btn-standard'
                    ng-click='messageParticipants.cancel(messageParticipants.message)'></loading-button>
            <loading-button
                    input-type='submit'
                    normal-text='Send'
                    loading-text='Sending...'
                    loading='messageParticipants.processing'
                    loading-class='disabled'
                    input-classes='btn btn-primary'></loading-button>
          </p>
        </div>
      </div>
    </div>
  </div>
</form>