<div class="live-stream" ng-if="stream.inProgress">
  <div class="dark-bg">
    <header class="container clearfix">
      <a class="navbar-brand logo pull-left" href="http://crossroads.net">
        <svg class="icon-logo" viewBox="0 0 800.416 115.217">
          <use xlink:href="#logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <a href="/live-v1" class="pull-right" data-dismiss="modal" ><span class="glyphicon glyphicon-remove"></span></a>
    </header>
    <section>
      <div class="container">
        <streamspot-player></streamspot-player>
      </div>
    </section>
  </div>

  <div class="container cr-reskin">
    <div class="roll-call">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary">
          <svg viewBox="0 0 32 32" class="icon minus">
            <use xlink:href="#minus"></use>
          </svg>
        </button>
        <button type="button" class="btn btn-primary">
          <svg viewBox="0 0 32 32" class="icon plus">
            <use xlink:href="#plus"></use>
          </svg>
        </button>
      </div>
      <strong>0 people</strong> are watching from <input type="text" placeholder="zip code">
      <a href="#" class="btn btn-primary btn-geolocate">
        <svg viewBox="0 0 32 32" class="icon crosshairs">
          <use xlink:href="#crosshairs"></use>
        </svg>
      </a>

      <footer>
        <a href="#" class="btn btn-standard-dark">Submit Roll Call</a><br>
        <a href="#" class="btn btn-link">Dismiss</a>
      </footer>
    </div>
  </div>

  <div class="container digital-program-container">

    <section class="related digital-program bg">
      <header class="clearfix">
        <h2>don't miss</h2>
      </header>

      <content-card ng-repeat="event in stream.dontMiss" content="event"></content-card>

    </section>
    <section class="participate digital-program bg">
      <div class="row">

        <header class="clearfix">
          <h2>be the church</h2>
        </header>

        <article class="promo" ng-repeat="promo in stream.beTheChurch">
          <figure>
            <linked-content href="{{ promo.url }}" target="_blank">
              <img ng-src="{{ promo.image }}" alt="" class="img-responsive"  title="{{ promo.title }}">
            </linked-content>
          </figure>
          <section>
            <h3 title="{{ promo.title }}"><linked-content href="{{ promo.url }}" target="_blank">{{ promo.title | truncate: 38 }}</linked-content></h3>
            <div ng-bind-html="promo.description"></div>
          </section>
        </article>

      </div>
    </section>

  </div>
</div>