<div class="live-stream" ng-if="stream.inProgress">
  <div class="dark-bg">
    <header class="container clearfix">
      <a class="navbar-brand logo pull-left" href="http://crossroads.net">
        <svg class="icon-logo" viewBox="0 0 800.416 115.217">
          <use xlink:href="#logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <a href="/live" class="pull-right" data-dismiss="modal"><svg viewBox="0 0 32 32" class="icon arrow-left3"><use xlink:href="#arrow-left3"></use></svg> Go Back</a>
    </header>
    <section>
      <div class="container">
        <streamspot-player></streamspot-player>
      </div>
    </section>
  </div>

  <geolocation ng-show="stream.showGeolocationBanner()"></geolocation>

  <div class="digital-program-container">
    <div class="flex__container container">
      <div class="flex__item digital-program__giving">Inline Giving</div>

      <div class="flex__item digital-program__articles">
        <section class="" ng-show="stream.dontMiss.length">
          <header class="clearfix">
            <h2>don't miss</h2>
          </header>

          <!-- Carousel Wrapper -->
          <div class="crds-card-carousel">
            <!-- Carousel Controls -->
            <div class="crds-carousel__controls">
              <a href="#" class="crds-carousel__control crds-carousel__control--prev">&lt;</a>
              <a href="#" class="crds-carousel__control crds-carousel__control--next">&gt;</a>
            </div>

            <!-- Carousel Content -->
            <div class="crds-carousel__content-wrap">
              <ul class="crds-carousel__list">
                <content-card ng-repeat="event in stream.dontMiss" content="event"></content-card>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="flex__container container">
      <div class="flex__item digital-program__participate"
           ng-show="stream.beTheChurch.length">

        <header class="clearfix">
          <h2>be the church</h2>
        </header>

        <div class="row">
          <article class="media"
                  ng-repeat="promo in stream.beTheChurch">

            <figure class="media-left">
                <linked-content href="{{ promo.url }}"
                                target="_blank">

                  <img ng-src="{{ promo.image }}"
                      alt=""
                      class="img-responsive media-object"
                      title="{{ promo.title }}">

                </linked-content>
            </figure>

            <section class="media-body">
              <h3 class="media-heading"
                  title="{{ promo.title }}">

                <linked-content href="{{ promo.url }}"
                                target="_blank"
                                ng-bind-html="promo.title | truncate: 38"></linked-content>

              </h3>

              <div ng-bind-html="promo.description"></div>
            </section>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
