<preloader full-screen='false' ng-show='!groupDetailParticipants.ready'> </preloader>

<!-- List or Edit participants -->
<div
  ng-show='groupDetailParticipants.ready'
  ng-if='groupDetailParticipants.isListView() || groupDetailParticipants.isEditView()'>
  <div class='group-detail-participant-list row push-top'>
    <div ng-repeat='participant in groupDetailParticipants.data' class="group-detail-participant-item col-xs-12 col-sm-6 col-lg-4 push-bottom">
      <group-detail-participant-card
                                     delete-action='groupDetailParticipants.beginRemoveParticipant(participant)'
                                     role-action='groupDetailParticipants.beginChangeParticipantRole(participant)'
                                     participant='participant'
                                     edit='groupDetailParticipants.isEditView()'>
      </group-detail-participant-card>
    </div>
  </div>
  <div class='row'>&nbsp;</div>

  <div ng-if="groupDetailParticipants.isLeader" dynamic-content="$root.MESSAGES.groupToolDetailParticipantsHelpText.content | html" class="text-center"></div>

  <div ng-if="groupDetailParticipants.data.length > 1" class='row'>
    <div class='col-md-12'>
      <p class='text-center' ng-if='groupDetailParticipants.isListView()'>
        <a type='button' class='btn btn-primary' href="mailto:?bcc={{groupDetailParticipants.emailList()}}" target="_top">Email Group</a>
        <a type='button' class='btn btn-primary' href='#' ng-click='groupDetailParticipants.setEditView()' ng-if='groupDetailParticipants.isLeader'>Edit</a>
      </p>
      <p class='text-center' ng-if='groupDetailParticipants.isEditView()'>
        <a type='button' class='btn btn-primary' href='#' ng-click='groupDetailParticipants.setListView()' ng-if='groupDetailParticipants.isLeader'>Cancel</a>
      </p>
    </div>
  </div>
</div>

<!-- Delete a participant -->
<div class='container-fluid' ng-if='groupDetailParticipants.isDeleteView() && groupDetailParticipants.isLeader'>
  <group-message person="groupDetailParticipants.deleteParticipant"
    normal-loading-text="Remove Participant"
    loading-loading-text="Removing..."
    header="Remove Participant - {{groupDetailParticipants.deleteParticipant.displayName()}}"
    sub-header-text="groupToolRemoveParticipantSubheaderText"
    contact-text="groupToolRemoveParticipantPleaseContactText"
    email-template-text="groupToolRemoveParticipantEmailTemplateText"
    cancel-action="groupDetailParticipants.cancelRemoveParticipant(person)"
    submit-action="groupDetailParticipants.removeParticipant(person)"
    processing="groupDetailParticipants.processing"
    ></group-message>
</div>

<!-- Email participants -->
<div class='container-fluid' ng-if='groupDetailParticipants.isEmailView()'>
  <message-participants
    message='groupDetailParticipants.groupMessage'
    cancel-action='groupDetailParticipants.cancelMessageParticipants(message)'
    submit-action='groupDetailParticipants.messageParticipants(message)'
    processing='groupDetailParticipants.processing'/>
  />
</div>

<!-- Change Participant Role -->
<div ng-if="groupDetailParticipants.isRoleView()">
  <change-participant-role
    participant="groupDetailParticipants.roleParticipant"
    cancel-action="groupDetailParticipants.finishChangeParticipantRole()"
    submit-action="groupDetailParticipants.finishChangeParticipantRole()"></change-participant-role>
</div>
