<preloader full-screen='false' ng-show='!groupDetailParticipants.ready'> </preloader>

<!-- List or Edit participants -->
<div class='container-fluid' ng-show='groupDetailParticipants.ready' ng-if='groupDetailParticipants.isListView() || groupDetailParticipants.isEditView()'>
  <div class='row'>
    <div class='col-md-12 group-participants'>
      <group-detail-participant-card ng-repeat='participant in groupDetailParticipants.data' delete-action='groupDetailParticipants.beginRemoveParticipant(participant)' participant='participant' edit='groupDetailParticipants.currentView === "Edit"'></group-detail-participant-card>
    </div>
  </div>
  <div class='row'>&nbsp;</div>
  <div class='row'>
    <div class='col-md-12'>
      <p class='text-center' ng-if='groupDetailParticipants.isListView()'>
        <a type='button' class='btn btn-primary' href='#' ng-click='groupDetailParticipants.setEmailView()'>Email Group</a>
        <a type='button' class='btn btn-primary' href='#' ng-click='groupDetailParticipants.setEditView()'>Edit</a>
      </p>
      <p class='text-center' ng-if='groupDetailParticipants.isEditView()'>
        <a type='button' class='btn btn-primary' href='#' ng-click='groupDetailParticipants.setListView()'>Cancel</a>
      </p>
    </div>
  </div>
</div>

<!-- Delete a participant -->
<div class='container-fluid' ng-if='groupDetailParticipants.isDeleteView()'>
  <remove-participant
    participant='groupDetailParticipants.deleteParticipant'
    cancel-action='groupDetailParticipants.cancelRemoveParticipant(participant)'
    submit-action='groupDetailParticipants.removeParticipant(participant)'/>
</div>

<!-- Email participants -->
<div class='container-fluid' ng-if='groupDetailParticipants.isEmailView()'>
  <form>
    <div class='row'>
      <div class='col-md-6 col-md-offset-3'>

        <div class='row'>
          <div class='col-md-12'>
            <h3>Email Group</h3>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-12'>
            <div class='form-group'>
              <label for='emailSubject' class='wide-label'>Subject</label>
              <input type='text' class='form-control' name='emailSubject'></input>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-12'>
            <div class='form-group'>
              <label for='emailMessage' class='wide-label'>Message</label>
              <textarea type='textarea' rows='8' class='form-control' name='emailMessage'></textarea>
            </div>
          </div>
        </div>

        <div class='row'>&nbsp;</div>
        
        <div class='row'>
          <div class='col-md-12'>
            <p class='text-center'>
              <a type='button' class='btn btn-primary' href='#' ng-click='groupDetailParticipants.setListView()'>Cancel</a>
              <a type='button' class='btn btn-primary' href='#' ng-click='groupDetailParticipants.setListView()'>Send</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
